<div id="tenant-list" flex>

	<div>

		<div class="header" layout="row">

			<div flex>
				<a ng-click="vm.sortBy('name')">
					<span class="column-title">{{ 'COMMON.NAME' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.TenantsListSort.propertyName === 'name'" ng-class="{reverse: vm.$localStorage.TenantsListSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex="20">
				<a ng-click="vm.sortBy('url')">
					<span class="column-title">URL</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.TenantsListSort.propertyName === 'url'" ng-class="{reverse: vm.$localStorage.TenantsListSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>


			<div flex="15">
				<a ng-click="vm.sortBy('created_at')">
					<span class="column-title">{{ 'TOUCHPOINTS.UPDATED_AT' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.TenantsListSort.propertyName === 'created_at'" ng-class="{reverse: vm.$localStorage.TenantsListSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex="15">
				<a ng-click="vm.sortBy('updated_at')">
					<span class="column-title">{{ 'TOUCHPOINTS.UPDATED_AT' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.TenantsListSort.propertyName === 'updated_at'" ng-class="{reverse: vm.$localStorage.TenantsListSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex="10" ng-if="tenant.id != vm.ownTenantId">

			</div>

		</div>

		<div ng-if="vm.$localStorage.tenantsList[vm.$localStorage.tenantsList.use] && vm.$localStorage.tenantsList.refreshed">

			<div class="item" layout="row" ng-repeat="tenant in vm.$localStorage.tenantsList[vm.$localStorage.tenantsList.use] | orderBy:vm.$localStorage.TenantsListSort.propertyName:vm.$localStorage.TenantsListSort.reverse" layout-align="center center">

				<div flex>
					{{tenant.name}}
				</div>

				<div flex="20">
					{{tenant.url}}
				</div>

				<div class="date" flex="15">
					{{tenant.created_at | amDateFormat:'DD.MM.YYYY'}}<br>{{tenant.updated_at | amDateFormat:'HH:mm:ss'}}
				</div>

				<div class="date" flex="15">
					{{tenant.updated_at | amDateFormat:'DD.MM.YYYY'}}<br>{{tenant.updated_at | amDateFormat:'HH:mm:ss'}}
				</div>

				<div class="actions" flex="10" layout layout-align="end center" ng-if="tenant.id != vm.ownTenantId">
					<md-button href="#/tenant/{{tenant.id}}" class="md-icon-button">
						<md-icon>edit</md-icon>
					</md-button>
					<md-menu md-position-mode="target-right target">
						<md-button class="md-icon-button" ng-click="vm.openGroupContextMenu($mdOpenMenu, $event)">
							<md-icon class="material-icons">more_horiz</md-icon>
						</md-button>
						<md-menu-content>
							<md-menu-item ng-if="!tenant.kontakt_io_venue_id || tenant.initial_kontakt_io_sync == true">
								<md-button ng-click="vm.toggleActivity(tenant.id, $event)" ng-disabled="vm.toggleActivityInProgress">
									<span ng-if="!tenant.active">
										<md-icon>lock_open</md-icon>
										{{ 'TENANTS.ACTIVATE_TENANT' | translate }}
									</span>
									<span ng-if="tenant.active">
										<md-icon>lock</md-icon>
										{{ 'TENANTS.DEACTIVATE_TENANT' | translate }}
									</span>
								</md-button>
							</md-menu-item>
							<md-menu-item ng-if="(tenant.kontakt_io_venue_id && tenant.initial_kontakt_io_sync == false) || tenant.syncable_batches == true">
								<md-button ng-click="vm.openSyncDialog(tenant, false)">
									<md-icon>sync</md-icon>
									Sync with Kontakt.io
								</md-button>
							</md-menu-item>
							<md-menu-item ng-if="(!tenant.kontakt_io_venue_id || tenant.initial_kontakt_io_sync == true)">
								<md-button ng-click="vm.openAddUrlsDialog(tenant)">
									<md-icon>link</md-icon>
									Add URLs to tenant
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>

				<span flex="10" ng-if="tenant.id == vm.ownTenantId"></span>

			</div>

		</div>

		<div class="no-data item" ng-if="(!vm.$localStorage.tenantsList[vm.$localStorage.tenantsList.use] || vm.$localStorage.tenantsList[vm.$localStorage.tenantsList.use].length == 0) && !vm.$localStorage.tenantsList.loading">

			<span ng-if="vm.$localStorage.tenantsList.use == 'data'">{{ 'TENANTS.NO_TENANTS' | translate }}</span>
			<span ng-if="vm.$localStorage.tenantsList.use == 'searchData'">{{ 'COMMON.NO_SEARCH_RESULTS' | translate }}</span>

		</div>

		<infinite-scrolling type="'tenants'"></infinite-scrolling>

	</div>

	<spinner ng-if="!vm.$localStorage.tenantsList[vm.$localStorage.tenantsList.use] || vm.$localStorage.tenantsList.loading"></spinner>

</div>

