<div id="poi_top_bar" class="sb-boxshadow" layout="row" layout-align="none right" layout-padding>

	<span flex></span>

	<md-switch class="md-block" ng-model="vm.$localStorage.poiExtendedViewActivated">
		<span>{{ 'POIS.EXTENDED_VIEW' | translate }}</span>
	</md-switch>

</div>

<div id="poi_list" flex>

	<div class="header" layout="row" ng-if="vm.$localStorage.poisList.data || vm.$localStorage.poisList.data.length == 0">
		<div flex="45">
			<a ng-click="vm.sortBy('name')">
				<span class="column-title">{{ 'COMMON.NAME' | translate }}</span>
				<md-icon class="material-icons" ng-show="vm.$localStorage.POISort.propertyName === 'name'" ng-class="{reverse: vm.$localStorage.POISort.reverse}">arrow_drop_down</md-icon>
			</a>
		</div>
		<div flex="10">
			{{ 'COMMON.TOUCHPOINTS' | translate }}
		</div>
		<div flex="15" class="languages">
			{{ 'COMMON.LANGUAGES' | translate }}
		</div>
		<div flex="10" class="date">
			<a ng-click="vm.sortBy('date')">
				<span class="column-title">{{ 'TOUCHPOINTS.UPDATED_AT' | translate }}</span>
				<md-icon class="material-icons" ng-show="vm.$localStorage.POISort.propertyName === 'date'" ng-class="{reverse: vm.$localStorage.POISort.reverse}">arrow_drop_down</md-icon>
			</a>
		</div>
		<div flex="10" class="status">
			{{ 'COMMON.STATUS' | translate }}
		</div>
	</div>

	<div ng-if="vm.$localStorage.poisList[vm.$localStorage.poisList.use] && vm.$localStorage.poisList.refreshed">

		<div class="item" ng-repeat="poi in vm.$localStorage.poisList[vm.$localStorage.poisList.use] | orderBy:vm.$localStorage.POISort.propertyName:vm.$localStorage.POISort.reverse">

			<div layout="row" layout-align="center center">

				<div flex="45">

					<a href="#/pois/{{poi.id}}" class="md-icon-button item-anchor">
						<span class="poi-name">{{poi.name}}</span>
					</a>

					<span ng-if="vm.lockedPois[poi.id]">
						<md-icon class="material-icons poi-locked">lock</md-icon>
						<md-tooltip md-direction="right">
							{{ vm.lockedPois[poi.id][0].firstname }} {{ vm.lockedPois[poi.id][0].lastname }} bearbeitet gerade
						</md-tooltip>
					</span>
				</div>

				<div flex="10">
					{{poi.beacons.length}}
				</div>

				<div flex="15" class="languages">

					<span ng-repeat="content in poi.poi_contents | orderBy:'language'" class="poi-language" ng-class="{'default-language':poi.fallback_language==content.language, 'public':content.active, 'draft':!content.active}">
						{{content.language}}
					</span>

				</div>

				<div class="date" flex="10">
					{{poi.updated_at | localizedDateFilter:'L'}}<br> {{poi.updated_at | localizedDateFilter:'LT'}}
				</div>

				<div class="status" flex="10">
					<span ng-if="!poi.active">
						<md-icon class="material-icons draft">radio_button_checked</md-icon>
						<md-tooltip md-direction="left">
							{{ 'COMMON.DRAFT' | translate }}
						</md-tooltip>
					</span>
					<span ng-if="poi.active">
						<md-icon class="material-icons public">radio_button_checked</md-icon>
						<md-tooltip md-direction="left">
							{{ 'COMMON.PUBLIC' | translate }}
						</md-tooltip>
					</span>
				</div>

				<div class="actions" flex>
					<md-button href="#/pois/{{poi.id}}" class="md-icon-button">
						<i class="material-icons">edit</i>
					</md-button>
					<md-button href="{{vm.CommonService.getEdwardPreviewURL(poi.id)}}?i=true" target="_blank" ng-if="poi.active" class="md-icon-button">
						<i class="material-icons">remove_red_eye</i>
					</md-button>
				</div>

			</div>

			<div layout="row" layout-align="center start" ng-show="vm.$localStorage.poiExtendedViewActivated">

				<div flex="45"></div>

				<div flex="10">
					<div ng-repeat="touchpoint in poi.beacons">{{touchpoint.name}}</div>
				</div>

				<div flex="15" class="languages"></div>

				<div class="date" flex="10">
					<b>{{ 'POIS.CREATED_AT' | translate }}</b><br>
					{{poi.created_at | amDateFormat:'DD.MM.YYYY'}}<br>
					{{poi.created_at | amDateFormat:'HH:mm:ss'}}
				</div>

				<div class="status" flex="10"></div>

				<div class="actions" flex></div>

			</div>

		</div>

	</div>

	<div class="no-data item" ng-if="(!vm.$localStorage.poisList[vm.$localStorage.poisList.use] || vm.$localStorage.poisList[vm.$localStorage.poisList.use].length == 0) && !vm.$localStorage.poisList.loading">

		<span ng-if="vm.$localStorage.poisList.use == 'data'">{{ 'POIS.NO_POIS' | translate }}</span>
		<span ng-if="vm.$localStorage.poisList.use == 'searchData'">{{ 'COMMON.NO_SEARCH_RESULTS' | translate }}</span>

	</div>

	<infinite-scrolling type="'pois'"></infinite-scrolling>

	<spinner ng-if="!vm.$localStorage.poisList[vm.$localStorage.poisList.use]|| vm.$localStorage.poisList.loading"></spinner>

</div>
