<md-input-container style="width: 100%;">
	<label>{{ 'COMMON.SEARCH' | translate }}</label>
	<input type="text" id="map-search" ng-model="vm.mapSearch" placeholder="{{ 'COMMON.MAP_SEARCH_PLACEHOLDER' | translate }}">
</md-input-container>

<div id="map"></div>
