
<div id="touchpoint_select" ng-if="!vm.checkingForTouchpoints" layout="row">
    <!-- <div>Touchpoints: {{vm.touchpointsUserCanHave.length}}</div> -->

    <md-list flex>
        <md-list-item>
            <md-input-container class="md-block">
                <label><i class="material-icons">search</i> {{ 'USERS.TOUCHPOINTS_ACCESSIBLE' | translate }} ({{vm.touchpointsUserHas.length}})</label>
                <input ng-model="vm.touchpointsUserHasSearch" ng-model-options="{ debounce: 350 }">
            </md-input-container>
        </md-list-item>
        <md-list-item class="md-3-line" ng-repeat="touchpointUserHas in vm.touchpointsUserHas | filter:vm.filterFunction(vm.touchpointsUserHasSearch)" ng-click="vm.removeTouchpointFromAccessibleTouchpoints(touchpointUserHas)">
            <div class="md-list-item-text" layout="column">
                <h3>{{ vm.getDisplayName(touchpointUserHas) }}</h3>
                <h4>{{ 'COMMON.URL' | translate }}: {{ touchpointUserHas.url }}</h4>
                <p>{{ 'TOUCHPOINTS.LINKED_TO_POI' | translate }}: <span ng-if="touchpointUserHas.in_use">{{ 'COMMON.YES'| translate }}</span><span ng-if="!touchpointUserHas.in_use">{{ 'COMMON.NO'| translate }}</span></p>
            </div>
        </md-list-item>
    </md-list>

    <md-list flex>
        <md-list-item>
            <md-input-container class="md-block">
                <label><i class="material-icons">search</i> {{ 'USERS.TOUCHPOINTS_LINKABLE' | translate }} ({{vm.touchpointsUserCanHave.length}})</label>
                <input ng-model="vm.touchpointsUserCanHaveSearch" ng-model-options="{ debounce: 350 }">
            </md-input-container>
        </md-list-item>
        <md-list-item class="md-3-line" ng-repeat="touchpointUserCanHave in vm.touchpointsUserCanHave | filter:vm.filterFunction(vm.touchpointsUserCanHaveSearch)" ng-click="vm.addTouchpointToAccessibleTouchpoints(touchpointUserCanHave)">
            <div class="md-list-item-text" layout="column">
                <h3>{{ vm.getDisplayName(touchpointUserCanHave) }}</h3>
                <h4>{{ 'COMMON.URL' | translate }}: {{ touchpointUserCanHave.url }}</h4>
                <p>{{ 'TOUCHPOINTS.LINKED_TO_POI' | translate }}: <span ng-if="touchpointUserCanHave.in_use">{{ 'COMMON.YES'| translate }}</span><span ng-if="!touchpointUserCanHave.in_use">{{ 'COMMON.NO'| translate }}</span></p>
            </div>
        </md-list-item>
    </md-list>
</div>
<div ng-if="vm.checkingForTouchpoints" layout="row" layout-align="center center">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
