
#apps_top_bar {

	margin: 0 0 20px 0;
	background: #fff;

	a {
		text-decoration: inherit;
		font-weight: bold;
		color: rgba(35,35,45,.7);
	}

	a:hover {
		color: rgba(35,35,45,1);
	}

}

#apps_list {

	background: #fff;
	-webkit-box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
	box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);

	.md-button {

		&.add-app {

			vertical-align: middle;
			color: #000 !important;

			md-icon {
				height: 18px;
				widows: 18px;
				vertical-align: middle;
			}

			span {
				padding: 0 10px 0 0;
				vertical-align: middle;
			}

		}

	}

	.header {

		margin: 0 20px;
		padding: 15px 0 10px 0;
		border-bottom: 2px solid #f4f4f4;
		color: rgba(35,35,45,1);
		font-weight: 500;

		.column-title {
			vertical-align: middle;
		}

		.reverse {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}

	}

	.item {

		margin: 0 20px;
		padding: 10px 0;
		border-bottom: 1px solid #f4f4f4;
		color: rgba(35,35,45,.7);

		-o-transition:.2s;
		-ms-transition:.2s;
		-moz-transition:.2s;
		-webkit-transition:.2s;
		transition:.2s;

		> div {
			vertical-align: middle;
		}

		.date {
			font-size: 14px;
		}

		.actions {

			text-align: right;

			a {
				margin: 0 0 0 5px;
				cursor: pointer;
				text-decoration: none;
			}

			md-icon {
				width: 20px;
				height: 20px;
			}

			.material-icons {
				-o-transition:.2s;
				-ms-transition:.2s;
				-moz-transition:.2s;
				-webkit-transition:.2s;
				transition:.2s;
				color: rgba(35,35,45,.7);
			}

		}

		&:hover {

			color: rgba(35,35,45,1);

			.material-icons {
				color: rgba(35,35,45,1);
			}

		}

	}

	.no-data {
		padding: 20px;
		text-align: center;
	}

}
