
<div id="apps_top_bar" class="sb-boxshadow" layout="row" layout-align="none right" layout-padding>

	<span flex>{{ 'APPS.API_HINT' | translate }} <a href="https://api-docs.rakete7.com/" target="_blank">https://api-docs.rakete7.com/</a></span>

</div>

<div id="apps_list" flex>

	<div class="header" layout="row">

		<div flex="80">
			<a ng-click="vm.sortBy('appname')">
				<span class="column-title">{{ 'APPS.NAME' | translate }}</span>
				<md-icon class="material-icons" ng-show="vm.$localStorage.AppsSort.propertyName === 'appname'" ng-class="{reverse: vm.$localStorage.AppsSort.reverse}">arrow_drop_down</md-icon>
			</a>
		</div>

	</div>

	<div ng-if="vm.$localStorage.appsList[vm.$localStorage.appsList.use] && vm.$localStorage.appsList.refreshed">

		<div class="item" layout="row" ng-repeat="app in vm.$localStorage.appsList[vm.$localStorage.appsList.use] | orderBy:vm.$localStorage.AppsSort.propertyName:vm.$localStorage.AppsSort.reverse" layout-align="center center">

			<div flex="80">
				{{app.appname}}
			</div>

			<div class="actions" flex>
				<a href="#/admin/apps/{{app.id}}">
					<i class="material-icons">edit</i>
				</a>
			</div>

		</div>

	</div>

	<div class="no-data item" ng-if="(!vm.$localStorage.appsList[vm.$localStorage.appsList.use] || vm.$localStorage.appsList[vm.$localStorage.appsList.use].length == 0) && !vm.$localStorag.appsList.loading">

		<span ng-if="vm.$localStorage.appsList.use == 'data'">{{ 'APPS.NO_APPS' | translate }}</span>
		<span ng-if="vm.$localStorage.appsList.use == 'searchData'">{{ 'COMMON.NO_SEARCH_RESULTS' | translate }}</span>

	</div>

	<infinite-scrolling type="'apps'"></infinite-scrolling>

	<spinner ng-if="!vm.$localStorage.appsList[vm.$localStorage.appsList.use] || vm.$localStorage.appsList.loading"></spinner>

</div>
