.module-dialog {

	&.image-module {

		.image-wrapper {

			margin: 0 0 40px 0;

			.selection {

				img {
					width: 80px;
					height: 80px;
				}

			}

		}

		image-preview {

			.image-container {
				height: 100px;
				width: 100px;
			}

		}

		.preview-image {
			height: 100px;
		}

		.input-spacer {
			padding: 0 10px 30px;
		}

		.spacer-div {
			padding-top: 30px;
		}

	}

}