<md-dialog class="module-dialog image-module">

	<form ng-submit="image_module_dialog_form.$valid && vm.save()" name="image_module_dialog_form" id="image_module_dialog_form">

		<md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('general')" name="general">{{ 'POIS.GENERAL' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

		<md-dialog-content>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'general'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
					<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
				</md-input-container>

				<h2>{{ 'COMMON.IMAGE' | translate}}</h2>

				<md-divider class="input-spacer"></md-divider>

				<div layout="row">

					<div flex="50">
						<h4>{{ 'MODULES.PREVIEW' | translate}}</h4>
					</div>

					<div flex="50">

						<img class="preview-image" ng-if="vm.previewUrl && vm.type!='id'" ng-src="{{vm.previewUrl}}" />

						</img>

						<image-preview ng-if="vm.type=='id'" image-id="vm.imageId"></image-preview>

					</div>

				</div>

				<div class="spacer-div"></div>

				<md-divider class="input-spacer"></md-divider>

				<div layout="row">

					<md-radio-group ng-model="vm.type" ng-change="vm.updatePreview()" flex="50">
						<md-radio-button ng-value="'id'">{{ 'MODULES.SELECT_OR_UPLOAD_IMAGE' | translate}}</md-radio-button>
						<md-radio-button ng-value="'url'">{{ 'POIS.IMAGE_FROM_URL' | translate}}</md-radio-button>
					</md-radio-group>

					<div ng-if="vm.type == 'id'" flex="50">
						<image-selection ng-model="vm.imageId"></image-selection>
					</div>

					<div ng-if="vm.type == 'url'" flex>

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'POIS.IMAGE_URL' | translate}}</label>
							<input ng-model="vm.customUrl" ng-change="vm.updatePreview()">
						</md-input-container>

					</div>

				</div>

				<div class="spacer-div"></div>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'COMMON.CAPTION' | translate}}</label>
					<textarea ng-model="vm.module.data.caption"></textarea>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'COMMON.ALT' | translate}}</label>
					<input ng-model="vm.module.data.alt"></input>
				</md-input-container>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<h2>{{ 'COMMON.IMAGE' | translate}}</h2>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'STYLES.PICTURE_WIDTH' | translate}}</label>
					<input ng-model="vm.module.data.css.image.width" name="design_image_width" units-input>
				</md-input-container>

				<h2>{{ 'COMMON.CAPTION' | translate}}</h2>

				<div md-color-picker ng-model="vm.module.data.css.caption.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}"></div>

				<div layout="row">

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'STYLES.FONT_SIZE' | translate}}</label>
						<input ng-model="vm.module.data.css.caption.fontSize" name="design_font_size" units-input>
					</md-input-container>

					<md-input-container>
						<label>{{ 'COMMON.ALIGN' | translate}}</label>
						<md-select ng-model="vm.module.data.css.caption.textAlign">
							<md-option value="left">{{ 'COMMON.LEFT' | translate}}</md-option>
							<md-option value="center">{{ 'COMMON.CENTER' | translate}}</md-option>
							<md-option value="right">{{ 'COMMON.RIGHT' | translate}}</md-option>
						</md-select>
					</md-input-container>

				</div>

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<background-design ng-model="vm.module.data.css.wrapper"></background-design>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.module.data.html_id" maxlength="100">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.module.data.html_classes" maxlength="255">
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
	  		</md-button>
	  		<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
