<div ng-if="vm.microPaymentLoaded">
    <micro-payment-form micro-payment="vm.microPayment"></micro-payment-form>
    <md-button ng-click="vm.showTransactions();">
        <md-icon class="material-icons">credit_card</md-icon>
        {{ 'MICRO_PAYMENTS.SHOW_TRANSACTIONS' | translate }}
    </md-button>
</div>
<div ng-if="!vm.microPaymentLoaded" layout="row" layout-align="center center">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
