<md-dialog class="default-height-dialog" id="group_add_time_dialog" >

    <form ng-submit="vm.save()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'POIS.ADD_TIME' | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="dialog-has-no-navigation">

            <div class="md-dialog-content" layout="column">

				<div layout="row">

					{{vm.getDayName()}}

					<input class="time-input" ng-model="vm.newTimeFrom" ui-timepicker="vm.TimepickerConfigService.config" ng-change="vm.checkValidity()"></input>

					-

					<input class="time-input" ng-model="vm.newTimeTo" ui-timepicker="vm.TimepickerConfigService.config" ng-change="vm.checkValidity()"></input>

				</div>

				<div ng-hide="vm.isValid" class="warn">
					{{ 'POIS.VALID_TIME' | translate }}
				</div>

				<div ng-show="vm.overlapping" layout="column">
					<span class="warn">{{ 'POIS.TIME_OVERLAP' | translate }}</span>
					<span ng-repeat="(index, time) in vm.overlapping" class="time-list-item">
						{{  time.time_from.format('HH:mm') }} - {{  time.time_to.format('HH:mm') }}
					</span>
				</div>

				<div ng-show="vm.combined" layout="column">
					<span class="warn">{{ 'POIS.TIME_MERGE' | translate }}</span>
					<span class="time-list-item">{{  vm.combined.time_from.format('HH:mm') }} - {{  vm.combined.time_to.format('HH:mm') }}</span>
				</div>

            </div>
        </md-dialog-content>

        <md-dialog-actions>

            <md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
            <md-button class="md-primary md-raised" type="submit" ng-disabled="!vm.isValid">{{ 'POIS.ADD_TIME' | translate}}</md-button>

        </md-dialog-actions>

    </form>

</md-dialog>
