<div id="main_wrapper" layout="column" layout-fill bs-loading-overlay ng-class="{{vm.osClass}}">

	<div ui-view="public"></div>
	<div ui-view="account-setup"></div>
	<div ui-view="authorized" layout="column" layout-fill></div>

</div>
