<div id="add_poi_form" class="sb-boxshadow">

	<form ng-submit="vm.addPoi()" ng-show="!vm.submitted">

		<div layout="row">
			<md-input-container flex="70">
				<label>{{ 'COMMON.NAME' | translate }}</label>
				<input type="text" ng-model="vm.poi.name" minlength="3" maxlength="255" ng-minlength="3" ng-maxlength="255" md-maxlength="255">
			</md-input-container>
			<md-input-container flex="30">
				<label>{{ 'POIS.DEFAULT_LANGUAGE' | translate }}</label>
				<md-select ng-model="vm.poi.fallback_language">
					<md-option ng-repeat="(code, language) in vm.languages" value="{{code}}">
						{{language.nativeName}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>

		<div layout="row">
			<md-input-container flex>
				<label>{{ 'COMMON.DESCRIPTION' | translate }} ({{ 'COMMON.OPTIONAL' | translate }})</label>
				<textarea ng-model="vm.poi.description" rows="5" md-select-on-focus></textarea>
			</md-input-container>
		</div>

		<md-button type="submit" class="add-poi-button md-primary md-raised">{{ 'COMMON.ADD' | translate }}</md-button>

	</form>

	<spinner ng-show="vm.submitted"></spinner>

</div>