<md-content class="Page-container">

    <div class="public-form-wrapper" layout="row" layout-align="center center" ng-style="vm.backgroundImage">

        <div class="forgot-password-form-container public-form-container" layout="column" layout-align="center center">

            <h1 class="md-headline">{{ 'PASSWORDS.FORGOT_MESSAGE' | translate }}</h1>

            <form ng-submit="vm.submit()" class="public-form" layout="column">
				<md-input-container>
					<label>{{ 'COMMON.EMAIL' | translate }}</label>
					<input type="email" ng-model="vm.email">
				</md-input-container>
				
				<md-button type="submit" class="md-primary md-raised">{{ 'PUBLIC.SUBMIT' | translate }}</md-button>
			</form>

            <a href="#/login" class="change-page-link">{{ 'PUBLIC.BACK_TO_LOGIN' | translate }}</a>

		</div>
		
	</div>
	
</md-content>
