
#touchpoint_details {

	padding: 20px;
	background: #fff;

	.text {

		padding: 3px 0 ;

		.label {
			display: inline-block;
			width: 130px;
			font-weight: bold;
		}

	}

	.section {

		border-top: 1px solid rgba(0,0,0,0.12);

		&:first-child {
			border-top: 0px;
		}

	}

	md-radio-group {

		padding: 20px 0;

		.label {
			padding: 0 20px 0 0;
			font-weight: 500;
		}

	}

}

#touchpoint-map-container {

	margin-top: 20px;
	padding: 20px;
	background: #fff;

}
