<div id="touchpoint_details" class="sb-boxshadow">

	<form name="touchpointConfiguration" ng-submit="vm.saveNewsletterConfiguration()" ng-if="vm.touchpointLoaded">

		<div layout="row">

			<div layout="column" flex>

				<h1>{{ 'TOUCHPOINTS.TOUCHPOINT_SETTINGS' | translate }}</h1>

				<md-input-container class="md-block" ng-if="!vm.$localStorage.beaconChanges.substance_beacon" flex>
					<label>{{ 'TOUCHPOINTS.TOUCHPOINT_NAME' | translate }}</label>
					<input name="name" type="text" minlength="2" maxlength="2047" ng-model="vm.$localStorage.beaconChanges.name" ng-change="vm.touchpointChanged()"></input>
				</md-input-container>

				<md-input-container class="md-block" flex>
					<label>{{ 'TOUCHPOINTS.TOUCHPOINT_ALIAS' | translate }}</label>
					<input name="name" type="text" minlength="2" maxlength="2047" ng-model="vm.$localStorage.beaconChanges.alias" ng-change="vm.touchpointChanged()"></input>
				</md-input-container>

				<md-input-container class="md-block" flex>
					<label>{{ 'TOUCHPOINTS.DESCRIPTION' | translate }}</label>
					<textarea name="description" rows="3" maxlength="2047" ng-model="vm.$localStorage.beaconChanges.description" ng-change="vm.touchpointChanged()"></textarea>
				</md-input-container>

				<divider></divider>

				<md-radio-group ng-model="vm.$localStorage.beaconChanges.beacon_location.indoor" layout="row" layout-align="start center" ng-change="vm.touchpointChanged();">
					<div class="label">{{ 'TOUCHPOINTS.TOUCHPOINT_POSITION' | translate }}</div>
					<md-radio-button ng-value="true">{{ 'TOUCHPOINTS.INSIDE' | translate }}</md-radio-button>
					<md-radio-button ng-value="false">{{ 'TOUCHPOINTS.OUTSIDE' | translate }}</md-radio-button>
				</md-radio-group>

				<md-input-container class="md-block" flex ng-show="vm.$localStorage.beaconChanges.beacon_location.indoor">
					<label>{{ 'TOUCHPOINTS.TOUCHPOINT_LEVEL' | translate }}</label>
					<input type="number" name="level"
						   ng-model="vm.$localStorage.beaconChanges.beacon_location.level"
						   ng-change="vm.touchpointChanged();"></input>
				</md-input-container>

			</div>

			<div flex="5"></div>

			<div layout="column" flex>

				<h1>{{ 'TOUCHPOINTS.TOUCHPOINT_DETAILS' | translate }}</h1>

				<div class="text" ng-if="vm.$localStorage.beaconChanges.substance_beacon">
					<span class="label">{{ 'TOUCHPOINTS.TOUCHPOINT_NAME' | translate }}:</span>{{vm.$localStorage.beaconChanges.name}}
				</div>

				<div class="text">
					<span class="label">{{ 'TOUCHPOINTS.TOUCHPOINT_URL' | translate }}:</span>{{vm.GlobalConstants.appEdwardStoneUrl + '/' + vm.$localStorage.beaconChanges.url}}
				</div>

				<div class="text">
					<span class="label">{{ 'TOUCHPOINTS.POI_NAME' | translate }}:</span><span ng-if="vm.$localStorage.beaconChanges.poi">{{vm.$localStorage.beaconChanges.poi.name}}</span><span ng-if="!vm.$localStorage.beaconChanges.poi">- {{ 'TOUCHPOINTS.NO_POI' | translate }} -</span>
				</div>

				<div class="text">
					<span class="label">{{ 'TOUCHPOINTS.UPDATED_AT' | translate }}:</span>{{vm.$localStorage.beaconChanges.updated_at | amDateFormat:'DD.MM.YYYY'}} {{vm.$localStorage.beaconChanges.updated_at | amDateFormat:'HH:mm:ss'}}
				</div>

				<div layout>
					<md-button class="md-raised md-block" open-qr-dialog="{{vm.GlobalConstants.appEdwardStoneQrUrl + '/' + vm.$localStorage.beaconChanges.url}}">
						<md-icon md-font-icon="fa fa-qrcode"></md-icon>
						{{ 'COMMON.QR_CODE' | translate }}
					</md-button>
				</div>

			</div>

		</div>

	</form>

	<spinner ng-if="!vm.touchpointLoaded"></spinner>

</div>

<div id="touchpoint-map-container" class="sb-boxshadow">

	<map lat="vm.getTouchpointLocation().lat" lng="vm.getTouchpointLocation().lng" ng-if="vm.touchpointLoaded"></map>

</div>
