
<div id="tenant_features">

	<spinner ng-if="vm.loading"></spinner>

	<div ng-if="!vm.loading" layout-gt-sm="row" layout="column">

		<div layout="column" layout-align="start start" flex>
			<h1>{{ 'SUPERADMIN.MODULES' | translate }}</h1>

			<md-checkbox ng-repeat="module in vm.modules | orderBy:'label'" ng-model="vm.changes.modules[module.slug].active" aria-label="{{ module.name }}" ng-change="vm.changed()">
				{{ module.label }}
			</md-checkbox>
		</div>

		<div layout="column" layout-align="start start" flex>
			<h1>{{ 'SUPERADMIN.FEATURES' | translate }}</h1>

			<md-checkbox ng-repeat="feature in vm.features | orderBy:'name'" ng-model="vm.changes.features[feature.slug].active" aria-label="{{ feature.name }}" ng-change="vm.changed()">
				{{ feature.name }}
			</md-checkbox>
		</div>

	</div>
</div>
