
<div ng-if="vm.userLoaded">
    <users-form user="vm.user"></users-form>
</div>
<div ng-if="!vm.userLoaded" layout="row" layout-align="center center">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
