<md-dialog class="default-dialog default-height-dialog">

	<form ng-submit="vm.save()">

		<md-toolbar>

			<div class="md-toolbar-tools">
				<h2>{{ 'FAQ.FAQ' | translate}}</h2>
			</div>

		</md-toolbar>

		<md-dialog-content class="dialog-has-no-navigation">

			<div class="md-dialog-content">

				<marked ng-include="vm.MarkdownService.getFaqUrl(vm.faqId)"></marked>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.DIALOG_CONFIRM' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
