
md-input-container {

	.md-button {

		&.input-clear {
			position: absolute;
			top: -3px;
			right: -16px;
			display: none;
		}

	}

	&.md-input-has-value {

		.md-button {

			&.input-clear {
				display: block;
			}

		}

	}

}