<div ng-if="vm.newsletterConfigurationLoaded">
    <newsletter-configuration-form newsletter-configuration="vm.newsletterConfiguration"></newsletter-configuration-form>
</div>
<div ng-if="!vm.newsletterConfigurationLoaded" layout="row" layout-align="center center">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
