<div id="touchpoint_list" flex>

	<div>

		<div class="header" layout="row">

			<div flex>
				<a ng-click="vm.sortBy('name')">
					<span class="column-title">{{ 'COMMON.NAME' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.BeaconListSort.propertyName === 'name'" ng-class="{reverse: vm.$localStorage.BeaconListSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex>
				<a ng-click="vm.sortBy('url')">
					<span class="column-title">{{ 'TOUCHPOINTS.TOUCHPOINT_URL' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.BeaconListSort.propertyName === 'url'" ng-class="{reverse: vm.$localStorage.BeaconListSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex>
                <a ng-click="vm.sortBy('poi_name')">
					<span class="column-title">{{ 'TOUCHPOINTS.POI_NAME' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.BeaconListSort.propertyName === 'poi_name'" ng-class="{reverse: vm.$localStorage.BeaconListSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex="10">
				<a ng-click="vm.sortBy('updated_at')">
					<span class="column-title">{{ 'TOUCHPOINTS.UPDATED_AT' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.BeaconListSort.propertyName === 'updated_at'" ng-class="{reverse: vm.$localStorage.BeaconListSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex="15">

			</div>

		</div>

		<div ng-if="vm.$localStorage.beaconsList[vm.$localStorage.beaconsList.use] && vm.$localStorage.beaconsList.refreshed">

			<div class="item" layout="row" ng-repeat="touchpoint in vm.$localStorage.beaconsList[vm.$localStorage.beaconsList.use] | orderBy:vm.$localStorage.BeaconListSort.propertyName:vm.$localStorage.BeaconListSort.reverse" layout-align="center center">

				<div flex>
					{{vm.getDisplayName(touchpoint)}}
				</div>

				<div flex>
					{{vm.GlobalConstants.appEdwardStoneUrl + '/' + touchpoint.url}}
				</div>

				<div flex>
					{{touchpoint.poi.name}}
				</div>

				<div class="date" flex="10">
					{{touchpoint.updated_at | amDateFormat:'DD.MM.YYYY'}}<br>{{touchpoint.updated_at | amDateFormat:'HH:mm:ss'}}
				</div>

				<div class="actions" flex="15" layout layout-align="end center">
					<md-button href="#/touchpoints/{{touchpoint.id}}" class="md-icon-button">
						<i class="material-icons">edit</i>
					</md-button>
					<md-button open-qr-dialog="{{vm.GlobalConstants.appEdwardStoneQrUrl + '/' + touchpoint.url}}" class="md-icon-button">
						<md-icon md-font-icon="fa fa-qrcode"></md-icon>
					</md-button>

					<!-- <md-menu md-position-mode="target-right target" ng-if="vm.$localStorage.tenant.billable == 'stripe'">

						<md-button class="md-icon-button" ng-click="vm.openModuleContextMenu($mdOpenMenu, $event)">
							<md-icon md-menu-origin>add_shopping_cart</md-icon>
						</md-button>

						<md-menu-content md-menu-align-target>

							<md-menu-item>
								<md-button add-to-cart touchpoint="{{touchpoint}}" hardware="nfc_tag">
									<md-icon>add_shopping_cart</md-icon>
									{{ 'TOUCHPOINTS.BUY_NFC_TAG' | translate }}
								</md-button>
							</md-menu-item>

							<md-menu-divider></md-menu-divider>

							<md-menu-item>
								<md-button add-to-cart touchpoint="{{touchpoint}}" hardware="beacon">
									<md-icon>add_shopping_cart</md-icon>
									{{ 'TOUCHPOINTS.BUY_BEACON' | translate }}
								</md-button>
							</md-menu-item>

							<md-menu-divider></md-menu-divider>

							<md-menu-item>
								<md-button add-to-cart touchpoint="{{touchpoint}}" hardware="beacon_pro">
									<md-icon>add_shopping_cart</md-icon>
									{{ 'TOUCHPOINTS.BUY_BEACON_PRO' | translate }}
								</md-button>
							</md-menu-item>

						</md-menu-content>

					</md-menu> -->

				</div>

			</div>

		</div>

		<div class="no-data item" ng-if="(!vm.$localStorage.beaconsList[vm.$localStorage.beaconsList.use] || vm.$localStorage.beaconsList[vm.$localStorage.beaconsList.use].length == 0) && !vm.$localStorage.beaconsList.loading">

			<span ng-if="vm.$localStorage.beaconsList.use == 'data'">{{ 'TOUCHPOINTS.NO_TOUCHPOINTS' | translate }}</span>
			<span ng-if="vm.$localStorage.beaconsList.use == 'searchData'">{{ 'COMMON.NO_SEARCH_RESULTS' | translate }}</span>

		</div>

		<infinite-scrolling type="'beacons'"></infinite-scrolling>

	</div>

	<spinner ng-if="!vm.$localStorage.beaconsList[vm.$localStorage.beaconsList.use] || vm.$localStorage.beaconsList.loading"></spinner>

</div>
