
<div>
	<div layout="row" layout-align="center center" ng-style="vm.backgroundImage">
		<div class="public-form-container setup-form-container" layout="column" layout-align="center center">
			<div class="setup-form">
				<div class="header">
					<h1>{{ 'ACCOUNT_SETUP.ACCOUNT_SETUP' | translate }}</h1>
					<md-button ng-click="vm.exit()" class="close-button md-icon-button md-raised md-primary">
						<md-icon>close</md-icon>
						<md-tooltip>{{ 'ACCOUNT_SETUP.EXIT_WITHOUT_SAVE' | translate }}</md-tooltip>
					</md-button>
				</div>

				<div ng-show="vm.isFirstPage" class="description-page content">
					{{ 'ACCOUNT_SETUP.WIZARD_DESCRIPTION' | translate }}
				</div>


				<div ng-show="!vm.isFirstPage && !vm.isLastPage">
					{{ 'ACCOUNT_SETUP.SETTINGS_EXPLANATION' | translate: {plattform: vm.productConfig.name} }}
				</div>

				<div ng-show="!vm.isFirstPage && vm.currentPage < 4" layout="row" class="content">

					<div flex="50" layout="column" class="preview-left">

						<h3 ng-show="vm.currentPage==1" >{{ 'ADMIN.DESIGN.HEADER' | translate }}</h3>
						<div md-color-picker ng-show="vm.currentPage==1" ng-model="vm.headerColor" md-color-material-palette="false" label="{{ 'ADMIN.DESIGN.HEADER' | translate }} {{'STYLES.FONT_COLOR' | translate}}"></div>
						<div md-color-picker ng-show="vm.currentPage==1" ng-model="vm.headerBackgroundColor" md-color-material-palette="false" label="{{ 'ADMIN.DESIGN.HEADER' | translate }} {{'STYLES.BACKGROUND_COLOR' | translate}}"></div>

						<h3 ng-show="vm.currentPage==2" >{{ 'ADMIN.DESIGN.CONTENT' | translate }}</h3>
						<div md-color-picker ng-show="vm.currentPage==2" ng-model="vm.color" md-color-material-palette="false" label="{{ 'ADMIN.DESIGN.CONTENT' | translate }} {{'STYLES.FONT_COLOR' | translate}}"></div>
						<div md-color-picker ng-show="vm.currentPage==2" ng-model="vm.backgroundColor" md-color-material-palette="false" label="{{ 'ADMIN.DESIGN.CONTENT' | translate }} {{'STYLES.BACKGROUND_COLOR' | translate}}"></div>

						<h3 ng-show="vm.currentPage==3" >{{ 'ADMIN.DESIGN.FOOTER' | translate }}</h3>
						<div md-color-picker ng-show="vm.currentPage==3" ng-model="vm.footerColor" md-color-material-palette="false" label="{{ 'ADMIN.DESIGN.FOOTER' | translate }} {{'STYLES.FONT_COLOR' | translate}}"></div>
						<div md-color-picker ng-show="vm.currentPage==3" ng-model="vm.footerBackgroundColor" md-color-material-palette="false" label="{{ 'ADMIN.DESIGN.FOOTER' | translate }} {{'STYLES.BACKGROUND_COLOR' | translate}}"></div>

					</div>

					<div flex="50" layout="column" class="preview-right">

						<h3>{{ 'COMMON.PREVIEW' | translate }}</h3>

						<div class="preview" layout="column" flex>

							<div ng-style="{'color': (vm.headerColor || '#000000'), 'background-color': (vm.headerBackgroundColor || '#bb1c3e') }" class="preview-content">
								{{ 'ADMIN.DESIGN.HEADER' | translate }}
							</div>

							<div ng-style="{'color': (vm.color || '#000000'), 'background-color': (vm.backgroundColor || '#fffffff') }" class="preview-content" flex>
								{{ 'ADMIN.DESIGN.CONTENT' | translate }}
							</div>

							<div ng-style="{'color': (vm.footerColor || '#000000'), 'background-color': (vm.footerBackgroundColor || '#021A24') }" class="preview-content">
								{{ 'ADMIN.DESIGN.FOOTER' | translate }}
							</div>

						</div>

					</div>

				</div>

				<div ng-show="vm.currentPage == 4" layou="column">

					<div class="imprint-explanation">{{ 'ACCOUNT_SETUP.IMPRINT_EXPLANATION' | translate }}</div>

					<text-angular class="imprint-input" ng-model="vm.imprint" ta-toolbar="[['h1','h2','h3', 'p'], ['insertLink'],['bold','italics', 'underline'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['ul', 'ol'], ['redo', 'undo']]"></text-angular>

				</div>

				<div ng-show="vm.isLastPage" class="description-page">
					<h3>{{ 'ACCOUNT_SETUP.SETUP_DONE' | translate }}</h3>

					<md-button ng-show="vm.isLastPage" class="md-raised md-primary save-and-finish" ng-click="vm.exitAndSave()" ng-disabled="vm.loading">
						<span ng-show="vm.isLastPage">{{ 'ACCOUNT_SETUP.SAVE_AND_FINISH' | translate }}</span>
					</md-button>
				</div>

				<div class="page-navigation" layout="column" layout-align="center center">
					<div layout="row">
						<md-button ng-click="vm.previousPage()" ng-disabled="vm.isFirstPage" class="md-raised md-icon-button">
							<md-icon>chevron_left</md-icon>
							<md-tooltip>{{ 'ACCOUNT_SETUP.PREVIOUS_PAGE' | translate }}</md-tooltip>
						</md-button>
						<md-button ng-click="vm.nextPage()" ng-disabled="vm.isLastPage" class="md-raised md-icon-button">
							<md-icon>chevron_right</md-icon>
							<md-tooltip>{{ 'ACCOUNT_SETUP.NEXT_PAGE' | translate }}</md-tooltip>
						</md-button>
					</div>

					<a ng-click="vm.exitAndSave()" class="exit-and-save" ng-show="!vm.isFirstPage && !vm.isLastPage">{{ 'ACCOUNT_SETUP.EXIT_AND_SAVE' | translate }}</a>

				</div>
			</div>
		</div>
	</div>
</div>