account-setup {

	.setup-form {
		width: 700px;
	}

	.setup-form-container {
		padding: 40px 60px;
	}

	.h1 {
		margin-top: 0;
	}

	.header {
		text-align: center;
		position: relative;
	}

	.close-button {
		position: absolute;
		right: -30px;
		top: -30px;
	}

	.description-page {
		text-align: center;
		margin: 60px;
	}

	.content {
		margin: 30px 0;
	}

	.preview {
		border: 1px solid rgba(0, 0, 0, 0.8);
		border-radius: 5px;
		height: 200px;

		.preview-content {
			padding: 10px;
		}
	}

	.imprint-explanation {
		padding: 10px 0;
	}

	.exit-and-save {
		margin-top: 20px;
	}

	.save-and-finish {
		margin-top: 40px;
	}

	.preview-left {
		padding-right: 10px;
	}

	.preview-right {
		padding-left: 10px;
	}

	.page-navigation {
		margin-top: 20px;
	}

}