<md-button id="poi_update_button" ng-disabled="!vm.hasChanges" class="md-raised md-primary" ng-click="vm.updateSettings();" ng-show="!vm.spinnerIsVisible">{{ 'ADMIN.SETTINGS.UPDATE_BUTTON' | translate }}</md-button>
<md-progress-circular md-mode="indeterminate" md-diameter="30" ng-show="vm.spinnerIsVisible"></md-progress-circular>