<form name="tenantForm" ng-submit="vm.createTenant()">

	<h2>{{ 'COMMON.TENANT' | translate }}</h2>
	<div layout>

		<md-input-container flex>
			<label>{{ 'TENANTS.NAME' | translate }}</label>
			<input required name="name" type="text" minlength="3" maxlength="255" ng-model="vm.tenant.name">
			<div ng-messages="tenantForm.name.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength']">
					{{ 'APPS.NAMEVALIDATION' | translate }}
				</div>
			</div>
		</md-input-container>

		<md-input-container flex>
			<label>{{ 'COMMON.EMAIL' | translate }}</label>
			<input required name="email" type="email" ng-model="vm.tenant.email">
			<div ng-messages="tenantForm.email.$error" role="alert">
				<div ng-message-exp="['required']">
					{{ 'COMMON.EMAILVALIDATION' | translate }}
				</div>
			</div>
		</md-input-container>

	</div>

	<div layout>

		<md-input-container flex>
			<label>{{ 'COMMON.DEFAULT_LANGUAGE' | translate }}</label>
			<md-select ng-model="vm.tenant.fallback_language" required>
				<md-option ng-repeat="(code, language) in vm.languages" value="{{ code }}">
					{{ language.nativeName }}
				</md-option>
			</md-select>
			<div class="md-errors-spacer"></div>
		</md-input-container>

		<md-input-container flex>
			<label>{{ 'COMMON.LOCALE' | translate }}</label>
			<md-select ng-model="vm.tenant.locale" ng-disabled="!vm.locales" required>
				<md-option ng-if="vm.locales" ng-repeat="(localeCode, locale) in vm.locales" value="{{ localeCode }}">
					{{ locale.nativeName }}
				</md-option>
			</md-select>
			<div class="md-errors-spacer"></div>
		</md-input-container>

	</div>

	<div layout>

		<md-input-container flex>
			<label>{{ 'TENANTS.ALLOWED_TOUCHPOINTS' | translate }}</label>
			<input required name="allowed_beacons" type="number" min="0" max="1000" ng-model="vm.tenant.allowed_beacons">
		</md-input-container>

		<md-input-container flex>
			<md-checkbox name="kontakt_io" class="md-primary" ng-model="vm.tenant.kontakt_io">
				{{ 'TENANTS.KONTAKT_IO_TOUCHPOINTS' | translate}}
			</md-checkbox>
		</md-input-container>

	</div>

	<div layout ng-if="vm.canSetUrlsForTenants">

		<md-input-container flex>
			<md-switch ng-model="vm.ownSubstanceUrl">
				{{ 'TENANTS.OWN_SUBSTANCE_URL' | translate}}
			</md-switch>
		</md-input-container>

		<md-input-container flex>
			<md-switch ng-model="vm.ownEdwardstoneUrl">
				{{ 'TENANTS.OWN_EDWARD_URL' | translate}}
			</md-switch>
		</md-input-container>

	</div>

	<div layout ng-show="vm.ownSubstanceUrl || vm.ownEdwardstoneUrl">

		<md-input-container flex="50" ng-if="vm.ownSubstanceUrl">
			<label>{{ 'TENANTS.SUBSTANCE_URL' | translate}}</label>
			<input required name="substance_url" type="url" ng-model="vm.tenant.substance_url">
		</md-input-container>

		<span flex="50" ng-if="!vm.ownSubstanceUrl && vm.ownEdwardstoneUrl"></span>

		<md-input-container flex="50" ng-if="vm.ownEdwardstoneUrl">
			<label>{{ 'TENANTS.EDWARD_URL' | translate}}</label>
			<input required name="edward_stone_url" type="url" ng-model="vm.tenant.edward_stone_url">
		</md-input-container>

	</div>

	<h2>{{ 'COMMON.USER' | translate }}</h2>

	<div layout>

		<md-input-container flex>
			<label>{{ 'USERS.FIRSTNAME' | translate }}</label>
			<input required name="user_firstname" type="text" minlength="3" maxlength="255" ng-model="vm.user.firstname">
			<div ng-messages="tenantForm.user_firstname.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength']">
					{{ 'APPS.NAMEVALIDATION' | translate }}
				</div>
			</div>
		</md-input-container>

		<md-input-container flex>
			<label>{{ 'USERS.LASTNAME' | translate }}</label>
			<input required name="user_lastname" type="text" minlength="3" maxlength="255" ng-model="vm.user.lastname">
			<div ng-messages="tenantForm.user_lastname.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength']">
					{{ 'APPS.NAMEVALIDATION' | translate }}
				</div>
			</div>
		</md-input-container>

		<md-input-container flex>
			<label>{{ 'COMMON.EMAIL' | translate }}</label>
			<input required name="user_email" type="email" ng-model="vm.user.email">
			<div ng-messages="tenantForm.user_email.$error" role="alert">
				<div ng-message-exp="['required']">
					{{ 'COMMON.EMAILVALIDATION' | translate }}
				</div>
			</div>
		</md-input-container>

	</div>

	<div layout layout-align="end none" flex>
		<md-button type="submit" class="md-primary md-raised" ng-disabled="!tenantForm.$valid">{{ 'COMMON.SAVE' | translate }}</md-button>
	</div>

</form>
