<div id="micro_payment_form" class="sb-boxshadow">

	<h1>{{ 'MICRO_PAYMENTS.DETAILS' | translate }}</h1>

	<form name="microPaymentForm" ng-submit="vm.saveMicroPayment()">

		<div layout-gt-sm="row">

			<md-input-container class="md-block" flex="50">
				<label>{{ 'MICRO_PAYMENTS.NAME' | translate }}</label>
				<input required name="name" type="text" minlength="3" maxlength="255" ng-model="vm.microPayment.name">
				<div ng-messages="microPaymentForm.name.$error" role="alert">
					<div ng-message-exp="['required', 'minlength', 'maxlength']">
						{{ 'APPS.NAMEVALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

			<md-input-container flex="50">
				<label>{{ 'MICRO_PAYMENTS.TYPE' | translate }}</label>
				<md-select ng-model="vm.microPayment.type">
					<md-option ng-repeat="t in vm.types" value="{{t.id}}">
						{{t.name}}
					</md-option>
				</md-select>
			</md-input-container>

		</div>

		<div layout-gt-sm="row">

			<md-input-container class="md-block" flex="50">
				<label>{{ 'MICRO_PAYMENTS.DESCRIPTION' | translate }}</label>
				<input required name="description" type="text" minlength="1" maxlength="1000" ng-model="vm.microPayment.description">
				<div ng-messages="microPaymentForm.description.$error" role="alert">
					<div ng-message-exp="['required', 'minlength', 'maxlength']">
						{{ 'MICRO_PAYMENTS.DESCRIPTION_VALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex="50">
				<label>{{ 'MICRO_PAYMENTS.AMOUNT' | translate }}</label>
				<input required name="amount" type="number" min="50" ng-model="vm.microPayment.amount">
				<div ng-messages="microPaymentForm.amount.$error" role="alert">
					<div ng-message-exp="['required', 'min']">
						{{ 'MICRO_PAYMENTS.AMOUNT_VALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

		</div>

		<div layout-gt-sm="row">

			<div flex="50">

				<md-checkbox ng-model="vm.microPayment.emails_payer" aria-label="{{ 'MICRO_PAYMENTS.EMAIL_PAYER' | translate }}">
					{{ 'MICRO_PAYMENTS.EMAIL_PAYER' | translate }}
				</md-checkbox>

				<md-checkbox ng-model="vm.microPayment.emails_payee" aria-label="{{ 'MICRO_PAYMENTS.EMAIL_PAYEE' | translate }}">
					{{ 'MICRO_PAYMENTS.EMAIL_PAYEE' | translate }}
				</md-checkbox>

			</div>

			<md-input-container ng-if="vm.microPayment.emails_payee || vm.microPayment.emails_payer" class="md-block" flex="50">
				<label>{{ 'MICRO_PAYMENTS.EMAIL' | translate }}</label>
				<input required name="email" type="email" ng-pattern="/^.+@.+\..+$/" ng-model="vm.microPayment.email">
				<div ng-messages="userForm.email.$error" role="alert">
					<div ng-message-exp="['required', 'pattern']">
						{{ 'MICRO_PAYMENTS.EMAIL_VALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

		</div>

		<div layout-gt-sm="row">

			<md-input-container class="md-block" flex="50">
				<label>{{ 'MICRO_PAYMENTS.CALLBACK_URL' | translate }}</label>
				<input name="callbackurl" type="text" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" ng-model="vm.microPayment.callback_url">
				<div ng-messages="microPaymentForm.callbackurl.$error" role="alert">
					<div ng-message-exp="['pattern']">
						{{ 'MICRO_PAYMENTS.URL_VALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex="50">
				<label>{{ 'MICRO_PAYMENTS.HEARTBEAT_URL' | translate }}</label>
				<input name="heartbeaturl" type="text" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" ng-model="vm.microPayment.heartbeat_url">
				<div ng-messages="microPaymentForm.heartbeaturl.$error" role="alert">
					<div ng-message-exp="['pattern']">
						{{ 'MICRO_PAYMENTS.URL_VALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

		</div>

		<div layout="row">

			<div layout="row" layout-align="start none" flex="70">
				<md-button type="submit" class="add-micro-payment-button md-primary md-raised">{{ 'COMMON.SAVE' | translate }}</md-button>
			</div>

			<div ng-if="!vm.isNewPayment" layout="row" layout-align="end none" flex="15">
				<md-button ng-click="vm.deleteMicroPayment($event)" type="button" class="remove-micro-payment-button md-raised md-warn">{{ 'COMMON.DELETE' | translate }}</md-button>
			</div>

		</div>

	</form>

</div>
