
<md-dialog class="module-dialog">

	<md-toolbar layout layout-align="start center">

		<div class="md-toolbar-tools" layout layout-align="start center">
			<md-button class="md-icon-button" ng-disabled="true">
				<md-icon>sync</md-icon>
			</md-button>
			<h2>Syncronize Kontakt.io Settings with Substance</h2>
		</div>

	</md-toolbar>

	<md-dialog-content>

		<md-list>
			<md-list-item>
				<p>Login into your Kontakt.io Account</p>
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item ng-if-start="vm.tenant.kontakt_io_venue_id && vm.tenant.initial_kontakt_io_sync == false">
				<p>Add <strong>{{ vm.tenant.allowed_beacons }}</strong> beacon(s) to location <strong>{{ vm.tenant.name }}</strong></p>
			</md-list-item>
			<md-divider ng-if-end></md-divider>
			<md-list-item ng-repeat-start="batch in vm.batches">
				<p>Add <strong>{{ batch.number_of_beacons }}</strong> beacon(s) to location <strong>{{ batch.kontakt_io_venue_name }}</strong></p>
				<md-icon class="md-secondary" style="color: orangered;" ng-if="batch.sync_successful === false">sync_problem</md-icon>
				<md-icon class="md-secondary" style="color: limegreen;" ng-if="batch.sync_successful === true">done</md-icon>
			</md-list-item>
			<md-divider ng-repeat-end></md-divider>
		</md-list>

		<div layout layout-align="start center">
			<md-button class="md-primary md-raised" ng-click="vm.checkIfInitialized()" ng-disabled="vm.syncBtnDisabled">
				Check Settings
			</md-button>
		</div>

	</md-dialog-content>

	<md-dialog-actions>

		<md-button class="md-raised" ng-click="vm.cancel()">{{ 'COMMON.CLOSE' | translate}}</md-button>

	</md-dialog-actions>

</md-dialog>
