media {

	.load-more-wrapper {
		text-align: center;
		margin: 25px 25px 9px;
	}

	.file-selected {

		.grid-tile {
			opacity: 0.5 !important;
		}

	}

	.grid-tile {

		cursor: pointer;

		&:focus {
			outline: 0 !important;
		}

	}

	.selected-image-icon {
		position: absolute;
		top: -5px;
		right: -5px;
		display: none;
		background: #fff;
		border-radius: 50%;
		color: $primary;
	}

	.selected-file {

		.selected-image-icon {
			display: block;
		}

	}

	.disabled-file {
		cursor: initial !important;
		opacity: 0.3 !important;
	}

	.no-data {
		padding: 20px;
		text-align: center;
	}

	image-preview {
		width: 100%;
		height: 100%;
	}

}