
<md-content layout-padding>

	<div flex ng-cloak class="mediathek">

		<div class="media-filter" ng-if="!vm.isDialog">
			<md-button ng-click="vm.setFilter('all');">
				{{ 'MEDIA.ALL' | translate }}
			</md-button>
			<md-button ng-click="vm.setFilter('image');">
				{{ 'MEDIA.IMAGES' | translate }}
			</md-button>
			<md-button ng-click="vm.setFilter('audio');">
				{{ 'MEDIA.AUDIO' | translate }}
			</md-button>
			<md-button ng-click="vm.setFilter('video');">
				{{ 'MEDIA.VIDEO' | translate }}
			</md-button>
		</div>

		<md-grid-list
			md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="8"
			md-row-height-gt-md="1:1" md-row-height="1:1"
			md-gutter="10px" md-gutter-gt-sm="10px">

			<md-grid-tile ng-repeat="m in filteredMedia = (vm.$localStorage.mediaList[vm.$localStorage.mediaList.use] | filter:vm.filter)"
				md-colspan-sm="1"
				md-colspan-xs="1"
				class="grid-tile"
				ng-click="vm.selectFile(m.id);"
				ng-class="{'selected-file':vm.isSelected(m.id),'disabled-file':vm.isDisabled(m.id)}">

				<md-icon class="material-icons selected-image-icon">check_circle</md-icon>

				<image-preview image-id="m.id"></image-preview>

				<md-grid-tile-footer>
					<h3 class="content-name">{{m.name}}</h3>
					<!--<h3 class="content-name">
						<i class="material-icons click-action" ng-click="vm.showDetail(content)">info</i>
						<i class="material-icons click-action" ng-click="vm.removeContent($event,content)">delete</i>
					</h3>-->
				</md-grid-tile-footer>

				<!--<md-grid-tile-footer ng-if="vm.isDialog">
					<h3 class="content-name click-action" ng-click="vm.selectContentFromDialog($event,content)">{{m.name}}</h3>
				</md-grid-tile-footer>-->

			</md-grid-tile>

		</md-grid-list>

		<infinite-scrolling type="'media'"></infinite-scrolling>

		<div class="no-data item" ng-if="!filteredMedia.length">

			<span>{{ 'MEDIA.NO_MEDIA' | translate }}</span>

		</div>

		<div class="no-data item" ng-if="(!vm.$localStorage.mediaList[vm.$localStorage.mediaList.use] || vm.$localStorage.mediaList[vm.$localStorage.mediaList.use].length == 0) && !vm.$localStorage.mediaList.loading && filteredMedia.length">

			<span ng-if="vm.$localStorage.mediaList.use == 'data'">{{ 'MEDIA.NO_MEDIA' | translate }}</span>
			<span ng-if="vm.$localStorage.mediaList.use == 'searchData'">{{ 'COMMON.NO_SEARCH_RESULTS' | translate }}</span>

		</div>

		<spinner ng-if="!vm.$localStorage.mediaList[vm.$localStorage.mediaList.use]|| vm.$localStorage.mediaList.loading"></spinner>

	</div>

</md-content>
