.spin {
	animation-name: spin;
  	animation-duration: 5000ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear; 
}

@include keyframes(spin) {

	from {
		@include transform(rotate(0deg)); 
	}

	to {
		@include transform(rotate(180deg));
	}

}
