<div layout="row">

	<div class="invoices" flex="50">

		<div ng-repeat="invoice in vm.invoices">

			<div class="invoice" layout="row" layout-align="none center">

				<div class="first-column">
					<div class="invoice-date">{{ invoice.easybill_created_at | localizedDateFilter : 'L' }}</div>
					<div class="invoice-number">{{ 'INVOICES.INVOICE_NUMBER' | translate }} {{ invoice.easybill_invoice_number }}</div>
				</div>

				<div class="invoice-total">{{ invoice.amount*0.01 | numeraljs:'0,0.00 $' }}</div>

				<div flex></div>

				<md-button class="md-icon-button" ng-click="vm.downloadPdf(invoice.id, invoice.easybill_invoice_number);">
					<md-icon md-font-icon="fa fa-file-pdf-o"></md-icon>
				</md-button>

			</div>

			<md-divider></md-divider>

		</div>

		<div ng-if="vm.noInvoicesYet" class="no-invoices">
			{{ 'INVOICES.NO_INVOICES_YET' | translate }}
		</div>

		<spinner ng-if="!vm.invoices"></spinner>

	</div>

</div>
