invoices {

	.invoices,
	.preview {
		background: #fff;
		@include boxshadow();
	}

	.invoices {

		margin: 0 10px 0 0;

		.invoice {
			padding: 15px;
		}

		.first-column {
			padding: 0 30px 0 0;
		}

		.invoice-date {
			font-weight: bold;
		}

		.invoice-number {
			font-size: 12px;
			opacity: .5;
		}

		.invoice-total {
			font-size: 20px;
		}

	}

	.no-invoices {
		padding: 20px;
		text-align: center;
	}

}