<md-dialog>

	<md-toolbar layout layout-align="start center">

		<div class="md-toolbar-tools" layout layout-align="start center">
			<md-button class="md-icon-button" ng-disabled="true"><md-icon>link</md-icon></md-button>
			<h2>Add URLs to Tenant</h2>
		</div>

	</md-toolbar>

	<md-dialog-content>

		<form name="addUrlsForm">

			<div layout>
				<md-input-container flex>
					<label>{{ 'TENANTS.TOUCHPOINTS_AMOUNT' | translate }}</label>
					<input required name="amount" type="number" min="1" ng-model="vm.addUrlsFormData.amount">
				</md-input-container>
				<span flex="5"></span>
				<md-input-container flex>
					<md-checkbox name="kontakt_io" class="md-primary" ng-model="vm.addUrlsFormData.kontakt_io">
						{{ 'TENANTS.KONTAKT_IO_TOUCHPOINTS' | translate}}
					</md-checkbox>
				</md-input-container>
			</div>

		</form>

	</md-dialog-content>

	<md-dialog-actions>

		<md-button class="md-raised" ng-click="vm.cancel()">{{ 'COMMON.CLOSE' | translate}}</md-button>
		<md-button class="md-primary md-raised" ng-click="vm.save()">{{ 'COMMON.ADD' | translate}}</md-button>

	</md-dialog-actions>

</md-dialog>
