<div class="line-chart-wrapper" flex>
    <div class="chart-container" ng-if="vm.showChart">
        <canvas id="base" class="chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-options="vm.options" chart-dataset-override="vm.datasetOverride"></canvas>
    </div>
    <div class="chart-loader" ng-if="vm.chartDrawing">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>
