<md-content class="Page-container">
	{{ 'POIS.WELCOME' | translate }}

	<!-- <md-content class="md-padding" layout-xs="column" layout="row">
		<kpi-card type="'access'"></kpi-card>
		<kpi-card type="'delivered-content'"></kpi-card>
		<kpi-card type="'beacon-access'"></kpi-card>
		<kpi-card type="'web-access'"></kpi-card>
		<kpi-card type="'viewed-channels'"></kpi-card>
	</md-content> -->
</md-content>
