<div class="sb-boxshadow white-bkg">

	<md-nav-bar md-selected-nav-item="vm.currentNavItem">
		<md-nav-item md-nav-click="goto('permissions')" name="permissions">{{ 'TENANTS.PERMISSIONS' | translate }}</md-nav-item>
		<md-nav-item md-nav-click="goto('general')" name="general" ng-if="!vm.isReseller">{{ 'POIS.CONTENT' | translate }}</md-nav-item>
		<md-nav-item md-nav-click="goto('trial')" name="trial">{{ 'COMMON.TRIAL' | translate }}</md-nav-item>
	</md-nav-bar>

	<md-content class="md-padding tab-content white-bkg" ng-show="vm.currentNavItem == 'general'">

		<form name="tenantEdit" ng-if="!vm.loading">

			<div layout>
				<md-input-container flex>
					<label>{{ 'TENANTS.NAME' | translate }}</label>
					<input required name="name" type="text" minlength="3" maxlength="255" ng-model="vm.tenant.name"
							ng-model-options='{ debounce: 500, allowInvalid: true }' ng-change="vm.changed()">
					<div ng-messages="tenantEdit.name.$error" role="alert">
						<div ng-message-exp="['required', 'minlength', 'maxlength']">
							{{ 'APPS.NAMEVALIDATION' | translate }}
						</div>
					</div>
				</md-input-container>
			</div>

			<div style="display: none;">{{ vm.tenantEditFormValid = tenantEdit.$valid }}</div>
		</form>

		<spinner ng-if="vm.loading"></spinner>

	</md-content>

	<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'permissions'">

		<tenant-features></tenant-features>

	</md-content>

	<md-content class="md-padding tab-content white-bkg" ng-show="vm.currentNavItem == 'trial'">

		<div ng-if="!vm.loading">

			<form name="tenantEndTrial" ng-submit="vm.endTrial()" ng-if="vm.tenant.trial && vm.tenant.active">

				<div layout>

					<md-input-container flex ng-if="!vm.isReseller">
						<label>{{ 'TENANTS.EASYBILL_CUSTOMER_ID' | translate }}</label>
						<input required name="easybill_customer_id" type="text" ng-model="vm.tenantTrial.easybill_customer_id">
					</md-input-container>

					<md-input-container flex>
						<md-checkbox name="bill_rest_of_month" class="md-primary" ng-model="vm.tenantTrial.bill_rest_of_month">
							{{ 'TENANTS.BILL_REMAINING_MONTH' | translate }}
						</md-checkbox>
					</md-input-container>

				</div>

				<div layout>

					<md-input-container flex>
						<label>{{ 'TENANTS.PRICE_PER_TOUCHPOINT' | translate }}</label>
						<input required name="price_per_beacon" type="number" min="0" ng-model="vm.tenantTrial.price_per_beacon">
					</md-input-container>

					<md-input-container flex>
						<label>{{ 'TENANTS.DISCOUNT' | translate }}</label>
						<input required name="discount" type="number" min="0" max="100" ng-model="vm.tenantTrial.discount">
					</md-input-container>

				</div>

				<div layout layout-align="end center">

					<md-button type="submit" class="md-primary md-raised" ng-disabled="!tenantEndTrial.$valid">{{ 'TENANTS.END_TRIAL' | translate }}</md-button>

				</div>

			</form>

			<div layout layout-align="center center" ng-if="!vm.tenant.trial">
				<h2>{{ 'TENANTS.NOT_IN_TRIAL' | translate }}</h2>
			</div>

			<div layout layout-align="center center" ng-if="!vm.tenant.active && vm.tenant.trial">
				<h2>{{ 'TENANTS.ACTIVE_FOR_BILLING' | translate }}</h2>
			</div>

		</div>

		<spinner ng-if="vm.loading"></spinner>

	</md-content>

</div>
