<md-input-container id="font_select_component">	
	<label>{{ 'STYLES.FONT_FAMILY' | translate }}</label>

	<md-select ng-model="vm.ngModel" ng-change="vm.changed()">
		<md-option ng-value="undefined">
			{{ 'COMMON.DEFAULT' | translate }}
		</md-option>
		<md-option ng-repeat="option in vm.options" ng-value="option">
			{{option}}&nbsp;-&nbsp;
			<span style="font-family:{{option}}">{{option}}</span>
		</md-option>
	</md-select>
</md-input-container>