<div id="users_list" flex>

	<div>

		<div class="header" layout="row">

			<div flex="40">
				<a ng-click="vm.sortBy('lastname')">
					<span class="column-title">{{ 'USERS.LASTNAME' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.UsersSort.propertyName === 'lastname'" ng-class="{reverse: vm.$localStorage.UsersSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex="40">
				<a ng-click="vm.sortBy('firstname')">
					<span class="column-title">{{ 'USERS.FIRSTNAME' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.UsersSort.propertyName === 'firstname'" ng-class="{reverse: vm.$localStorage.UsersSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

			<div flex="10">
				<a ng-click="vm.sortBy('role')">
					<span class="column-title">{{ 'USERS.ROLE' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.UsersSort.propertyName === 'role'" ng-class="{reverse: vm.$localStorage.UsersSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>

		</div>

		<div ng-if="vm.$localStorage.usersList[vm.$localStorage.usersList.use] && vm.$localStorage.usersList.refreshed">

			<div class="item" layout="row" ng-repeat="user in vm.$localStorage.usersList[vm.$localStorage.usersList.use] | orderBy:vm.$localStorage.UsersSort.propertyName:vm.$localStorage.UsersSort.reverse" layout-align="center center">

				<div flex="40">
					{{user.lastname}}
				</div>

				<div flex="40">
					{{user.firstname}}
				</div>

				<div flex="10">
					{{user.role}}
				</div>

				<div class="actions" flex>
					<a ng-if="vm.loggedInUserIsAdmin()" href="#/admin/users/{{user.id}}">
						<i class="material-icons">edit</i>
					</a>
				</div>

			</div>

		</div>

	</div>

	<div class="no-data item" ng-if="(!vm.$localStorage.usersList[vm.$localStorage.usersList.use] || vm.$localStorage.usersList[vm.$localStorage.usersList.use].length == 0) && !vm.$localStorage.usersList.loading">

		<span ng-if="vm.$localStorage.usersList.use == 'data'">{{ 'USERS.NO_USERS' | translate }}</span>
		<span ng-if="vm.$localStorage.usersList.use == 'searchData'">{{ 'COMMON.NO_SEARCH_RESULTS' | translate }}</span>

	</div>

	<infinite-scrolling type="'users'"></infinite-scrolling>

	<spinner ng-if="!vm.$localStorage.usersList[vm.$localStorage.usersList.use] || vm.$localStorage.usersList.loading"></spinner>

</div>
