
#update_notification {

	height: 45px;
	background: $primary;
	color: #fff;
	font-weight: 500;

	.hint {
		font-size: 14px;
	}

}

#confirm_email_notification {

	height: 45px;
	background: $warn;
	color: #fff;
	font-weight: 500;

	.hint {
		font-size: 14px;
	}

}

#main_header {

	background: #fff !important;
	@include boxshadow();
	color: #000;

	.breadcrumbs {

		md-icon {
			color: #000;
			fill: #000;
		}

	}

	.actions-left {

		.add-button {

			md-icon {
				color: #000;
				fill: #000;
			}

			span {
				padding: 0 10px 0 0;
				vertical-align: middle;
			}

		}

	}

	.center-wrapper {

		margin: 0 auto;
		position: absolute;
		left: 50%;

		.center {
			position: relative;
			left: -50%;
		}

	}

	// hide to fix alignment of search input field
	.md-errors-spacer {
		display: none;
	}

	.logout {

		md-icon {
			color: #000;
		}

	}

}

