<div id="update_notification" layout="row" layout-align="center center" ng-if="vm.updateAvailable">
	<div class="hint">{{ 'COMMON.UPDATE.HINT' | translate}}</div>
	<md-button ng-click="vm.refresh()">{{ 'COMMON.UPDATE.BUTTON' | translate}}</md-button>
</div>
<div id="confirm_email_notification" layout="row" layout-align="center center" ng-if="vm.$localStorage.user && !vm.$localStorage.user.email_confirmed">
	<div class="hint">{{ 'COMMON.CONFIRM.HINT' | translate}}</div>
	<md-button ng-click="vm.confirmEmail()">{{ 'COMMON.CONFIRM.BUTTON' | translate}}</md-button>
</div>
<div class="md-toolbar-tools" layout="row" layout-align="start center">

	<div class="breadcrumbs" layout="row" layout-align="start center">
		<span class="base" ng-if="vm.$state.current.base"><a href="#{{vm.$state.current.base.url}}">{{vm.$state.current.base.title | translate}}</a><md-icon class="material-icons" ng-if="vm.$state.current.title">chevron_right</md-icon></span>{{vm.$state.current.title | translate}}
	</div>

	<div class="actions-left">

		<md-button ng-href="#/pois/add" class="add-button" ng-if="vm.$state.current.url == '/pois'">
			<md-icon class="material-icons">add</md-icon>
			{{ 'COMMON.NEW' | translate }}
		</md-button>

		<md-button ng-href="#/newsletter-configurations/add" class="add-button" ng-if="vm.$state.current.url == '/newsletter-configurations'">
			<md-icon class="material-icons">add</md-icon>
			{{ 'COMMON.NEW' | translate }}
		</md-button>

		<md-button ng-href="#/micro-payments/add" class="add-button" ng-if="vm.$state.current.url == '/micro-payments'">
			<md-icon class="material-icons">add</md-icon>
			{{ 'COMMON.NEW' | translate }}
		</md-button>

		<md-button ng-href="#/admin/apps/add" class="add-button" ng-if="vm.$state.current.url == '/admin/apps'">
			<md-icon class="material-icons">add</md-icon>
			{{ 'COMMON.NEW' | translate }}
		</md-button>

		<md-button ng-href="#/admin/users/add" class="add-button" ng-if="vm.$state.current.url == '/admin/users'">
			<md-icon class="material-icons">add</md-icon>
			{{ 'COMMON.NEW' | translate }}
		</md-button>

		<md-button ng-href="#/tenants/add" class="add-button" ng-if="vm.$state.current.url == '/tenants'">
			<md-icon class="material-icons">add</md-icon>
			{{ 'COMMON.NEW' | translate }}
		</md-button>

	</div>

	<div class="center-wrapper">

		<!--POIs search field -->
		<generic-search class="center" ng-if="vm.$state.current.url == '/pois'" type="'pois'"></generic-search>

		<!--Touchpoints search field -->
		<generic-search class="center" ng-if="vm.$state.current.url == '/touchpoints'" type="'beacons'"></generic-search>

		<!--Users search field-->
		<generic-search class="center" ng-if="vm.$state.current.url == '/admin/users'" type="'users'"></generic-search>

		<!--Apps search field-->
		<generic-search class="center" ng-if="vm.$state.current.url == '/admin/apps'" type="'apps'"></generic-search>

		<!--newsletter-configuration search field-->
		<generic-search class="center" ng-if="vm.$state.current.url == '/newsletter-configurations'" type="'newsletter-configurations'"></generic-search>

		<!-- micro-payments search field-->
		<generic-search class="center" ng-if="vm.$state.current.url == '/micro-payments'" type="'micro-payments'"></generic-search>

		<!--Media search field-->
		<generic-search class="center" ng-if="vm.$state.current.url == '/media'" type="'media'"></generic-search>

		<!--Tenant search field-->
		<generic-search class="center" ng-if="vm.$state.current.url == '/tenants'" type="'tenants'"></generic-search>

		<!--FAQ search field-->
		<markdown-search class="center" ng-if="vm.$state.current.url == '/help'" type="'faqs'"></markdown-search>

		<!--changelog search field-->
		<markdown-search class="center" ng-if="vm.$state.current.url == '/changelog'" type="'changelog'"></markdown-search>

		<!--Superadmin search field-->
		<superadmin-search class="center" ng-if="vm.$state.current.url == '/superadmin-login'"></superadmin-search>

		<!--POI update button-->
		<poi class="center" ng-if="vm.$state.current.name == 'authorized.poi'"></poi>

		<!--Design update button-->
		<design-button class="center" ng-if="vm.$state.current.name == 'authorized.design'"></design-button>

		<!--Settings update button-->
		<settings-button class="center" ng-if="vm.$state.current.name == 'authorized.settings'"></settings-button>

		<!--Touchpoint update button-->
		<touchpoint-button class="center" ng-if="vm.$state.current.name == 'authorized.touchpoint'"></touchpoint-button>

		<!--Tenant/Tenant-Features update button-->
		<save-button class="center" ng-if="vm.$state.current.name == 'authorized.tenant-edit'" controllers="TenantFeatures,TenantEdit"></save-button>

	</div>

	<span flex></span>

	<md-button class="md-icon-button md-primary logout" open-cart ng-if="!vm.cartIsEmpty">
		<md-icon>shopping_cart</md-icon>
	</md-button>

	<md-button class="md-icon-button md-primary logout" ng-click="vm.backToSuperadmin()" ng-if="vm.isSuperadmin()">
		<md-icon class="material-icons">exit_to_app</md-icon>
		<md-tooltip md-direction="left">{{ 'SUPERADMIN.BACK_TO_SUPERADMIN' | translate }}</md-tooltip>
	</md-button>

	<md-button class="md-icon-button md-primary logout" ng-click="vm.logout()">
		<md-icon class="material-icons">power_settings_new</md-icon>
		<md-tooltip md-direction="left">{{ 'COMMON.LOGOUT' | translate }}</md-tooltip>
	</md-button>

</div>
