#kpi_card {
	text-align: center;
	padding: 5px 50px 5px 50px;
	margin: 5px 20px 5px 20px;
	min-width: 33%;
	.kpi-element {
		margin: 3% 0;
	}
	.icon-wrapper {
		color: $primary;
	}
	.loading {
		margin-left: auto;
		margin-right:auto;
	}
	.trend-indicator {
		margin-left: auto;
		margin-right: auto;
		color: #000;
		font-size: 45px;
	}
	.performance {
		.up {
			color: #29A420;
		}
		.flat {

		}
		.down {
			color: #860827;
		}
	}
	.compared-to {
		margin-top: 20px;
		font-weight: bold;
	}
	.small-kpi-text {
		font-size: 12px;
	}
}
