<!-- <div flex-xs flex-gt-xs="100" layout="column"> -->
	<div id="kpi_card" ng-if="!vm.kpiLoaded" layout-xs="column" layout-sm="column" layout="row">
		<div flex>
			<div class="loading" layout="row" layout-sm="column" layout-align="space-around">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
		</div>
	</div>
	<div id="kpi_card" ng-if="vm.kpiLoaded" layout-xs="column" layout-sm="column" layout="row">

		<div flex>
			<h3>{{ 'KPIS.CURRENT' | translate }}</h3>

			<div class="kpi-element">
				<div class="icon-wrapper"><i class="material-icons">bluetooth</i></div>
				<div>
					<span><b>{{ 'KPIS.SCANS' | translate }}: {{vm.kpis.current.scan_count}}</b></span>
					<span class="small-kpi-text"></span>
				</div>
			</div>

			<div class="kpi-element">
				<div class="icon-wrapper">
					<i class="material-icons">people</i>
				</div>
				<div>
					<span><b>{{ 'KPIS.CONTENTS' | translate }}: {{vm.kpis.current.poi_count}}</b></span>
					<span class="small-kpi-text">
						<br>{{ 'KPIS.CONTENTS' | translate }} Beacon: {{vm.kpis.current.poi_beacon_count}}
						<br>{{ 'KPIS.CONTENTS' | translate }} Web: {{vm.kpis.current.poi_web_count}}
					</span>
				</div>
			</div>

			<div class="kpi-element">
				<div class="icon-wrapper">
					<i class="material-icons">compare_arrows</i>
				</div>
				<div>
					<span><b>{{ 'KPIS.CONVERSIONS' | translate }}: {{vm.kpis.current.poi_scan_conversion}}%</b></span>
					<span class="small-kpi-text">
						<br>{{ 'KPIS.CONVERSIONS' | translate }} Beacon: {{vm.kpis.current.poi_beacon_scan_conversion}}%
						<br>{{ 'KPIS.CONVERSIONS' | translate }} Web: {{vm.kpis.current.poi_web_scan_conversion}}%
					</span>
				</div>
			</div>

		</div>

		<div flex>

			<h3>{{ 'KPIS.YESTERDAY' | translate }}</h3>

			<div class="kpi-element">
				<div class="icon-wrapper"><i class="material-icons">bluetooth</i></div>
				<div>
					<span><b>{{ 'KPIS.SCANS' | translate }}: {{vm.kpis.yesterday.scan_count}}</b></span>
					<span class="small-kpi-text"></span>
				</div>
			</div>

			<div class="kpi-element">
				<div class="icon-wrapper">
					<i class="material-icons">people</i>
				</div>
				<div>
					<span><b>{{ 'KPIS.CONTENTS' | translate }}: {{vm.kpis.yesterday.poi_count}}</b></span>
					<span class="small-kpi-text">
						<br>{{ 'KPIS.CONTENTS' | translate }} Beacon: {{vm.kpis.yesterday.poi_beacon_count}}
						<br>{{ 'KPIS.CONTENTS' | translate }} Web: {{vm.kpis.yesterday.poi_web_count}}
					</span>
				</div>
			</div>

			<div class="kpi-element">
				<div class="icon-wrapper">
					<i class="material-icons">compare_arrows</i>
				</div>
				<div>
					<span><b>{{ 'KPIS.CONVERSIONS' | translate }}: {{vm.kpis.yesterday.poi_scan_conversion}}%</b></span>
					<span class="small-kpi-text">
						<br>{{ 'KPIS.CONVERSIONS' | translate }} Beacon: {{vm.kpis.yesterday.poi_beacon_scan_conversion}}%
						<br>{{ 'KPIS.CONVERSIONS' | translate }} Web: {{vm.kpis.yesterday.poi_web_scan_conversion}}%
					</span>
				</div>
			</div>

		</div>

		<div flex>

			<h3>{{ 'KPIS.DAY_BEFORE_YESTERDAY' | translate }}</h3>

			<div class="kpi-element">
				<div class="icon-wrapper"><i class="material-icons">bluetooth</i></div>
				<div>
					<span><b>{{ 'KPIS.SCANS' | translate }}: {{vm.kpis.day_before_yesterday.scan_count}}</b></span>
					<span class="small-kpi-text"></span>
				</div>
			</div>

			<div class="kpi-element">
				<div class="icon-wrapper">
					<i class="material-icons">people</i>
				</div>
				<div>
					<span><b>{{ 'KPIS.CONTENTS' | translate }}: {{vm.kpis.day_before_yesterday.poi_count}}</b></span>
					<span class="small-kpi-text">
						<br>{{ 'KPIS.CONTENTS' | translate }} Beacon: {{vm.kpis.day_before_yesterday.poi_beacon_count}}
						<br>{{ 'KPIS.CONTENTS' | translate }} Web: {{vm.kpis.day_before_yesterday.poi_web_count}}
					</span>
				</div>
			</div>

			<div class="kpi-element">
				<div class="icon-wrapper">
					<i class="material-icons">compare_arrows</i>
				</div>
				<div>
					<span><b>{{ 'KPIS.CONVERSIONS' | translate }}: {{vm.kpis.day_before_yesterday.poi_scan_conversion}}%</b></span>
					<span class="small-kpi-text">
						<br>{{ 'KPIS.CONVERSIONS' | translate }} Beacon: {{vm.kpis.day_before_yesterday.poi_beacon_scan_conversion}}%
						<br>{{ 'KPIS.CONVERSIONS' | translate }} Web: {{vm.kpis.day_before_yesterday.poi_web_scan_conversion}}%
					</span>
				</div>
			</div>

		</div>


		<!-- <div>
			<div class="icon-wrapper">
				<i class="material-icons" ng-if="vm.type=='scans'">bluetooth</i>
				<i class="material-icons" ng-if="vm.type=='delivered-contents'">people</i>
				<i class="material-icons" ng-if="vm.type=='conversion-rate'">compare_arrows</i>
				<i class="material-icons" ng-if="vm.type=='accessed-channels'">chat</i>
			</div>
			<div>
				<span class="md-title" ng-if="vm.type=='scans'">{{ 'KPIS.SCANS' | translate }}</span>
				<span class="md-title" ng-if="vm.type=='delivered-contents'">{{ 'KPIS.CONTENTS' | translate }}</span>
				<span class="md-title" ng-if="vm.type=='conversion-rate'">{{ 'KPIS.CONVERSIONS' | translate }}</span>
				<span class="md-title" ng-if="vm.type=='accessed-channels'">{{ 'KPIS.CHANNELS' | translate }}</span>
			</div>
		</div>
		<i class="material-icons trend-indicator" ng-if="vm.kpiCard.trend=='up'">trending_up</i>
		<i class="material-icons trend-indicator" ng-if="vm.kpiCard.trend=='flat'">trending_flat</i>
		<i class="material-icons trend-indicator" ng-if="vm.kpiCard.trend=='down'">trending_down</i>
		<div>
			<div>
				<span class="md-headline" ng-if="vm.type=='scans'">{{vm.kpiCard.today}} {{ 'KPIS.SCANS' | translate }}</span>
				<span class="md-headline" ng-if="vm.type=='delivered-contents'">{{vm.kpiCard.today}} {{ 'KPIS.CONTENTS' | translate }}</span>
				<span class="md-headline" ng-if="vm.type=='conversion-rate'">{{vm.kpiCard.today}}% {{ 'KPIS.CONVERSIONS_SHORT' | translate }}</span>
				<span class="md-headline" ng-if="vm.type=='accessed-channels'">{{vm.kpiCard.today}} {{ 'KPIS.CHANNELS' | translate }}</span>
			</div>
		</div>
		<div class="compared-to">
			<small>{{ 'KPIS.YESTERDAY' | translate }} {{ vm.yesterday | localizedDateFilter:'LT' }}</small>
		</div>
		<div>
			<p ng-if="vm.type=='scans'">
				{{vm.kpiCard.yesterday}} <small>{{ 'KPIS.SCANS' | translate }}</small>
			</p>
			<p ng-if="vm.type=='delivered-contents'">
				{{vm.kpiCard.yesterday}} <small>{{ 'KPIS.CONTENTS' | translate }}</small>
			</p>
			<p ng-if="vm.type=='conversion-rate'">
				{{vm.kpiCard.yesterday}}% <small>{{ 'KPIS.CONVERSIONS_SHORT' | translate }}</small>
			</p>
			<p ng-if="vm.type=='accessed-channels'">
				{{vm.kpiCard.yesterday}} <small>{{ 'KPIS.CHANNELS' | translate }}</small>
			</p>
			<p class="performance">
				<span class="up" ng-if="vm.kpiCard.trend=='up'"><small>{{ 'KPIS.TREND' | translate }} {{vm.kpiCard.percent}}%</small></span>
				<span class="flat" ng-if="vm.kpiCard.trend=='flat'"><small>{{ 'KPIS.TREND' | translate }} {{ 'KPIS.FLAT' | translate }}</small></span>
				<span class="down" ng-if="vm.kpiCard.trend=='down'"><small>{{ 'KPIS.TREND' | translate }} {{vm.kpiCard.percent}}%<small></span>
			</p>
		</div> -->
	</div>
<!-- </div> -->
