
<div id="delivered_content_chart">
    <!-- <line-chart type="'seven-day-delivered-content'" days="7" flex="50"></line-chart> -->
    <line-chart type="'four-weeks-delivered-content'" days="28" flex="50"></line-chart>
    <line-chart type="'four-weeks-scanned-beacons'" days="28" flex="50"></line-chart>
    <!-- <line-chart type="'four-weeks-used-channels'" days="28" flex="50"></line-chart> -->
</div>
