#delivered_content_chart {

	background-color: #FFF;
	text-align: center;
	min-width: 400px;
	padding: 15px 30px 15px 30px;
	.line-chart-wrapper {
		margin-left:auto;
		margin-right:auto;
		max-width: 960px;
	}

}
