<div class="poi-touchpoints-wrapper" ng-if="vm.touchpoints">

	<h1>{{ 'POIS.LINKED_TOUCHPOINTS' | translate }}</h1>

	<md-list flex="35">

		<md-list-item ng-repeat="touchpoint in vm.$localStorage.poi[vm.poiId].changes.beacons">

			<span>{{vm.getDisplayName(touchpoint)}}</span>

			<span flex></span>

			<md-button ng-click="vm.removeTouchpoint(touchpoint);">
				{{ 'COMMON.REMOVE' | translate }}
			</md-button>
			<md-button open-qr-dialog="{{vm.GlobalConstants.appEdwardStoneQrUrl + '/' + touchpoint.url}}" class="md-icon-button">
				<md-icon md-font-icon="fa fa-qrcode"></md-icon>
			</md-button>

			<md-divider></md-divider>

		</md-list-item>

	</md-list>

	<h1>{{ 'POIS.AVAILABLE_TOUCHPOINTS' | translate }}</h1>

	<md-list flex="35">

		<md-list-item>

			<md-input-container md-no-float class="md-icon-left md-icon-right md-block">
				<md-icon class="material-icons">search</md-icon>
				<input ng-model="vm.filter" type="text" placeholder="{{ 'COMMON.SEARCH' | translate }}">
				<md-icon class="material-icons" class="reset-search" ng-hide="!vm.filter" ng-click="vm.resetSearch()">close</md-icon>
			</md-input-container>

		</md-list-item>

		<md-list-item ng-repeat="touchpoint in vm.touchpoints | filter:vm.filter:strict | unique: 'touchpoint.id'">

			<span>{{vm.getDisplayName(touchpoint)}}</span>

			<span flex></span>

			<md-button ng-click="vm.addTouchpoint(touchpoint);" ng-disabled="touchpoint.in_use">
				{{ 'COMMON.ADD' | translate }}
			</md-button>
			<md-button open-qr-dialog="{{vm.GlobalConstants.appEdwardStoneQrUrl + '/' + touchpoint.url}}" class="md-icon-button">
				<md-icon md-font-icon="fa fa-qrcode"></md-icon>
			</md-button>

		</md-list-item>

	</md-list>

</div>

<spinner ng-if="!vm.touchpoints"></spinner>
