

<div id="poi_content_wrapper">

	<md-nav-bar md-selected-nav-item="vm.selectedLanguage" class="content-tabs">

		<md-nav-item md-nav-click="goto('{{c.language}}')" name="{{c.language}}" ng-repeat="c in vm.$localStorage.poi[vm.poiId].changes.poi_contents  | orderBy:'language'" ng-if="c.action != 'delete'" layout="row" layout-align="center center">
			<div  layout="row" layout-align="center center">
				<span>{{vm.LanguageNamesService.getLanguage(c.language).nativeName}}</span>
				<md-icon class="material-icons content-status" ng-class="{'public':c.active, 'draft':!c.active}">radio_button_checked</md-icon>
			</div>
		</md-nav-item>

		<span flex></span>

		<div layout="row" layout-align="center center" class="show-poi">
			<i class="material-icons" ng-click="vm.openPreview();">phone_iphone</i>
			<md-tooltip md-direction="left">
				{{ 'POIS.SHOW_POI_TOOLTIP' | translate }}
			</md-tooltip>
		</div>

	</md-nav-bar>

	<div ng-repeat="(contentIndex, content) in vm.$localStorage.poi[vm.poiId].changes.poi_contents;" ng-if="content.language == vm.selectedLanguage && content.action != 'delete'">

		<div class="poi-content-settings">

			<div class="box">

				<div class="settings-header" layout="row" layout-align="none center">

					<span class="label">{{ 'COMMON.SETTINGS' | translate }}</span>

				</div>

				<div class="settings-content">

					<md-radio-group ng-model="content.has_url" layout="row" layout-align="start center" ng-change="vm.contentChanged();">
						<div class="label" flex="15">{{ 'POIS.MODE' | translate }}</div>
						<md-radio-button ng-value="false" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.DRAGANDDROP' | translate }}</md-radio-button>
						<md-radio-button ng-value="true" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.URL' | translate }}</md-radio-button>
					</md-radio-group>

					<md-radio-group ng-model="content.active" layout="row" layout-align="start center" ng-change="vm.contentChanged();">
						<div class="label" flex="15">{{ 'POIS.STATE' | translate }}</div>
						<md-radio-button ng-value="false" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.DRAFT' | translate }}</md-radio-button>
						<md-radio-button ng-value="true" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.PUBLIC' | translate }}</md-radio-button>
					</md-radio-group>

				</div>

			</div>

		</div>

		<div class="poi-content-url" ng-if="content.has_url">

			<div class="url-box">

				<md-input-container class="md-block md-icon-right" flex-gt-sm>

					<label>{{ 'COMMON.URL' | translate }}</label>
					<input ng-model="content.url" ng-blur="vm.checkUrl(contentIndex);" ng-change="vm.contentChanged();" type="url">
					<md-icon class="material-icons url-preview" ng-click="vm.urlPreview(content.url);">open_in_new</md-icon>

				</md-input-container>

			</div>

		</div>

		<div class="http-url-hint" ng-if="content.has_url && vm.hintHttp">

			<div class="http-url-hint-box" layout="row">

				<md-icon class="material-icons url-preview">warning</md-icon>
				<label class="url-hint-text">{{ 'POIS.HINT_HTTPS_LINK' | translate }}</label>

			</div>

		</div>

		<div class="url-spacer" ng-if="content.has_url">
			<!-- required, because hint is not always displayed -->
		</div>

		<div class="poi-content-meta">

			<div class="meta-preview">

				<div class="meta-preview-header" layout="row" layout-align="none center">

					<span class="label">{{ 'POIS.NOTIFICATION_META' | translate }}</span>

					<faq-link faq-id="'meta_data'"></faq-link>

					<span flex></span>

					<md-button class="md-icon-button" ng-click="vm.editMeta(vm.poiId, contentIndex);" ng-if="!content.meta.title || !content.meta.description">
						<md-icon class="material-icons module-error">error</md-icon>
						<md-tooltip class="multiline-tooltip" md-direction="left">{{ 'POIS.NOTIFICATION_CONTENT_HINT' | translate }}</md-tooltip>
					</md-button>

					<md-button class="md-icon-button" ng-click="vm.generateNotification(content);" ng-if="content.has_url" ng-disabled="vm.notificationLoading">
						<md-icon ng-if="!vm.notificationLoading" class="material-icons">sync</md-icon>
						<md-progress-circular ng-if="vm.notificationLoading" md-diameter="15"></md-progress-circular>
						<md-tooltip class="multiline-tooltip" md-direction="left">{{ 'POIS.REFRESH_NOTIFICATION' | translate }}</md-tooltip>
					</md-button>

					<md-button class="md-icon-button" ng-click="vm.editMeta(vm.poiId, contentIndex);" ng-disabled="vm.poiIsLockedByAnotherUser">
						<md-icon class="material-icons">mode_edit</md-icon>
					</md-button>

				</div>

				<div class="meta-preview-content" layout="row">

					<div ng-if="content.meta.image_type == 'id'" class="image">
						<image-preview image-id="content.meta.image_id"></image-preview>
					</div>
					<div ng-if="content.meta.image_type == 'url'" class="image">
						<img ng-if="content.meta.image_url" ng-src="{{content.meta.image_url}}">
						<md-icon ng-if="!content.meta.image_url" class="material-icons">panorama</md-icon>
					</div>
					<div class="image no-image" ng-if="!content.meta.image_type">
						<md-icon class="material-icons">panorama</md-icon>
					</div>
					<div flex>
						<div class="title">
							{{ content.meta.title }}
						</div>
						<div class="description" ng-if="content.meta.description">
							{{ content.meta.description }}
						</div>
						<div class="no-description" ng-if="!content.meta.description">
							{{ 'POIS.NO_DESCRIPTION' | translate }}
						</div>
					</div>

				</div>

			</div>

		</div>

		<div class="no-content-hint" ng-show="!content.data.groups[0]">

			{{ 'POIS.EMPTY_GROUP' | translate }}

			<div class="paste" ng-if="!vm.noGroupInClipBoard || !vm.noModuleInClipBoard">

				<md-button ng-if="!vm.noGroupInClipBoard" ng-click="vm.pasteGroup('before', contentIndex, 0)">
					<md-icon class="material-icons">content_paste</md-icon>
					{{ 'POIS.PASTE_COPIED_GROUP' | translate }}
				</md-button>

				<md-button ng-if="!vm.noModuleInClipBoard" ng-click="vm.createGroupAndPasteModule('before', contentIndex, 0, 0)">
					<md-icon class="material-icons">content_paste</md-icon>
					{{ 'POIS.PASTE_COPIED_MODULE' | translate }}
				</md-button>

			</div>

		</div>

		<ul dnd-list="content.data.groups" dnd-allowed-types="['containerType']" class="dropzone" ng-show="content.data.groups[0]">

			<li ng-repeat="(groupIndex, group) in content.data.groups" dnd-draggable="group" dnd-disable-if="vm.poiIsLockedByAnotherUser" dnd-moved="content.data.groups.splice($index, 1); vm.movedItem();" dnd-effect-allowed="move" dnd-type="'containerType'" class="poi-group" ng-class="{'hidden':group.hidden}">

				<div class="poi-group-header" layout="row" layout-align="none center">

					<span class="group-label" ng-click="vm.editGroup(contentIndex, groupIndex);">{{group.label}}</span>

					<span flex></span>

					<md-button class="md-icon-button" ng-click="vm.editGroup(contentIndex, groupIndex);" ng-if="group.ignoreInPOIChange && group.ignoreInPOIChange.showTimeHint">
						<md-icon md-font-icon="fa fa-clock-o"></md-icon>
						<md-tooltip class="multiline-tooltip" md-direction="left">
							<div ng-show="group.ignoreInPOIChange.visibilityExpired">{{ 'POIS.GROUP_VISIBLE.NOT_VISIBLE_ANYMORE' | translate:{time: ((group.time_to*1000) | localizedDateFilter:'LLL')} }}</div>
							<div ng-show="group.ignoreInPOIChange.visibilityNotStarted">{{ 'POIS.GROUP_VISIBLE.NOT_VISIBLE_YET' | translate: {time: ((group.time_from*1000) | localizedDateFilter:'LLL')} }}</div>
							<div ng-show="group.ignoreInPOIChange.visibilityHasTimes">{{ 'POIS.GROUP_VISIBLE.TIME_HINT' | translate }}</div>
						</md-tooltip>
					</md-button>

					<div class="group-up-and-down" ng-if="vm.deviceDetector.os == 'ios'">

						<md-button class="md-icon-button" ng-click="vm.moveGroupUp(contentIndex, groupIndex)" ng-disabled="groupIndex == 0">
							<md-icon class="material-icons">arrow_upward</md-icon>
						</md-button>

						<md-button class="md-icon-button" ng-click="vm.moveGroupDown(contentIndex, groupIndex)" ng-disabled="groupIndex == content.data.groups.length-1">
							<md-icon class="material-icons">arrow_downward</md-icon>
						</md-button>

					</div>

					<md-menu>

						<md-button class="md-icon-button" ng-click="vm.openGroupContextMenu($mdOpenMenu, $event)">
							<md-icon class="material-icons">more_horiz</md-icon>
						</md-button>

						<md-menu-content width="4">

							<md-menu-item>
								<md-button ng-click="vm.editGroup(contentIndex, groupIndex);">
									<md-icon class="material-icons">mode_edit</md-icon>
									{{ 'POIS.CONTEXT_MENU.EDIT_GROUP' | translate }}
								</md-button>
							</md-menu-item>

							<md-menu-divider></md-menu-divider>

							<md-menu-item>
								<md-button ng-click="vm.copyGroup(contentIndex, groupIndex)">
									<md-icon class="material-icons">content_copy</md-icon>
									{{ 'POIS.CONTEXT_MENU.COPY_GROUP' | translate }}
								</md-button>
							</md-menu-item>

							<md-menu-item>
								<md-button ng-disabled="vm.noGroupInClipBoard" ng-click="vm.pasteGroup('before', contentIndex, groupIndex)">
									<md-icon class="material-icons">content_paste</md-icon>
									{{ 'POIS.CONTEXT_MENU.PASTE_GROUP_BEFORE' | translate }}
								</md-button>
							</md-menu-item>

							<md-menu-item>
								<md-button ng-disabled="vm.noGroupInClipBoard" ng-click="vm.pasteGroup('after', contentIndex, groupIndex)">
									<md-icon class="material-icons">content_paste</md-icon>
									{{ 'POIS.CONTEXT_MENU.PASTE_GROUP_AFTER' | translate }}
								</md-button>
							</md-menu-item>

							<md-menu-item ng-show="group.hidden">
								<md-button ng-click="vm.showGroup(contentIndex, groupIndex)">
									<md-icon md-font-icon="fa fa-eye"></md-icon>
									{{ 'POIS.CONTEXT_MENU.SHOW_GROUP' | translate }}
								</md-button>
							</md-menu-item>

							<md-menu-item ng-show="!group.hidden">
								<md-button ng-click="vm.hideGroup(contentIndex, groupIndex)">
									<md-icon md-font-icon="fa fa-eye-slash"></md-icon>
									{{ 'POIS.CONTEXT_MENU.HIDE_GROUP' | translate }}
								</md-button>
							</md-menu-item>

							<md-menu-divider></md-menu-divider>

								<md-menu-item>
									<md-button class="md-warn" ng-click="vm.deleteGroup(contentIndex, groupIndex)">
										<md-icon class="material-icons">close</md-icon>
										{{ 'POIS.CONTEXT_MENU.DELETE_GROUP' | translate }}
									</md-button>
								</md-menu-item>

						</md-menu-content>

					</md-menu>

				</div>

				<ul dnd-list="group.modules" dnd-allowed-types="['itemType']" class="dropzone">

					<li ng-repeat="(moduleIndex, module) in group.modules" dnd-draggable="module" dnd-disable-if="vm.poiIsLockedByAnotherUser" dnd-moved="group.modules.splice($index, 1); vm.movedItem();" dnd-effect-allowed="move" dnd-type="'itemType'" class="poi-module" ng-class="{'hidden':module.hidden}" layout="row" layout-align="none center">

						<module-icon class="module-icon" icon="vm.modulesByName[module.type].icon" ng-click="vm.editModule(contentIndex, groupIndex, moduleIndex)"></module-icon>

						<span class="module-label" ng-click="vm.editModule(contentIndex, groupIndex, moduleIndex)">{{module.label}}</span>

						<span flex></span>

						<div class="module-up-and-down" ng-if="vm.deviceDetector.os == 'ios'">

							<md-button class="md-icon-button" ng-click="vm.moveModuleUp(contentIndex, groupIndex, moduleIndex)" ng-disabled="moduleIndex == 0 && groupIndex == 0">
								<md-icon class="material-icons">arrow_upward</md-icon>
							</md-button>

							<md-button class="md-icon-button" ng-click="vm.moveModuleDown(contentIndex, groupIndex, moduleIndex)" ng-disabled="moduleIndex == group.modules.length-1 && groupIndex == content.data.groups.length-1">
								<md-icon class="material-icons">arrow_downward</md-icon>
							</md-button>

						</div>

						<md-button class="md-icon-button" ng-click="vm.editModule(contentIndex, groupIndex, moduleIndex)" ng-if="module.data.errors">
							<md-icon class="material-icons module-error">error</md-icon>
							<md-tooltip md-direction="left">
								{{ 'POIS.MODULE_ERRORS' | translate }}
							</md-tooltip>
						</md-button>

						<md-menu>

							<md-button class="md-icon-button" ng-click="vm.openModuleContextMenu($mdOpenMenu, $event)">
								<md-icon class="material-icons">more_horiz</md-icon>
							</md-button>

							<md-menu-content width="4">

								<md-menu-item>
									<md-button ng-click="vm.editModule(contentIndex, groupIndex, moduleIndex)">
										<md-icon class="material-icons">mode_edit</md-icon>
										{{ 'POIS.CONTEXT_MENU.EDIT_MODULE' | translate }}
									</md-button>
								</md-menu-item>

								<md-menu-divider></md-menu-divider>

								<md-menu-item>
									<md-button ng-click="vm.copyModule(contentIndex, groupIndex, moduleIndex)">
										<md-icon class="material-icons">content_copy</md-icon>
										{{ 'POIS.CONTEXT_MENU.COPY_MODULE' | translate }}
									</md-button>
								</md-menu-item>

								<md-menu-item>
									<md-button ng-disabled="vm.noModuleInClipBoard || vm.poiIsLockedByAnotherUser" ng-click="vm.pasteModule('before', contentIndex, groupIndex, moduleIndex)">
										<md-icon class="material-icons">content_paste</md-icon>
										{{ 'POIS.CONTEXT_MENU.PASTE_MODULE_BEFORE' | translate }}
									</md-button>
								</md-menu-item>

								<md-menu-item>
									<md-button ng-disabled="vm.noModuleInClipBoard || vm.poiIsLockedByAnotherUser" ng-click="vm.pasteModule('after', contentIndex, groupIndex, moduleIndex)">
										<md-icon class="material-icons">content_paste</md-icon>
										{{ 'POIS.CONTEXT_MENU.PASTE_MODULE_AFTER' | translate }}
									</md-button>
								</md-menu-item>

								<md-menu-item ng-show="module.hidden">
									<md-button ng-click="vm.showModule(contentIndex, groupIndex, moduleIndex)" ng-disabled="vm.poiIsLockedByAnotherUser">
										<md-icon md-font-icon="fa fa-eye"></md-icon>
										{{ 'POIS.CONTEXT_MENU.SHOW_MODULE' | translate }}
									</md-button>
								</md-menu-item>

								<md-menu-item ng-show="!module.hidden">
									<md-button ng-click="vm.hideModule(contentIndex, groupIndex, moduleIndex)" ng-disabled="vm.poiIsLockedByAnotherUser">
										<md-icon md-font-icon="fa fa-eye-slash"></md-icon>
										{{ 'POIS.CONTEXT_MENU.HIDE_MODULE' | translate }}
									</md-button>
								</md-menu-item>

								<md-menu-divider></md-menu-divider>

								<md-menu-item>
									<md-button class="md-warn" ng-click="vm.deleteModule(contentIndex, groupIndex, moduleIndex)" ng-disabled="vm.poiIsLockedByAnotherUser">
										<md-icon class="material-icons">close</md-icon>
										{{ 'POIS.CONTEXT_MENU.DELETE_MODULE' | translate }}
									</md-button>
								</md-menu-item>

							</md-menu-content>

						</md-menu>

					</li>

				</ul>

				<md-button ng-click="vm.addModule(contentIndex, groupIndex);" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'POIS.ADD_MODULE' | translate }}</md-button>

			</li>

		</ul>

		<md-button ng-click="vm.addGroup(contentIndex);" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'POIS.ADD_GROUP' | translate }}</md-button>

	</div>

</div>

<!--<spinner ng-if="!vm.poiLoaded"></spinner>-->
