#poi_content_wrapper {

	margin: 0 auto;
	max-width: 650px;
	background: #f6f6f6;
	text-align: center;

	.content-tabs {

		.content-status {

			font-size: 12px;
			height: 12px;
			width: 12px;
			min-height: 12px;
			max-height: 12px;

			&.public {
				color: $green;
			}

			&.draft {
				color: $orange;
			}

		}

	}

	.poi-content-meta {

		margin: 0 0 20px 0;
		padding: 20px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.9);
		text-align: left;

		.meta-preview {

			background: rgba(255, 255, 255, 0.9);
			@include boxshadow();

			.meta-preview-header {

				padding: 0 0 0 20px;
				height: 50px;
				width: 100%;
				border-bottom: 1px solid rgba(255, 255, 255, 0.9);
				text-align: initial;

				.label {
					font-weight: 500;
					text-transform: uppercase;
				}

				md-icon {
					font-size: 20px;
					width: 20px;
					height: 20px;
					min-width: 20px;
					min-height: 20px;
				}

			}

			.meta-preview-content {

				padding: 20px;

				image-preview {

					margin: 0 20px 0 0;

					.image-container {
						width: 100px;
						height: 100px;
					}

				}

				img {
					width: 100px;
					height: 100px;
					margin: 0 20px 0 0;
				}

				.image {
					margin: 0 20px 0 0;
					width: 100px;
					height: 100px;
					background: #f6f6f6;
					line-height: 100px;
					text-align: center;
				}

				.title {
					padding: 0 0 10px 0;
					font-weight: bold;
					font-size: 18px;
				}

				.no-description {
					color: #727272;
					font-size: 12px;
				}

			}

		}

	}

	.show-poi {

		padding: 0 20px 0 0;

		i {
			cursor: pointer;
		}

	}

	.poi-content-settings {

		padding: 20px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.9);
		text-align: left;

		.box {
			background: #fff;
			@include boxshadow();
		}

		.settings-header {

			padding: 0 0 0 20px;
			height: 50px;
			width: 100%;
			border-bottom: 1px solid rgba(255, 255, 255, 0.9);
			text-align: initial;

			.label {
				font-weight: 500;
				text-transform: uppercase;
			}

		}

		.settings-content {

			padding: 20px;

			.label {
				padding: 0 20px 0 0;
				text-transform: uppercase;
				font-weight: 500;
			}

			md-radio-group {
				padding: 5px 0;
			}

		}

	}

	.poi-content-url {

		padding: 20px 20px 0;
		text-align: left;

		.url-box {

			padding: 20px 20px 0 20px;
			background: #fff;
			@include boxshadow();

			.test-smaller {
				margin-bottom: 0;
			}

			.url-preview {
				cursor: pointer;
			}

		}

	}

	.http-url-hint {

		padding: 0 20px 20px;

		.http-url-hint-box {

			background: #fff;
			color: $warn;
			padding: 20px;
			@include boxshadow();

			.url-hint-text {
				text-align: left;
				padding-left: 20px;
			}

		}

	}

	.url-spacer {
		padding: 0;
		margin: 0;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.9);
	}

	.no-content-hint {

		margin: 20px;
		padding: 20px;
		background: #fff;
		@include boxshadow();

		.paste {
			padding: 10px 0 0 0;
		}

	}

	ul {
		padding: 0;
		list-style: none;
	}

	.dndDraggingSource {
		display: none;
	}

	.poi-group {

		margin: 20px;
		background: #fff;
		@include boxshadow();

		&.hidden {
			opacity: .5;
		}

		.poi-group-header {

			padding: 0 0 0 20px;
			height: 50px;
			width: 100%;
			border-bottom: 1px solid rgba(255, 255, 255, 0.9);
			text-align: initial;
			cursor: -webkit-grab;

			.group-label {
				font-weight: 500;
				text-transform: uppercase;
				cursor: pointer;
				@include remove-tap-highlight();
			}

			md-icon {
				font-size: 20px;
				width: 20px;
				height: 20px;
				min-width: 20px;
				min-height: 20px;
			}

		}

	}

	.dndPlaceholder {
		margin: 20px;
		height: 50px;
		background: $primaryDarken4;
	}

	.poi-module {

		margin: 20px;
		padding: 0 0 0 20px;
		height: 50px;
		background: $primaryDarken2;
		color: #fff;
		@include boxshadow();
		cursor: -webkit-grab;

		&.dndDragging {
			cursor: -webkit-grabbing !important;
		}

		&.hidden {
			opacity: .4;
		}

		md-icon,
		i {

			font-size: 20px;
			width: 20px;
			height: 20px;
			min-width: 20px;
			min-height: 20px;

			&.module-icon,
			&.fa {
				padding: 0 10px 0 0;
				color: #fff;
			}

		}

		.module-error {
			color: #fff;
		}

		.module-label {
			padding: 0 0 0 10px;
		}

		.module-icon,
		.module-label {
			cursor: pointer;
			@include remove-tap-highlight();
		}

	}

	.dropzone {
		min-height: 50px;
	}

}
