<div id="users_form" class="sb-boxshadow">

	<h1 ng-if="!vm.isSelf()">{{ 'USERS.DETAILS' | translate }}</h1>
	<h1 ng-if="vm.isSelf()">{{ 'USERS.PROFILE' | translate }}</h1>

	<form name="userForm" ng-submit="vm.saveUser()">

		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex="50">
				<label>{{ 'USERS.FIRSTNAME' | translate }}</label>
				<input required name="firstname" type="text" minlength="3" maxlength="255" ng-model="vm.user.firstname">
				<div ng-messages="userForm.firstname.$error" role="alert">
					<div ng-message-exp="['required', 'minlength', 'maxlength']">
						{{ 'APPS.NAMEVALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex="50">
				<label>{{ 'USERS.LASTNAME' | translate }}</label>
				<input required name="lastname" type="text" minlength="3" maxlength="255" ng-model="vm.user.lastname">
				<div ng-messages="userForm.lastname.$error" role="alert">
					<div ng-message-exp="['required', 'minlength', 'maxlength']">
						{{ 'APPS.NAMEVALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

		</div>

		<div layout-gt-sm="row">

			<md-input-container class="md-block" flex="50">
				<label>{{ 'COMMON.EMAIL' | translate }}</label>
				<input required name="email" type="email" ng-pattern="/^.+@.+\..+$/" ng-model="vm.user.email">
				<div ng-messages="userForm.email.$error" role="alert">
					<div ng-message-exp="['required', 'pattern']">
						{{ 'COMMON.EMAILVALIDATION' | translate }}
					</div>
				</div>
			</md-input-container>

		</div>

		<div layout-gt-sm="row">

			<md-input-container flex="50">
				<label>{{ 'COMMON.DEFAULT_LANGUAGE' | translate }}</label>
				<md-select ng-model="vm.user.language">
					<md-option ng-repeat="(code, language) in vm.languages" value="{{code}}">
						{{language.nativeName}}
					</md-option>
				</md-select>
			</md-input-container>

			<md-input-container flex="50">
				<label>{{ 'USERS.ROLE' | translate }}</label>
				<md-select ng-model="vm.user.role" ng-disabled="vm.user.id == vm.$localStorage.user.id">
					<md-option ng-repeat="role in vm.roles" value="{{role.value}}">
						{{role.translation}}
					</md-option>
				</md-select>
			</md-input-container>

		</div>

			<div layout-gt-sm="row">

			<md-input-container flex="50">
				<label>{{ 'COMMON.LOCALE' | translate }}</label>
				<md-select ng-model="vm.user.locale" ng-disabled="!vm.locales">
					<md-option ng-if="vm.locales" ng-repeat="(localeCode, locale) in vm.locales" value="{{localeCode}}">
						{{locale.nativeName}}
					</md-option>
				</md-select>
			</md-input-container>

		</div>

		<div ng-if="!vm.isNewUser && !vm.isSelf()" layout-gt-sm="row">
			<md-input-container flex="10">
				<md-switch class="md-primary" ng-model="vm.user.active" aria-label="Active Switch">
					{{ 'COMMON.ACTIVE' | translate }}
				</md-switch>
			</md-input-container>
		</div>

		<div layout="row">

			<div layout="row" layout-align="start none" flex>
				<md-button type="submit" class="add-user-button md-primary md-raised">{{ 'COMMON.SAVE' | translate }}</md-button>
			</div>

			<div layout="row" layout-align="center none" flex>
				<md-button ng-if="!vm.isNewUser" ng-click="vm.resetPassword($event)" type="button" class="remove-user-button md-raised md-warn">{{ 'USERS.RESET_PASSWORD' | translate }}</md-button>
			</div>

			<div layout="row" layout-align="end none" flex>
				<md-button ng-if="!vm.isNewUser && !vm.isSelf()" ng-click="vm.deleteUser($event)" type="button" class="remove-user-button md-raised md-warn">{{ 'COMMON.DELETE' | translate }}</md-button>
			</div>

		</div>

		<div ng-if="!vm.isSelf()" layout="row">
			<h1>{{ 'COMMON.TOUCHPOINTS' | translate }}</h1>
		</div>

		<div ng-if="vm.user.savedRole=='subuser' && vm.user.role=='subuser' && !vm.isSelf()" layout-gt-sm="row">
			<touchpoint-select user="vm.user" flex="100"></touchpoint-select>
		</div>
		<div ng-if="(vm.user.savedRole!='subuser' || vm.user.role!='subuser') && !vm.isSelf()" layout-gt-sm="row">
			<p>{{ 'USERS.TOUCHPOINTS_NOT_SELECTABLE' | translate }}</p>
		</div>

	</form>

</div>
