
.md-button {

	&.add-poi {

		vertical-align: middle;
		color: #000 !important;

		md-icon {
			color: #000;
			fill: #000;
		}

		span {
			padding: 0 10px 0 0;
			vertical-align: middle;
		}

	}

}