#cart-btn {
	overflow: visible;
}

#cart-badge {

	position: absolute;
	color: white;
	background-color: $primary;
	border-radius: 50%;
	font-size: 12px;
	line-height: 25px;
	top: -5px;
	width: 25px;
	height: 25px;
	text-align: center;

}
