#markdown_list {

	.part {
		background: #fff;
		-webkit-box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
		box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
	}

	.item {

		margin: 0 20px;
		padding: 10px 0;
		border-bottom: 1px solid #f4f4f4;
		color: rgba(35,35,45,.7);

		-o-transition:.2s;
		-ms-transition:.2s;
		-moz-transition:.2s;
		-webkit-transition:.2s;
		transition:.2s;

		> div {
			vertical-align: middle;
		}

		.item-anchor {
			color: inherit;
			text-decoration: inherit;
		}

	}

	.search {
		width: 300px;
	}

}
