<div id="markdown_list" layout="column" flex>

	<div class="part">

		<div ng-if="!vm.version">
			<div ng-repeat="item in vm.itemArray | orderBy:'content':vm.reverse | filter:vm.$localStorage[vm.search]">
				<div class="item" marked="item.content"></div>
			</div>
		</div>

		<div ng-if="vm.version">
			<div ng-repeat="item in vm.itemArray | orderBy:'content':vm.reverse:vm.versionCompare | filter:vm.$localStorage[vm.search]" version>
				<div class="item" marked="item.content"></div>
			</div>
		</div>

	</div>

</div>
