
<div layout="row" layout-align="start center" ng-if="vm.valueType != 'radio'" class="value-wrapper">

	<span class="value">{{ 'COMMON.DEFAULT' | translate }}: <span ng-if="vm.defaultValue">{{vm.defaultValue}}</span><span ng-if="!vm.defaultValue">{{ 'POIS.DEFAULT_NOT_SET' | translate }}</span></span>

	<span class="color-circle" ng-if="vm.valueType == 'color'" ng-style="{'background': vm.defaultValue}"></span>

</div>

<span ng-if="vm.valueType == 'radio'">

	<span ng-if="vm.defaultValue == 'visible'">({{ 'COMMON.VISIBLE' | translate }})</span>
	<span ng-if="vm.defaultValue == 'invisible'">({{ 'COMMON.INVISIBLE' | translate }})</span>
	<span ng-if="vm.defaultValue == 'fixed'">({{ 'ADMIN.DESIGN.FIXED' | translate }})</span>
	<span ng-if="vm.defaultValue == 'scrollable'">({{ 'ADMIN.DESIGN.SCROLLABLE' | translate }})</span>
	<span ng-if="vm.defaultValue == 'all_left'">({{ 'ADMIN.DESIGN.ALL_LEFT' | translate }})</span>
	<span ng-if="vm.defaultValue == 'all_center'">({{ 'ADMIN.DESIGN.ALL_CENTER' | translate }})</span>
	<span ng-if="vm.defaultValue == 'all_right'">({{ 'ADMIN.DESIGN.ALL_RIGHT' | translate }})</span>
	<span ng-if="vm.defaultValue == 'normal'">({{ 'STYLES.NORMAL' | translate }})</span>
	<span ng-if="vm.defaultValue == 'bold'">({{ 'STYLES.BOLD' | translate }})</span>
	<span ng-if="vm.defaultValue == 'initial'">({{ 'STYLES.INITIAL' | translate }})</span>
	<span ng-if="vm.defaultValue == 'uppercase'">({{ 'STYLES.UPPERCASE' | translate }})</span>
	<span ng-if="vm.defaultValue == 'lowercase'">({{ 'STYLES.LOWERCASE' | translate }})</span>

</span>