
poi-design-default-value {

	color: #989898;
	font-size: 14px;

	.color-circle {
		margin: 0 0 0 10px;
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 1px solid rgba(0, 0, 0, 0.12);
	}

}