#group_edit_dialog {

	.remove-item {
		cursor: pointer;
	}

	.time-input-container {
		padding: 3px 0 0 10px;
		width: 80px;
		max-width: 80px;
		height: 40px;
		margin: 0;
		color: rgba(0, 0, 0, 0.87);

		.time-input {
			font-size: 14px;
			padding: 6px 0 0 3px;
		}

	}

	.edit-item {
		cursor: pointer;
	}

}