<md-dialog class="default-dialog default-height-dialog" id="group_edit_dialog">

	<form ng-submit="group_dialog_form.$valid && vm.save()" name="group_dialog_form" id="group_dialog_form">

		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{ 'POIS.EDIT_GROUP' | translate}}</h2>
			</div>
		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('timing')" name="timing">{{ 'POIS.TIMING' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

		<md-dialog-content>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'timing'">

				<div layout-gt-sm="row">

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'POIS.GROUP_LABEL' | translate}}</label>
						<input ng-model="vm.label" md-maxlength="255" name="group_label" required>
					</md-input-container>

				</div>

				<div layout-gt-sm="row" class="start-end-container">

					<div flex-gt-xs="50" layout-gt-sm="row" layout-align="start center">

						<h4>{{ 'COMMON.START' | translate}}</h4>

						<md-datepicker ng-if="!vm.hasTimeTo" id="date_from" ng-model="vm.date_from" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
						<md-datepicker ng-if="vm.hasTimeTo" id="date_from" ng-model="vm.date_from" md-placeholder="Enter date" md-max-date="vm.date_to" md-open-on-focus ng-blur="vm.dateRevalidate()"></md-datepicker>

						<md-input-container class="md-block time-input-container">
							<input class="time-input" ng-model="vm.time_from" ui-timepicker="vm.TimepickerConfigService.config"></input>
						</md-input-container>

					</div>

					<div flex-gt-xs="50" ng-if="vm.hasTimeTo" layout="row" layout-align="start center">

						<h4>{{ 'COMMON.END' | translate}}</h4>

						<md-datepicker id="date_to" ng-model="vm.date_to" md-placeholder="Enter date" md-min-date="vm.date_from" md-open-on-focus ng-blur="vm.dateRevalidate()"></md-datepicker>

						<md-input-container class="md-block time-input-container">
							<input class="time-input" ng-model="vm.time_to" ui-timepicker="vm.TimepickerConfigService.config"></input>
						</md-input-container>

					</div>

				</div>

				<div layout="row" layout-align="start center">

					<md-switch ng-model="vm.hasTimeTo" aria-label="End-Time" flex>
						{{ 'POIS.ADD_END_TIME' | translate}}
					</md-switch>

					<md-checkbox ng-if="vm.hasTimeTo" ng-model="vm.delete_when_expired" class="expire-box" flex>
						{{ 'POIS.DELETE_EXPIRED' | translate }}
						<md-tooltip>
							{{ 'POIS.DELETE_EXPIRED_TIP' | translate }}
						</md-tooltip>
					</md-checkbox>

				</div>

				<md-switch ng-model="vm.hasWeekdays" aria-label="Weekdays">
					{{ 'POIS.ADD_WEEKDAYS' | translate}}
				</md-switch>

				<div layout="row" ng-if="vm.hasWeekdays">

					<div ng-repeat="(day, data) in vm.weekdays" flex>

						<div>
							<md-checkbox ng-model="vm.weekdays[day].active" aria-label="Checkbox 1">
								{{vm.getDayName(day)}}
							</md-checkbox>
						</div>

						<div>

							<div ng-repeat="(index, time) in vm.weekdays[day].times">

								<a class="edit-item" ng-click="vm.editTime(day, index)">{{ time.time_from }} - {{ time.time_to }}</a> <a class="remove-item" ng-click="vm.removeTime(day, index)">X</a>

							</div>

						</div>

						<div ng-if="vm.weekdays[day].active && vm.weekdays[day].times.length == 0">{{ 'POIS.ALL_DAY' | translate}}</div>

						<md-button ng-if="vm.weekdays[day].active" ng-click="vm.addTime(day);">{{ 'POIS.ADD_TIME' | translate}}</md-button>

					</div>

				</div>

				<div hidden-on-live>

					<div layout="row">
						<b>{{ 'POIS.GROUP_ACCESS' | translate}}</b>
					</div>

					<div layout="row">
						<md-select ng-model="vm.group.show" placeholder="Access Rights" flex="50">
							<md-option value="always">{{ 'POIS.GROUP_ACCESS_ALWAYS' | translate}}</md-option>
							<md-option value="beacon">{{ 'POIS.GROUP_ACCESS_PHYSICAL_WEB' | translate}}</md-option>
							<md-option value="not_beacon">{{ 'POIS.GROUP_ACCESS_NORMAL' | translate}}</md-option>
						</md-select>
					</div>

				</div>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<div md-color-picker ng-model="vm.group.css.wrapper.background" md-color-material-palette="false" label="{{ 'STYLES.BACKGROUND_COLOR' | translate}}"></div>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.group.html_id">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.group.html_classes">
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
				</md-button>
			<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
