<md-content class="Page-container">
	
	<div class="public-form-wrapper" layout="row" layout-align="center center" ng-style="vm.backgroundImage">

		<div class="public-form-container" layout="column" layout-align="center center">

			<h1 class="md-headline" ng-if="vm.newUser">{{ 'PASSWORDS.SET_MESSAGE' | translate }}</h1>
			<h1 class="md-headline" ng-if="!vm.newUser">{{ 'PASSWORDS.RESET_MESSAGE' | translate }}</h1>

			<form ng-submit="vm.submit()" class="public-form" layout="column">
				
				<div ng-if="!vm.isValidToken" layout="row" layout-align="center center">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
			
				<div ng-show="vm.isValidToken" layout="column">
					<md-input-container>
						<label>{{ 'PUBLIC.PASSWORD' | translate }}</label>
						<input type="password" ng-model="vm.password">
					</md-input-container>
			
					<md-input-container>
						<label>{{ 'PUBLIC.PASSWORD_CONFIRM' | translate }}</label>
						<input type="password" ng-model="vm.password_confirmation">
					</md-input-container>
			
					<md-button ng-if="!vm.newUser" type="submit" class="md-primary md-raised">{{ 'PUBLIC.PASSWORD_RESET_BUTTON' | translate }}</md-button>
					<md-button ng-if="vm.newUser" type="submit" class="md-primary md-raised">{{ 'PUBLIC.PASSWORD_SET_BUTTON' | translate }}</md-button>
				</div>
			
			</form>

			<a href="#/login" class="change-page-link">{{ 'PUBLIC.BACK_TO_LOGIN' | translate }}</a>

		</div>
		
	</div>
	
</md-content>

