
<div layout="row" ng-if="vm.type == 'padding'">

	<md-input-container class="md-block" ng-if="vm.shouldDisplay('top')" flex-gt-sm>
		<label>{{ 'STYLES.PADDING_TOP' | translate}}</label>
		<input ng-model="vm.module.data.css.wrapper.paddingTop" name="design_padding_top" units-input>
	</md-input-container>

	<md-input-container class="md-block" ng-if="vm.shouldDisplay('right')" flex-gt-sm>
		<label>{{ 'STYLES.PADDING_RIGHT' | translate}}</label>
		<input ng-model="vm.module.data.css.wrapper.paddingRight" name="design_padding_right" units-input>
	</md-input-container>

	<md-input-container class="md-block" ng-if="vm.shouldDisplay('bottom')" flex-gt-sm>
		<label>{{ 'STYLES.PADDING_BOTTOM' | translate}}</label>
		<input ng-model="vm.module.data.css.wrapper.paddingBottom" name="design_padding_bottom" units-input>
	</md-input-container>

	<md-input-container class="md-block" ng-if="vm.shouldDisplay('left')" flex-gt-sm>
		<label>{{ 'STYLES.PADDING_LEFT' | translate}}</label>
		<input ng-model="vm.module.data.css.wrapper.paddingLeft" name="design_padding_left" units-input>
	</md-input-container>

</div>

<div layout="row" ng-if="vm.type == 'margin'">

	<md-input-container class="md-block" ng-if="vm.shouldDisplay('top')" flex-gt-sm>
		<label>{{ 'STYLES.MARGIN_TOP' | translate}}</label>
		<input ng-model="vm.module.data.css.wrapper.marginTop" name="design_margin_top" units-input>
	</md-input-container>

	<md-input-container class="md-block" ng-if="vm.shouldDisplay('right')" flex-gt-sm>
		<label>{{ 'STYLES.MARGIN_RIGHT' | translate}}</label>
		<input ng-model="vm.module.data.css.wrapper.marginRight" name="design_margin_right" units-input>
	</md-input-container>

	<md-input-container class="md-block" ng-if="vm.shouldDisplay('bottom')" flex-gt-sm>
		<label>{{ 'STYLES.MARGIN_BOTTOM' | translate}}</label>
		<input ng-model="vm.module.data.css.wrapper.marginBottom" name="design_margin_bottom" units-input>
	</md-input-container>

	<md-input-container class="md-block" ng-if="vm.shouldDisplay('left')" flex-gt-sm>
		<label>{{ 'STYLES.MARGIN_LEFT' | translate}}</label>
		<input ng-model="vm.module.data.css.wrapper.marginLeft" name="design_margin_left" units-input>
	</md-input-container>

</div>
