#full_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(255,255,255,1);
	// background: url("../../img/substance-login.jpg") no-repeat center center fixed;
	background-size: cover;
}
