<div id="poi_access_wrapper">
    <div class="poi-select">
        <div id="poi_access_heading">{{ 'POIS.SELECT_ANALYTICS' | translate }}</div>
        <md-input-container flex-gt-sm>
            <label>Point of Interest</label>
            <md-select ng-model="vm.selectedPoiWithEvents" ng-change="vm.updateChart(vm.selectedPoiWithEvents)">
                <md-option ng-repeat="poi in vm.poisWithEvents" ng-value="poi">
                {{poi.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <line-chart type="'four-weeks-poi-access'" days="28" flex="50"></line-chart>
    <line-chart type="'four-weeks-poi-scans'" days="28" flex="50"></line-chart>
    <!-- <line-chart type="'four-weeks-poi-channels'" days="28" flex="50"></line-chart> -->
</div>
