#poi_access_wrapper {

	background-color: #FFF;
	text-align: center;
	min-width: 400px;
	padding: 15px 30px 15px 30px;

	#poi_access_heading {
		font-size: 16px;
	}

	.line-chart-wrapper {
		margin-left:auto;
		margin-right:auto;
		max-width: 960px;
	}

	.poi-select {
		padding: 10px 20px 10px 20px;
	}
}
