
#newsletter_configuration_form {

	padding: 20px;
	background: #fff;

	.add-newsletter-configuration-button {
		max-width: 200px;
	}

	.remove-newsletter-configuration-button {
		max-width: 200px;
	}

}
