<div id="newsletter_configuration_form" class="sb-boxshadow">

    <h1>{{ 'NEWSLETTER_CONFIGURATIONS.DETAILS' | translate }}</h1>

    <form name="newsletterConfigurationForm" ng-submit="vm.saveNewsletterConfiguration()">

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex="50">
                <label>{{ 'NEWSLETTER_CONFIGURATIONS.NAME' | translate }}</label>
                <input required name="name" type="text" minlength="3" maxlength="255" ng-model="vm.newsletterConfiguration.name">
                <div ng-messages="newsletterConfigurationForm.name.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        {{ 'APPS.NAMEVALIDATION' | translate }}
                    </div>
                </div>
            </md-input-container>

            <md-input-container flex="50">
                <label>{{ 'NEWSLETTER_CONFIGURATIONS.TYPE' | translate }}</label>
                <md-select ng-model="vm.newsletterConfiguration.type">
                    <md-option ng-repeat="t in vm.types" value="{{t.id}}">
                        {{t.name}}
                    </md-option>
                </md-select>
            </md-input-container>

        </div>

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex="50">
                <label>{{ 'NEWSLETTER_CONFIGURATIONS.APIKEY' | translate }}</label>
                <input required name="apikey" type="text" minlength="1" maxlength="255" ng-model="vm.newsletterConfiguration.configuration.apikey">
                <div ng-messages="newsletterConfigurationForm.apikey.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        {{ 'NEWSLETTER_CONFIGURATIONS.APIKEY_VALIDATION' | translate }}
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex="50">
                <label>{{ 'NEWSLETTER_CONFIGURATIONS.LIST' | translate }}</label>
                <input required name="list" type="text" minlength="1" maxlength="255" ng-model="vm.newsletterConfiguration.configuration.list">
                <div ng-messages="newsletterConfigurationForm.list.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        {{ 'NEWSLETTER_CONFIGURATIONS.LIST_VALIDATION' | translate }}
                    </div>
                </div>
            </md-input-container>

        </div>

        <div layout="row">

            <div layout="row" layout-align="start none" flex="70">
                <md-button type="submit" class="add-newsletter-configuration-button md-primary md-raised">{{ 'COMMON.SAVE' | translate }}</md-button>
            </div>

            <div ng-if="!vm.isNewConfig" layout="row" layout-align="end none" flex="15">
                <md-button ng-click="vm.deleteNewsletterConfiguration($event)" type="button" class="remove-newsletter-configuration-button md-raised md-warn">{{ 'COMMON.DELETE' | translate }}</md-button>
            </div>

        </div>

    </form>

</div>
