<md-content class="sb-boxshadow" layout-padding>

	<div ng-if="vm.details" layout="row">

		<div flex>

			<img ng-src="{{vm.details.url}}" class="preview" ng-if="vm.details.simple_type == 'image'">

			<div class="video-player" ng-if="vm.details.simple_type == 'video'">
				<videogular>
					<vg-media
						vg-src="vm.videoPlayer.config.sources"
						vg-tracks="vm.videoPlayer.config.tracks"
						vg-native-controls="true">
					</vg-media>
				</videogular>
			</div>

			<div class="audio-preview" ng-if="vm.details.simple_type == 'audio'">
				<audio controls class="preview">
					<source ng-src="{{vm.details.url}}" type="audio/mpeg">
					<source ng-src="{{vm.details.url}}" type="audio/wav">
					{{ 'MEDIA.AUDIO_NOT_SUPPORTED' | translate }}
				</audio>
			</div>

		</div>

		<div class="info" flex>

			<h2>{{vm.details.name}}</h2>

			<md-button ng-click="vm.delete();">
				{{ 'COMMON.DELETE' | translate }}
			</md-button>

		</div>

	</div>

	<spinner ng-if="!vm.details"></spinner>

</md-content>
