faq-link {

	span {

		margin: 0 5px;
		display: inline-block;
		color: inherit;
		text-decoration: inherit;
		cursor: pointer;
		opacity: .5;
		@include fade();

		&:hover {
			color: $primary;
			opacity: 1;
		}

		&:focus {
			@include remove-tap-highlight();
		}

	}

}