#cart_dialog {

	md-list-item {
		&.md-no-proxy {
			padding: 10px 20px;
		}
		.md-body-1 {
			font-size: 16px;
			padding: 10px 0;
		}
	}

	form[name="addressForm"] {
		padding: 10px 20px;
	}

	.shipping-price {
		margin-right: 44px;
	}

}
