<md-dialog id="cart_dialog" flex="50">

	<md-toolbar>

		<div class="md-toolbar-tools">
			<h2>{{ 'CART.COMMON' | translate }}</h2>
		</div>

	</md-toolbar>

	<md-nav-bar md-no-ink-bar md-selected-nav-item="vm.currentNavItem">
		<md-nav-item md-nav-click="goto('cart')" name="cart">{{ 'CART.COMMON' | translate }}</md-nav-item>
		<md-nav-item md-nav-click="goto('address')" name="address">{{ 'ADDRESS.COMMON '| translate }}</md-nav-item>
	</md-nav-bar>

	<md-dialog-content>

		<div ng-show="vm.currentNavItem == 'cart'">
			<md-list>
				<md-list-item ng-repeat-start="product in vm.cart" class="md-no-proxy">

					<div ng-if="product.hardware != 'shipping_cost'">
						<div class="md-list-item-text" layout="column">
							<span class="md-title">{{ vm.productNames[product.hardware] }}</span>
							<span class="md-subhead">{{ vm.GlobalConstants.appEdwardStoneUrl + '/' + product.url }}</span>
						</div>

						<div class="md-secondary" ng-class="{'shipping-price': product.hardware == 'shipping_cost'}">{{ product.price | currencyEuro }}</div>
						<md-button ng-click="vm.removeFromCart($index)" class="md-icon-button md-secondary" ng-if="product.hardware != 'shipping_cost'">
							<md-icon>remove_shopping_cart</md-icon>
						</md-button>

					</div>

					<div ng-if="product.hardware == 'shipping_cost'">
						<div class="md-list-item-text" layout="column">
							<span class="md-title">{{ 'CART.SHIPPING_COST' | translate }}</span>
						</div>
					</div>

				</md-list-item>
				<md-divider ng-repeat-end></md-divider>
				<md-list-item>
					<div class="md-secondary"><strong>{{ vm.totalPrice | currencyEuro }}</strong></div>
					<md-button ng-click="vm.emptyCart()" class="md-icon-button md-secondary">
						<md-icon>remove_shopping_cart</md-icon>
					</md-button>
				</md-list-item>
			</md-list>
		</div>

		<div ng-show="vm.currentNavItem == 'address'">

			<form name="addressForm">

				<div layout>
					<md-input-container flex="50">
						<label>{{ 'COMMON.NAME' | translate }}</label>
						<input type="text" name="name" ng-model="vm.address.name" required>
						<div ng-messages="addressForm.name.$error" role="alert">
							<div ng-message-exp="['required']">
								{{ 'APPS.REQUIRED' | translate }}
							</div>
						</div>
					</md-input-container>
					<md-input-container flex="50">
						<label>{{ 'ADDRESS.COUNTRY' | translate }}</label>
						<input type="text" name="country" ng-model="vm.address.country" required>
						<div ng-messages="addressForm.country.$error" role="alert">
							<div ng-message-exp="['required']">
								{{ 'APPS.REQUIRED' | translate }}
							</div>
						</div>
					</md-input-container>
				</div>

				<div layout>
					<md-input-container flex="50">
						<label>{{ 'ADDRESS.STREET' | translate }}</label>
						<input type="text" name="street" ng-model="vm.address.street" required>
						<div ng-messages="addressForm.street.$error" role="alert">
							<div ng-message-exp="['required']">
								{{ 'APPS.REQUIRED' | translate }}
							</div>
						</div>
					</md-input-container>

					<md-input-container flex="50">
						<label>{{ 'ADDRESS.MISC' | translate }}</label>
						<input type="text" name="optional" ng-model="vm.address.optional">
					</md-input-container>
				</div>

				<div layout>
					<md-input-container flex="50">
						<label>{{ 'ADDRESS.ZIP' | translate }}</label>
						<input type="text" name="zip" ng-model="vm.address.zip" required>
						<div ng-messages="addressForm.city.$error" role="alert">
							<div ng-message-exp="['required']">
								{{ 'APPS.REQUIRED' | translate }}
							</div>
						</div>
					</md-input-container>

					<md-input-container flex="50">
						<label>{{ 'ADDRESS.CITY' | translate }}</label>
						<input type="text" name="city" ng-model="vm.address.city" required>
						<div ng-messages="addressForm.city.$error" role="alert">
							<div ng-message-exp="['required']">
								{{ 'APPS.REQUIRED' | translate }}
							</div>
						</div>
					</md-input-container>
				</div>

			</form>

		</div>

	</md-dialog-content>

	<md-dialog-actions>

		<div class="md-caption" layout layout-align="end center" ng-show="vm.currentNavItem == 'cart'">{{ 'CART.INKL_VAT' | translate }}</div>
		<md-button ng-if="vm.currentNavItem == 'cart'" ng-click="vm.currentNavItem = 'address'" class="md-raised">{{ 'COMMON.DIALOG_CONFIRM' | translate }}</md-button>
		<md-button ng-if="vm.currentNavItem == 'address'" ng-disabled="!addressForm.$valid" ng-click="vm.buy()" class="md-primary md-raised" save-once>{{ 'CART.BUY' | translate }}</md-button>

	</md-dialog-actions>

</md-dialog>
