<div layout="row" layout-align="center center" ng-style="vm.backgroundImage">

	<div class="login-form-container public-form-container" layout="column" layout-align="center center">

		<img class="product-login-logo" ng-src="{{vm.productLogo}}">

		<form name="registerForm" ng-submit="vm.registerUser()">

			<div layout>
				<md-input-container flex="100">
					<label>{{ 'PUBLIC.ACCOUNT_NAME' | translate }}</label>
					<input type="text" ng-model="vm.tenant.name" required>
				</md-input-container>
			</div>

			<div layout>
				<md-input-container flex="50">
					<label>{{ 'USERS.FIRSTNAME' | translate }}</label>
					<input type="text" ng-model="vm.user.firstname" required>
				</md-input-container>

				<md-input-container flex="50">
					<label>{{ 'USERS.LASTNAME' | translate }}</label>
					<input type="text" ng-model="vm.user.lastname" required>
				</md-input-container>
			</div>

			<div layout>
				<md-input-container flex="50">
					<label>{{ 'COMMON.EMAIL' | translate }}</label>
					<input type="email" ng-model="vm.user.email" required>
				</md-input-container>

				<md-input-container flex="50">
					<label>{{ 'PUBLIC.LOGIN_PASSWORD' | translate }}</label>
					<input type="password" name="password" ng-model="vm.user.password" ng-minlength="8" required>
					<div ng-messages="registerForm.password.$error" role="alert">
						<div ng-message-exp="['minlength']">
							{{ 'COMMON.PASSWORD_MINLENGTH' | translate }}
						</div>
					</div>
				</md-input-container>
			</div>

			<div layout>
				<md-input-container flex="50">
					<label>{{ 'COMMON.DEFAULT_LANGUAGE' | translate }}</label>
					<md-select ng-model="vm.tenant.fallback_language" placeholder="{{ 'COMMON.DEFAULT_LANGUAGE' | translate }}" required>
						<md-option ng-repeat="(code, language) in vm.languages" value="{{code}}">
							{{language.nativeName}}
						</md-option>
					</md-select>
				</md-input-container>

				<md-input-container flex="50">
					<label>{{ 'COMMON.LOCALE' | translate }}</label>
					<md-select ng-model="vm.tenant.locale" ng-disabled="!vm.locales" placeholder="{{ 'COMMON.LOCALE' | translate }}" required>
						<md-option ng-if="vm.locales" ng-repeat="(localeCode, locale) in vm.locales" value="{{localeCode}}">
							{{locale.nativeName}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div layout layout-align="center center">
				<div vc-recaptcha key="vm.GlobalConstants.recaptchaPublicKey" ng-model="vm.recaptchaResponse"></div>
			</div>

			<div class="agb-link" layout layout-align="center center">
				<md-checkbox ng-model="vm.agb">
					<a href="https://agb.rakete7.com/20171120_AGB_R7connect.pdf" target="_blank">{{ 'COMMON.AGB' | translate}}</a>
				</md-checkbox>
			</div>

			<div layout layout-align="end center">
				<md-button type="submit" class="md-primary md-raised" flex ng-disabled="!registerForm.$valid || !vm.agb">{{ 'PUBLIC.REGISTER' | translate }}</md-button>
			</div>

		</form>

	</div>

</div>
