<md-content class="Page-container">

		<div class="public-form-wrapper" layout="row" layout-align="center center" ng-style="vm.backgroundImage">

			<div class="public-form-container" layout="column" layout-align="center center">

				<h1 class="md-headline">{{ 'PUBLIC.CONFIRM_EMAIL' | translate }}</h1>

				<div class="public-form" layout="column" layout-align="center center">

					<div class="locked-info" ng-if="vm.loading">
						<div class="message">{{ 'PUBLIC.CONFIRMING_EMAIL' | translate }}</div>
						<spinner></spinner>
					</div>

					<div class="locked-info" ng-if="!vm.loading && vm.success">
						<div class="message">{{ 'PUBLIC.EMAIL_CONFIRMED' | translate }}</div>
						<i ng-if="vm.isConfirmed" class="material-icons">check</i>
					</div>

					<div class="locked-info" ng-if="!vm.loading && vm.failed">
						<div class="message">{{ 'PUBLIC.VERIFICATION_FAILED' | translate }}</div>
					</div>

				</div>

				<a href="#/login" class="change-page-link">{{ 'PUBLIC.BACK' | translate }}</a>

			</div>

		</div>

	</md-content>