<div id="apps_form" class="sb-boxshadow">

    <h1>{{ 'APPS.DETAILS' | translate }}</h1>

    <form name="appForm" ng-submit="vm.saveApp()">

        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex="50">
                <label>{{ 'APPS.NAME' | translate }}</label>
                <input required name="appname" type="text" minlength="3" maxlength="255" ng-model="vm.app.appname">
                <div ng-messages="appForm.appname.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        {{ 'APPS.NAMEVALIDATION' | translate }}
                    </div>
                </div>
            </md-input-container>

            <md-input-container flex="50">
                <label>{{ 'COMMON.LANGUAGE' | translate }}</label>
                <md-select ng-model="vm.app.language">
                    <md-option ng-repeat="(code, language) in vm.languages" value="{{code}}">
                        {{language.nativeName}}
                    </md-option>
                </md-select>
            </md-input-container>

        </div>

        <div ng-if="!vm.isNewApp" layout-gt-sm="row">

            <div flex="50">{{ 'APPS.KEY' | translate }} <code>{{vm.app.key}}</code></div>
            <div flex="50">{{ 'APPS.SECRET' | translate }} <code>{{vm.app.secret}}</code></div>

        </div>

        <div ng-if="!vm.isNewApp" layout-gt-sm="row">
            <md-input-container flex="10">
                <md-switch class="md-primary" ng-model="vm.app.active" aria-label="Active Switch">
                    {{ 'COMMON.ACTIVE' | translate }}
                </md-switch>
            </md-input-container>
        </div>

        <div layout="row">

            <div layout="row" layout-align="start none" flex="70">
                <md-button type="submit" class="add-user-button md-primary md-raised">{{ 'COMMON.SAVE' | translate }}</md-button>
            </div>

            <div layout="row" layout-align="end none" flex="15">
                <md-button ng-if="!vm.isNewApp" ng-click="vm.deleteApp($event)" type="button" class="remove-app-button md-raised md-warn">{{ 'COMMON.DELETE' | translate }}</md-button>
            </div>

        </div>

    </form>

</div>
