
#font_select_dialog {

	.list {
		overflow: auto;
	}

	.load-more {
		height: 1px;
	}

	.search {
		margin: 0;
	}

	.entry {
		color: darkgray;
		cursor: pointer;
		height: 25px;
		line-height: 25px;
	}

	.entry:hover {
		color: black;
	}

	.preview {
		overflow: hidden; 
		white-space: nowrap;
		height: 100%;
	}

	.page-count {
		margin-top: 15px;
	}

	.selected {
		color: black;
	}

	.content {
		height: 100%;
	}

	.wrapper {
		height: calc(100% - 53px);
	}

	.forbidden {
		background-color: lightgray;
		cursor: not-allowed;
	}

}