<md-dialog id="font_select_dialog" class="default-dialog default-height-dialog">

	<form name="select_font_dialog_form" ng-submit="vm.submit()">

		<md-toolbar>

			<div class="md-toolbar-tools">
				<h2>{{ 'FONT_SELECT.FONT_SELECT' | translate}}</h2>
			</div>

		</md-toolbar>

		<md-dialog-content class="dialog-has-no-navigation">

			<div class="md-dialog-content wrapper">

				<div layout="column" class="content">

					<div layout="row">

						<md-input-container class="md-block search" flex>
							<label>{{ 'COMMON.SEARCH' | translate }}</label>
							<input ng-model="vm.searchString" ng-change="vm.searchFonts()" ng-model-options="{ debounce: 300 }">
						</md-input-container>

						<md-input-container class="md-block search" flex>
							<label>{{ 'FONT_SELECT.EXAMPLE_TEXT' | translate}}</label>
							<input ng-model="vm.testString" ng-model-options="{ debounce: 300 }">
						</md-input-container>

					</div>

					<div id="font_select_list" flex class="list" ng-if="!vm.paginated" in-view-container>

						<div class="load-more" in-view="$inview && vm.loadMoreTop()"></div>

						<div ng-repeat="item in vm[vm.use].pageItems" class="entry" ng-class="{ 'selected': vm.isSelected(item.family), 'forbidden': vm.isForbidden(item.family) }" ng-click="vm.selectFont(item.family)" layout="row" id="{{vm.toId(item.family)}}">
							<span flex class="preview">{{item.family}}</span>
							<span flex class="preview" style="font-family: '{{item.family}}'">{{item.family}}</span>
							<span flex class="preview" style="font-family: '{{item.family}}'">{{vm.testString}}</span>
						</div>

						<div class="load-more" in-view="$inview && vm.loadMoreBottom()"></div>

					</div>

				</div>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
