.module-dialog {

	&.social-icons-module {

		.error-hint {

			color: $warn;

		}

		.hint {

			margin-top: -30px;
			margin-bottom: 30px;

		}

		.css-alignment {

			margin-bottom: 40px;

		}

	}

}
