<md-dialog class="module-dialog social-icons-module">

	<form ng-submit="social_icons_module_dialog_form.$valid && vm.save()" name="social_icons_module_dialog_form" id="social_icons_module_dialog_form">

		<md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('general')" name="general">{{ 'POIS.GENERAL' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

		<md-dialog-content>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'general'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
					<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
				</md-input-container>

				<h2>{{ 'MODULES.ICONS' | translate}}</h2>

				<div layout="column">

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.FACEBOOK' | translate}}</label>
						<input ng-model="vm.module.data.facebook" ng-blur="vm.checkValid('facebook')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.facebook}">
						<span ng-if="!vm.valid.facebook">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://www.facebook.com/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.TWITTER' | translate}}</label>
						<input ng-model="vm.module.data.twitter" ng-blur="vm.checkValid('twitter')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.twitter}">
						<span ng-if="!vm.valid.twitter">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://www.twitter.com/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.INSTAGRAM' | translate}}</label>
						<input ng-model="vm.module.data.instagram" ng-blur="vm.checkValid('instagram')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.instagram}">
						<span ng-if="!vm.valid.instagram">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://www.instagram.com/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.YOUTUBE' | translate}}</label>
						<input ng-model="vm.module.data.youtube" ng-blur="vm.checkValid('youtube')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.youtube}">
						<span ng-if="!vm.valid.youtube">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://www.youtube.com/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.XING' | translate}}</label>
						<input ng-model="vm.module.data.xing" ng-blur="vm.checkValid('xing')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.xing}">
						<span ng-if="!vm.valid.xing">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://www.xing.com/profile/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.LINKEDIN' | translate}}</label>
						<input ng-model="vm.module.data.linkedin" ng-blur="vm.checkValid('linkedin')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.linkedin}">
						<span ng-if="!vm.valid.linkedin">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://linkedin.com/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label layout="row">{{ 'MODULES.SOCIAL_ICONS.GOOGLE_PLUS' | translate}}</label>
						<input ng-model="vm.module.data.google_plus" ng-blur="vm.checkValid('google_plus')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.google_plus}">
						<span ng-if="!vm.valid.google_plus">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://plus.google.com/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.PINTEREST' | translate}}</label>
						<input ng-model="vm.module.data.pinterest" ng-blur="vm.checkValid('pinterest')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.pinterest}">
						<span ng-if="!vm.valid.pinterest">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://www.pinterest.com/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.TUMBLR' | translate}}</label>
						<input ng-model="vm.module.data.tumblr" ng-blur="vm.checkValid('tumblr')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.tumblr}">
						<span ng-if="!vm.valid.tumblr">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://www.tumblr.com/#######</span>
					</div>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.SOCIAL_ICONS.REDDIT' | translate}}</label>
						<input ng-model="vm.module.data.reddit" ng-blur="vm.checkValid('reddit')" maxlength="255">
					</md-input-container>

					<div layout="row" class="hint" ng-class="{'error-hint': !vm.valid.reddit}">
						<span ng-if="!vm.valid.reddit">{{ 'MODULES.SOCIAL_ICONS.URL_WRONG' | translate }}&nbsp;</span>
						<span>https://www.reddit.com/#######</span>
					</div>

				</div>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<h2>{{ 'MODULES.ICONS' | translate}}</h2>

				<div md-color-picker ng-model="vm.module.data.css.icons.color" md-color-material-palette="false" label="{{'STYLES.ICON_COLOR' | translate}}"></div>

				<h2>{{ 'ADMIN.DESIGN.ALIGN' | translate }}</h2>

				<md-radio-group class="css-alignment" ng-model="vm.module.data.css.wrapper.textAlign" layout flex="start center">

					<md-radio-button value="left">{{ 'ADMIN.DESIGN.ALL_LEFT' | translate }}</md-radio-button>
					<md-radio-button value="center">{{ 'ADMIN.DESIGN.ALL_CENTER' | translate }}</md-radio-button>
					<md-radio-button value="right">{{ 'ADMIN.DESIGN.ALL_RIGHT' | translate }}</md-radio-button>

				</md-radio-group>

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<background-design ng-model="vm.module.data.css.wrapper"></background-design>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.module.data.html_id" maxlength="100">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.module.data.html_classes" maxlength="255">
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
			</md-button>
			<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
