<md-dialog class="default-dialog" aria-label="Mango (Fruit)" id="module_selection_dialog">

    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'POIS.SELECT_A_MODULE' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
					<i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content">

				<md-input-container md-no-float class="md-icon-float md-block">
					<md-icon class="material-icons" class="name">search</md-icon>
					<input ng-model="vm.moduleSearch" type="text" placeholder="{{ 'MODULES.SEARCH' | translate }}">
				</md-input-container>

				<div show-gt-sm style="width:900px"></div>

				<div ng-if="!vm.loading">
					<div ng-repeat="(group, modules) in vm.modules | filterBy:['tags', 'label']:vm.moduleSearch | groupBy: 'group'">

						<h3>{{ group | translate }}</h3>

						<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

							<md-grid-tile ng-repeat="module in modules | orderBy: 'label'" ng-click="vm.selectModule(module.type)" ng-class="{'selected-module':vm.selectedType==module.type}" class="module" ng-if="!vm.isHidden(module);">
								<div class="module-icon-text">
									<module-icon icon="module.icon"></module-icon>
									<span>{{ module.label | translate }}</span>
								</div>
							</md-grid-tile>

						</md-grid-list>

					</div>
				</div>

				<div ng-if="vm.loading">
					<spinner></spinner>
				</div>

            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>

            <md-button ng-click="vm.cancel()">
                {{ 'COMMON.CANCEL' | translate}}
            </md-button>

        </md-dialog-actions>

    </form>

</md-dialog>
