#module_selection_dialog {

	.module {

		background: #f6f6f6;
		cursor: pointer;

		&:focus {
			outline: 0 !important;
		}

		.module-icon-text {

			text-align: center;

			.module-icon {
				font-size: 30px;
				width: 30px;
				height: 30px;
				color: #000;
			}

			span {
				padding: 10px 0 0 0;
				display: block;
				text-align: center;
			}

		}

	}

	.selected-module {

		background: $primary;
		color: #fff;

		.module-icon {
			color: #fff !important;
		}

	}

}