<md-button id="teanant_features_button" ng-disabled="!vm.changed" class="md-raised md-primary" ng-click="vm.save();" ng-show="!vm.loading">{{ 'COMMON.SAVE' | translate }}</md-button>
<md-progress-circular md-mode="indeterminate" md-diameter="30" ng-show="vm.loading"></md-progress-circular>
