
design {

	.wrapper,
	.tab-content {
		background-color: #fff !important;
	}

	.section {

		border-top: 1px solid rgba(0,0,0,0.12);

		&:first-child {
			border-top: 0px;
		}

		.sub-section {
			padding: 0 0 20px 0;
		}

		header {

			h1 {
				display: inline-block;
				vertical-align: middle;
			}

			.code {
				margin: 0 0 0 10px;
				display: inline-block;
				vertical-align: middle;
				font-family: 'Inconsolata', monospace;
				font-weight: normal;
				font-size: 14px;
			}

		}

		md-radio-group {
			padding: 10px 0;
		}

		.label {
			padding: 0 20px 0 0;
			display: inline-block;
			width: 170px;
			font-weight: 500;
		}

		.background-label {
			width: 150px;
		}

		image-selection {

			display: block;
			margin-bottom: 20px;

			image-preview {

				.image-container {
					width: 120px;
					height: 120px;
				}

			}

		}

		.color-picker,
		.settings-input {
			width: 200px;
		}

		.settings {
			display: inline-block;
		}

		.preview {

			display: inline-block;

			.h1 {
				font-weight: bold;
			}

		}

	}

	.default-language {

		.font-name {
			font-weight: bold;
		}

		.default {
			padding: 0 0 0 20px;
			font-size: 10px;
		}

	}

	.font-name {
		overflow: hidden;
	}

	.font-preview {
		height: 20px;
		line-height: 20px;
	}



	.font-number-warning {

		font-weight: bold;
		color: $warn;
		margin: 14px 0 0 13px;

	}

}