<div ng-cloak>

	<form name="adminDesignForm" id="admin_design_form" class="sb-boxshadow wrapper">

		<md-content ng-if="vm.designLoaded">

			<md-nav-bar md-selected-nav-item="vm.currentNavItem">

				<md-nav-item md-nav-click="goto('general')" name="general">{{ 'ADMIN.DESIGN.GENERAL' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('content')" name="content">{{ 'ADMIN.DESIGN.CONTENT' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('header')" name="header">{{ 'ADMIN.DESIGN.HEADER' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('footer')" name="footer">{{ 'ADMIN.DESIGN.FOOTER' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('button')" name="button">{{ 'STYLES.BUTTON' | translate}}</md-nav-item>
				<md-nav-item md-nav-click="goto('text')" name="text" hidden-on-live>{{ 'ADMIN.DESIGN.TEXT' | translate }}</md-nav-item>

			</md-nav-bar>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'general'">

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.GENERAL' | translate }}</h1>
					</header>

					<div class="color-picker" md-color-picker ng-model="vm.$localStorage.designChanges.body.color" md-color-material-palette="false" label="{{ 'STYLES.FONT_COLOR' | translate }}" ng-change="vm.designChanged()"></div>

					<section>

						<h3>{{ 'ADMIN.DESIGN.FONTS' | translate }}</h3>

						<md-list>

							<md-list-item layout="row" layout-align="none center" ng-repeat="font in vm.$localStorage.designChanges.fonts" ng-class="{'default-language':font.standard}">

								<span class="font-name" flex="30">{{font.family}}&nbsp;-&nbsp;
								<span class="font-preview" style="font-family: '{{font.family}}'">{{font.family}}</span></span>

								<div class="actions" layout="row" layout-align="none center">

									<md-button ng-if="font.standard" ng-click="vm.removeDefaultFont(font);">
										<md-tooltip md-delay="500">{{ 'ADMIN.DESIGN.STANDARD_FONT_EXPLAIN' | translate }}</md-tooltip>
										{{ 'ADMIN.DESIGN.REMOVE_STANDARD' | translate }}
									</md-button>
									<md-button ng-if="!font.standard" ng-click="vm.makeDefaultFont(font);">
										<md-tooltip md-delay="500">{{ 'ADMIN.DESIGN.STANDARD_FONT_EXPLAIN' | translate }}</md-tooltip>
										{{ 'POIS.MAKE_DEFAULT' | translate }}
									</md-button>
									<md-button ng-click="vm.removeFont(font);">
										{{ 'COMMON.REMOVE' | translate }}
									</md-button>
								</div>

								<md-divider></md-divider>

							</md-list-item>

						</md-list>

						<div layout="row">

							<div flex="30">
								<md-button class="md-raised md-primary" ng-click="vm.openFontSelection()">
									{{ 'ADMIN.DESIGN.ADD_FONT' | translate }}
								</md-button>
							</div>

							<div class="font-number-warning" ng-if="vm.$localStorage.designChanges.fonts.length > 3">
								{{ 'ADMIN.DESIGN.FONT_NUMBER_WARNING' | translate }}
							</div>

						</div>

					</section>

				</div>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'content'">

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.CONTENT' | translate }}</h1>
					</header>

					<div class="settings-input">

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'ADMIN.DESIGN.PADDING_LEFT' | translate }}</label>
							<input ng-model="vm.$localStorage.designChanges.edward_app['padding-left']" ng-change="vm.designChanged()" name="generalPaddingLeft" units-input clear-input>
						</md-input-container>

					</div>

					<div class="settings-input">

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'ADMIN.DESIGN.PADDING_RIGHT' | translate }}</label>
							<input ng-model="vm.$localStorage.designChanges.edward_app['padding-right']" ng-change="vm.designChanged()" units-input clear-input>
						</md-input-container>

					</div>

					<background-design ng-model="vm.$localStorage.designChanges.edward_app" ng-change="vm.designChanged()"></background-design>

				</div>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'header'">

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.LOGO' | translate }}</h1>
					</header>

					<image-selection ng-model="vm.$localStorage.designChanges.header_logo_settings.id" with-preview="true" on-clear="vm.clear('header_logo')" on-select="vm.selectImage('header_logo')"></image-selection>

				</div>

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.HEADER' | translate }}</h1>
					</header>

					<md-radio-group ng-model="vm.$localStorage.designChanges.header_visible" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
						<div class="label">{{ 'ADMIN.DESIGN.VISIBILITY' | translate }}</div>
						<md-radio-button ng-value="'visible'">{{ 'COMMON.VISIBLE' | translate }}</md-radio-button>
						<md-radio-button ng-value="'invisible'">{{ 'COMMON.INVISIBLE' | translate }}</md-radio-button>
					</md-radio-group>

					<div ng-show="vm.$localStorage.designChanges.header_visible == 'visible'">

						<md-radio-group ng-model="vm.$localStorage.designChanges.header_fixed" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
							<div class="label">{{ 'ADMIN.DESIGN.BEHAVIOR' | translate }}</div>
							<md-radio-button ng-value="'fixed'">{{ 'ADMIN.DESIGN.FIXED' | translate }}</md-radio-button>
							<md-radio-button ng-value="'scrollable'">{{ 'ADMIN.DESIGN.SCROLLABLE' | translate }}</md-radio-button>
						</md-radio-group>

						<md-radio-group ng-model="vm.$localStorage.designChanges.header_format" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
							<div class="label">{{ 'ADMIN.DESIGN.ALIGN' | translate }}</div>
							<md-radio-button ng-value="'all_left'">{{ 'ADMIN.DESIGN.ALL_LEFT' | translate }}</md-radio-button>
							<md-radio-button ng-value="'all_center'">{{ 'ADMIN.DESIGN.ALL_CENTER' | translate }}</md-radio-button>
							<md-radio-button ng-value="'all_right'">{{ 'ADMIN.DESIGN.ALL_RIGHT' | translate }}</md-radio-button>
						</md-radio-group>

						<md-radio-group ng-model="vm.$localStorage.designChanges.header_logo" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
							<div class="label">{{ 'ADMIN.DESIGN.LOGO' | translate }}</div>
							<md-radio-button ng-value="'visible'">{{ 'COMMON.VISIBLE' | translate }}</md-radio-button>
							<md-radio-button ng-value="'invisible'">{{ 'COMMON.INVISIBLE' | translate }}</md-radio-button>
						</md-radio-group>

						<md-radio-group ng-model="vm.$localStorage.designChanges.header_title" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
							<div class="label">{{ 'ADMIN.DESIGN.PAGE_TITLE' | translate }}</div>
							<md-radio-button ng-value="'visible'">{{ 'COMMON.VISIBLE' | translate }}</md-radio-button>
							<md-radio-button ng-value="'invisible'">{{ 'COMMON.INVISIBLE' | translate }}</md-radio-button>
						</md-radio-group>

						<div class="background-row sub-section" layout="row" layout-align="start start">
							<div class="label background-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.BACKGROUND' | translate }}</div>
							<background-design ng-model="vm.$localStorage.designChanges.header" ng-change="vm.designChanged()"></background-design>
						</div>

					</div>

				</div>

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.HEADER_ADVANCED' | translate }}</h1>
					</header>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.FONT_SIZE' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.header['font-size']" ng-change="vm.designChanged()" name="headerFontSize" units-input>
							</md-input-container>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<font-select ng-model="vm.$localStorage.designChanges.header['font-family']" ng-change="vm.designChanged()" flex-gt-sm></font-select>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.HEADER_HEIGHT' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.header.height" ng-change="vm.designChanged()" name="headerHeight" units-input>
							</md-input-container>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.LOGO_HEIGHT' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.header_logo_height" ng-change="vm.designChanged()" name="headerLogoHeight" units-input>
							</md-input-container>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.PADDING_TOP' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.header['padding-top']" ng-change="vm.designChanged()" name="headerPaddingTop" units-input>
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.PADDING_RIGHT' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.header['padding-right']" ng-change="vm.designChanged()" name="headerPaddingRight" units-input>
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.PADDING_BOTTOM' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.header['padding-bottom']" ng-change="vm.designChanged()" name="headerPaddingBottom" units-input>
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.PADDING_LEFT' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.header['padding-left']" ng-change="vm.designChanged()" name="headerPaddingLeft" units-input>
							</md-input-container>

						</div>

					</div>

				</div>

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.COLORS' | translate }}</h1>
					</header>

					<div class="color-picker" md-color-picker ng-model="vm.$localStorage.designChanges.header.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}" ng-change="vm.designChanged()" ></div>

				</div>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'footer'">

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.LOGO' | translate }}</h1>
					</header>

					<image-selection ng-model="vm.$localStorage.designChanges.footer_logo_settings.id" with-preview="true" on-clear="vm.clear('footer_logo')" on-select="vm.selectImage('footer_logo')"></image-selection>

				</div>

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.FOOTER' | translate }}</h1>
					</header>

					<md-radio-group ng-model="vm.$localStorage.designChanges.footer_format" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
						<div class="label">{{ 'ADMIN.DESIGN.ALIGN' | translate }}</div>
						<md-radio-button ng-value="'all_center'">{{ 'ADMIN.DESIGN.ALL_CENTER' | translate }}</md-radio-button>
						<md-radio-button ng-value="'logo_left_content_right'">{{ 'ADMIN.DESIGN.LOGO_LEFT_CONTENT_RIGHT' | translate }}</md-radio-button>
						<md-radio-button ng-value="'logo_right_content_left'">{{ 'ADMIN.DESIGN.LOGO_RIGHT_CONTENT_LEFT' | translate }}</md-radio-button>
					</md-radio-group>

					<md-radio-group ng-model="vm.$localStorage.designChanges.footer_logo" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
						<div class="label">{{ 'ADMIN.DESIGN.LOGO' | translate }}</div>
						<md-radio-button ng-value="'visible'">{{ 'COMMON.VISIBLE' | translate }}</md-radio-button>
						<md-radio-button ng-value="'invisible'">{{ 'COMMON.INVISIBLE' | translate }}</md-radio-button>
					</md-radio-group>

					<div class="background-row sub-section" layout="row" layout-align="start start">
						<div class="label background-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.BACKGROUND' | translate }}</div>
						<background-design ng-model="vm.$localStorage.designChanges.footer" ng-change="vm.designChanged()"></background-design>
					</div>

				</div>

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.FOOTER_ADVANCED' | translate }}</h1>
					</header>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.FONT_SIZE' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.footer['font-size']" ng-change="vm.designChanged()" name="footerFontSize" units-input>
							</md-input-container>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<font-select ng-model="vm.$localStorage.designChanges.footer['font-family']" ng-change="vm.designChanged()" flex-gt-sm></font-select>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.FOOTER_HEIGHT' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.footer.height" ng-change="vm.designChanged()" name="footerHeight" units-input>
							</md-input-container>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.LOGO_HEIGHT' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.footer_logo_height" ng-change="vm.designChanged()" name="footerLogoHeight" units-input>
							</md-input-container>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.PADDING_TOP' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.footer['padding-top']" ng-change="vm.designChanged()" name="footerPaddingTop" units-input>
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.PADDING_RIGHT' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.footer['padding-right']" ng-change="vm.designChanged()" name="footerPaddingRight" units-input>
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.PADDING_BOTTOM' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.footer['padding-bottom']" ng-change="vm.designChanged()" name="footerPaddingBottom" units-input>
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'ADMIN.DESIGN.PADDING_LEFT' | translate }}</label>
								<input ng-model="vm.$localStorage.designChanges.footer['padding-left']" ng-change="vm.designChanged()" name="footerPaddingLeft" units-input>
							</md-input-container>

						</div>

					</div>

				</div>

				<div class="section">

					<header>
						<h1>{{ 'ADMIN.DESIGN.COLORS' | translate }}</h1>
					</header>

					<div class="color-picker" md-color-picker ng-model="vm.$localStorage.designChanges.footer.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}" ng-change="vm.designChanged()" ></div>

				</div>

			</md-content>


			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'button'">

				<div class="section">

					<header>
						<h1>{{ 'STYLES.BUTTON' | translate}}</h1>
					</header>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block">
								<label>{{ 'STYLES.FONT_SIZE' | translate}}</label>
								<input ng-model="vm.$localStorage.designChanges['edward_button']['font-size']" units-input name="design_button_font_size" ng-change="vm.designChanged()">
							</md-input-container>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<!--
						<span class="combo-label">{{ 'STYLES.FONT_WEIGHT' | translate }}</span>

						<md-select ng-model="vm.$localStorage.designChanges['edward_button']['font-weight']" ng-change="vm.designChanged()">
							<md-option ng-value="'normal'">{{ 'STYLES.NORMAL' | translate }}</md-option>
							<md-option ng-value="'bold'">{{ 'STYLES.BOLD' | translate }}</md-option>
						</md-select>
						-->

						<md-radio-group ng-model="vm.$localStorage.designChanges['edward_button']['font-weight']" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
							<div class="label">{{ 'STYLES.FONT_WEIGHT' | translate }}</div>
							<md-radio-button ng-value="'normal'">{{ 'STYLES.NORMAL' | translate }}</md-radio-button>
							<md-radio-button ng-value="'bold'">{{ 'STYLES.BOLD' | translate }}</md-radio-button>
						</md-radio-group>

					</div>

					<div layout="row" layout-align="start center">

						<!--
						<span class="combo-label">{{ 'STYLES.TEXT_TRANSFORM' | translate }}</span>

						<md-select ng-model="vm.$localStorage.designChanges['edward_button']['text-transform']" ng-change="vm.designChanged()">
							<md-option ng-value="'initial'">{{ 'STYLES.INITIAL' | translate }}</md-option>
							<md-option ng-value="'uppercase'">{{ 'STYLES.UPPERCASE' | translate }}</md-option>
							<md-option ng-value="'lowercase'">{{ 'STYLES.LOWERCASE' | translate }}</md-option>
						</md-select>
						-->

						<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design['edward_button']['text-transform']" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
							<div class="label">{{ 'STYLES.TEXT_TRANSFORM' | translate }}</div>
							<md-radio-button ng-value="'initial'">{{ 'STYLES.INITIAL' | translate }}</md-radio-button>
							<md-radio-button ng-value="'uppercase'">{{ 'STYLES.UPPERCASE' | translate }}</md-radio-button>
							<md-radio-button ng-value="'lowercase'">{{ 'STYLES.LOWERCASE' | translate }}</md-radio-button>
						</md-radio-group>

					</div>

					<div class="background-row" layout="row" layout-align="start start">
						<div class="label background-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.BACKGROUND' | translate }}</div>
						<background-design ng-model="vm.$localStorage.designChanges['edward_button']" ng-change="vm.designChanged()"></background-design>
					</div>

					<div class="color-picker" md-color-picker ng-model="vm.$localStorage.designChanges['edward_button']['border-color']" md-color-material-palette="false" label="{{ 'STYLES.BORDER_COLOR' | translate }}" ng-change="vm.designChanged()"></div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" class="settings-input">
								<label>{{ 'STYLES.BORDER_WIDTH' | translate}}</label>
								<input ng-model="vm.$localStorage.designChanges['edward_button']['border-width']" units-input name="design_button_border_width" ng-change="vm.designChanged()">
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" class="settings-input">
								<label>{{ 'STYLES.BORDER_RADIUS' | translate}}</label>
								<input ng-model="vm.$localStorage.designChanges['edward_button']['border-radius']" units-input allowed="px,%" name="design_button_border_radius" ng-change="vm.designChanged()">
							</md-input-container>

						</div>

					</div>

					<div layout="row" layout-align="start center">

						<div class="settings-input">

							<md-input-container class="md-block" class="settings-input">
								<label>{{ 'STYLES.PADDING_TOP' | translate}}</label>
								<input ng-model="vm.$localStorage.designChanges['edward_button']['padding-top']" name="design_button_padding_top" units-input ng-change="vm.designChanged()">
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" class="settings-input">
								<label>{{ 'STYLES.PADDING_RIGHT' | translate}}</label>
								<input ng-model="vm.$localStorage.designChanges['edward_button']['padding-right']" name="design_button_padding_right" units-input ng-change="vm.designChanged()">
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" class="settings-input">
								<label>{{ 'STYLES.PADDING_BOTTOM' | translate}}</label>
								<input ng-model="vm.$localStorage.designChanges['edward_button']['padding-bottom']" name="design_button_padding_bottom" units-input ng-change="vm.designChanged()">
							</md-input-container>

						</div>

						<div class="settings-input">

							<md-input-container class="md-block" class="settings-input">
								<label>{{ 'STYLES.PADDING_LEFT' | translate}}</label>
								<input ng-model="vm.$localStorage.designChanges['edward_button']['padding-left']" name="design_button_padding_left" units-input ng-change="vm.designChanged()">
							</md-input-container>

						</div>

					</div>

				</div>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'text'">

				<div class="section">

					<header>
						<h1>Heading 1</h1>
						<span class="code">&lt;h1&gt;&lt;/h1&gt;</span>
					</header>

					<div class="settings">

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'STYLES.FONT_SIZE' | translate}}</label>
							<input ng-model="vm.$localStorage.designChanges.h1.fontSize" ng-change="vm.designChanged()" clear-input>
						</md-input-container>

						<div md-color-picker ng-model="vm.$localStorage.designChanges.h1.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}" ng-change="vm.designChanged()"></div>

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'STYLES.FONT_FAMILY' | translate}}</label>
							<textarea ng-model="vm.$localStorage.designChanges.h1.css" ng-change="vm.designChanged()" ></textarea>
						</md-input-container>

					</div>

					<div class="preview">
						<span class="h1" style="color:{{vm.$localStorage.designChanges.h1.color}};font-size:{{vm.$localStorage.designChanges.h1.fontSize}}">Lorem Ipsum Dolor</span>{{vm.test.h1.color}}
					</div>

				</div>

				<div class="section">

					<header>
						<h1>Heading 2</h1>
						<span class="code">&lt;h2&gt;&lt;/h2&gt;</span>
					</header>

				</div>

				<div class="section">

					<header>
						<h1>Heading 3</h1>
						<span class="code">&lt;h3&gt;&lt;/h3&gt;</span>
					</header>

				</div>

			</md-content>

		</md-content>

		<spinner ng-if="!vm.designLoaded"></spinner>

	</form>

</div>
