<md-dialog class="default-height-dialog" id="poi_meta_dialog">

	<form ng-submit="vm.save()">

		<md-toolbar>

			<div class="md-toolbar-tools">
				<h2>{{ 'POIS.EDIT_META' | translate}}</h2>
			</div>

		</md-toolbar>

		<md-dialog-content class="dialog-has-no-navigation">

			<div class="md-dialog-content">

				<div layout="column">

					<div layout="row">

						<div class="image-selection" layout="column" layout-align="center start">

							<div>
								<img ng-if="vm.meta.image_type == 'url' && vm.meta.image_url" class="image-preview url-image-preview" ng-src="{{vm.meta.image_url}}">

								<div ng-if="vm.meta.image_type == 'url' && !vm.meta.image_url" class="no-image image-preview url-image-preview" layout="row" layout-align="center center">
									<md-icon class="material-icons">panorama</md-icon>
								</div>

								<image-preview class="image-preview" ng-if="vm.meta.image_type == 'id'" image-id="vm.meta.image_id"></image-preview>
							</div>

							<image-selection ng-model="vm.meta.image_id" ng-change="vm.idSet()" with-preview="false"></image-selection>

						</div>

						<div layout="column" flex>

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'POIS.META_TITLE' | translate}}</label>
								<input ng-model="vm.meta.title" required>
							</md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'POIS.META_DESCRIPTION' | translate}}</label>
								<textarea ng-model="vm.meta.description" required></textarea>
							</md-input-container>

						</div>

					</div>

					<div layout="column" layout-align="center center" ng-if="vm.poiContent.has_url">

						<md-progress-circular ng-if="vm.loading" md-diameter="15"></md-progress-circular>

						<md-button type="button" ng-click="vm.generateNotification()" ng-if="!vm.loading" ng-disabled="vm.loading || !(vm.replaceTitle || vm.replaceDescription || vm.replaceImage)" class="md-raised">
							{{ 'POIS.REFRESH_NOTIFICATION' | translate }}
						</md-button>


						<div layout="column" layout-align="start start">

							<md-checkbox ng-model="vm.replaceTitle" ng-disabled="vm.loading">
								{{ 'POIS.REPLACE_TITLE' | translate }}
							</md-checkbox>
							<md-checkbox ng-model="vm.replaceDescription" ng-disabled="vm.loading">
								{{ 'POIS.REPLACE_DESCRIPTION' | translate }}
							</md-checkbox>
							<md-checkbox ng-model="vm.replaceImage" ng-disabled="vm.loading">
								{{ 'POIS.REPLACE_IMAGE' | translate }}
							</md-checkbox>

						</div>

						<span>{{ 'POIS.QUERY_INFORMATION_HINT' | translate }}</span>
						<span ng-if="vm.meta.title || vm.meta.description">{{ 'POIS.CONTENT_REPLACEMENT_HINT' | translate }}</span>

					</div>

				</div>

			 </div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" ng-disabled="vm.loading" type="submit">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
