
#poi_meta_dialog {

	.image-selection {
		margin-right: 15px;
	}

	image-preview {

		.image-container {
			width: 120px;
			height: 120px;
			margin: 0 auto;
		}

	}

	image-selection {
		button {
			margin: 15px 0 0 0;
		}
	}

	.url-image-preview {

		width: 120px;
		height: 120px;

	}

	.no-image {
		background: #f6f6f6;
	}

}