
<div id="poi_settings" flex="50">

	<section class="no-border">

		<h3>{{ 'COMMON.GENERAL' | translate }}</h3>

		<md-input-container class="md-block poi-name" flex-gt-sm>
			<label>{{ 'POIS.NAME' | translate}}</label>
			<input ng-model="vm.$localStorage.poi[vm.poiId].changes.name" md-maxlength="255" required ng-change="vm.settingsChanged();">
		</md-input-container>

		<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.active" layout="row" layout-align="start center" ng-change="vm.settingsChanged();">
			<div class="label">Status</div>
			<md-radio-button ng-value="false">{{ 'COMMON.DRAFT' | translate }}</md-radio-button>
			<md-radio-button ng-value="true">{{ 'COMMON.PUBLIC' | translate }}</md-radio-button>
		</md-radio-group>

	</section>

	<section>

		<h3>{{ 'COMMON.LANGUAGES' | translate }}</h3>

		<md-list>

			<md-list-item layout="row" layout-align="none center" ng-repeat="(index, content) in vm.$localStorage.poi[vm.poiId].changes.poi_contents" ng-class="{'default-language':vm.$localStorage.poi[vm.poiId].changes.fallback_language==content.language}" ng-if="content.action != 'delete'">

				<span class="language-name" flex="20">{{vm.languages[content.language].nativeName}}
				<span ng-if="vm.$localStorage.poi[vm.poiId].changes.fallback_language==content.language" class="default">{{ 'COMMON.DEFAULT' | translate }}</span></span>

				<div class="actions" layout="row" layout-align="none center">
					<md-button ng-if="vm.$localStorage.poi[vm.poiId].changes.fallback_language!=content.language" ng-click="vm.makeDefaultLanguage(content.language);">{{ 'POIS.MAKE_DEFAULT' | translate }}</md-button>
					<md-button ng-if="vm.$localStorage.poi[vm.poiId].changes.fallback_language!=content.language" ng-click="vm.removeLanguage(content.language);">{{ 'COMMON.REMOVE' | translate }}</md-button>
				</div>

				<md-divider></md-divider>

			</md-list-item>

		</md-list>

		<md-menu>
			<md-button class="md-raised md-primary" ng-click="vm.openLanguageSelection($mdOpenMenu, $event)">
				{{ 'POIS.ADD_LANGUAGE' | translate }}
			</md-button>
			<md-menu-content width="4">
				<md-menu-item ng-repeat="(key, language) in vm.availableLanguages">
					<md-button ng-click="vm.addLanguage(key)">
						{{language.nativeName}}
					</md-button>
				</md-menu-item>
				<md-menu-divider></md-menu-divider>
				<md-menu-item>
					<md-button ng-click="vm.cancelLanguageSelection(key)">
						{{ 'COMMON.CANCEL' | translate }}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>

	</section>

	<section>

		<h3>{{ 'ADMIN.SETTINGS.COPYRIGHT' | translate }}</h3>

		<md-switch ng-model="vm.$localStorage.poi[vm.poiId].changes.overwrite_copyright" ng-change="vm.settingsChanged();">
			<span ng-if="!vm.$localStorage.poi[vm.poiId].changes.overwrite_copyright">{{ 'POIS.INHERIT_COPYRIGHT' | translate }}</span>
			<span ng-if="vm.$localStorage.poi[vm.poiId].changes.overwrite_copyright">{{ 'POIS.OVERWRITE_COPYRIGHT' | translate }}</span>
		</md-switch>

		<div ng-if="vm.$localStorage.poi[vm.poiId].changes.overwrite_copyright" class="copyright-settings">

			<md-input-container class="md-block copyright-input">
				<label>{{ 'ADMIN.SETTINGS.COPYRIGHT_LABEL' | translate }}</label>
				<input type="text" ng-model="vm.$localStorage.poi[vm.poiId].changes.copyright" ng-change="vm.settingsChanged();">
			</md-input-container>

			<div class="copyright-preview">
				<b>{{ 'COMMON.PREVIEW' | translate }}:</b> &copy; 2017 <span ng-if="!!vm.$localStorage.poi[vm.poiId].changes.copyright">{{vm.$localStorage.poi[vm.poiId].changes.copyright}}</span><span ng-if="!vm.$localStorage.poi[vm.poiId].changes.copyright">{{vm.tenant.name}}</span>
			</div>

		</div>

	</section>

	<section>

		<h3>{{ 'ADMIN.SETTINGS.IMPRINT' | translate }}</h3>

		<md-switch ng-model="vm.$localStorage.poi[vm.poiId].changes.overwrite_imprint" ng-change="vm.settingsChanged();">
			<span ng-if="!vm.$localStorage.poi[vm.poiId].changes.overwrite_imprint">{{ 'POIS.INHERIT_IMPRINT' | translate }}</span>
			<span ng-if="vm.$localStorage.poi[vm.poiId].changes.overwrite_imprint">{{ 'POIS.OVERWRITE_IMPRINT' | translate }}</span>
		</md-switch>

		<text-angular ng-if="vm.$localStorage.poi[vm.poiId].changes.overwrite_imprint" ng-model="vm.$localStorage.poi[vm.poiId].changes.imprint" ta-toolbar="[['h1','h2','h3', 'p'], ['insertLink'],['bold','italics', 'underline'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['ul', 'ol'], ['redo', 'undo']]" ng-change="vm.settingsChanged();"></text-angular>

	</section>

	<section>

		<h3>{{ 'ADMIN.SETTINGS.PRIVACY' | translate }}</h3>

		<md-switch ng-model="vm.$localStorage.poi[vm.poiId].changes.overwrite_privacy" ng-change="vm.settingsChanged();">
			<span ng-if="!vm.$localStorage.poi[vm.poiId].changes.overwrite_privacy">{{ 'POIS.INHERIT_PRIVACY' | translate }}</span>
			<span ng-if="vm.$localStorage.poi[vm.poiId].changes.overwrite_privacy">{{ 'POIS.OVERWRITE_PRIVACY' | translate }}</span>
		</md-switch>

		<text-angular ng-if="vm.$localStorage.poi[vm.poiId].changes.overwrite_privacy" ng-model="vm.$localStorage.poi[vm.poiId].changes.privacy" ta-toolbar="[['h1','h2','h3', 'p'], ['insertLink'],['bold','italics', 'underline'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['ul', 'ol'], ['redo', 'undo']]" ng-change="vm.settingsChanged();"></text-angular>

	</section>

	<section hidden-on-live>

		<h3>Channel</h3>

		<md-switch ng-model="vm.$localStorage.poi[vm.poiId].changes.has_channel" ng-change="vm.settingsChanged();">
			<span ng-if="!vm.$localStorage.poi[vm.poiId].changes.has_channel">false</span>
			<span ng-if="vm.$localStorage.poi[vm.poiId].changes.has_channel">true</span>
		</md-switch>

	</section>

	<section>

		<h3>Danger Zone</h3>

		<md-button class="md-raised md-warn" ng-click="vm.deletePoi()">{{ 'COMMON.DELETE' | translate }}</md-button>

	</section>

</div>