
poi-settings {

	section {

		padding: 20px 0;
		border-top: 1px solid rgba(255, 255, 255, 0.9);

		&.no-border {
			border: none !important;
		}

		.poi-name {
			margin-top: 40px;
			width: 350px;
		}

		md-radio-group {

			padding: 20px 0;

			.label {
				padding: 0 20px 0 0;
				width: 120px;
				font-weight: 500;
			}

		}

	}

	.default-language {

		.language-name {
			font-weight: bold;
		}

		.default {
			padding: 0 0 0 20px;
			font-size: 10px;
		}

	}

	.copyright-settings {

		margin: 30px 0 10px 20px;

	}

}