<div ng-cloak>

	<md-content class="sb-boxshadow tab-wrapper">

		<div class="tabs" ng-if="vm.poiLoaded">

			<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

				<md-nav-item md-nav-click="goto('content')" name="content">{{ 'POIS.CONTENT' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('touchpoints');vm.navChange('touchpoints');" name="touchpoints">{{ 'COMMON.TOUCHPOINTS' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('interaction')" name="interaction">{{ 'COMMON.INTERACTION' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('design')" name="design">{{ 'COMMON.DESIGN' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('activity')" name="activity">{{ 'COMMON.ACTIVITY' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('settings')" name="settings">{{ 'COMMON.SETTINGS' | translate }}</md-nav-item>
				<md-nav-item ng-click="vm.preview();">Vorschau</md-nav-item>

				<!--<span flex></span>

				<div class="poi-status" layout="row" layout-align="center center" ng-if="vm.$localStorage.poi[vm.poiId].loaded">

					<div class="status" layout="row" layout-align="center center" ng-if="vm.$localStorage.poi[vm.poiId].loaded.active == 0">

						<div>{{ 'COMMON.DRAFT' | translate }}</div>
						<div><md-icon class="material-icons draft">radio_button_checked</md-icon></div>

					</div>

					<div class="status" layout="row" layout-align="center center" ng-if="vm.$localStorage.poi[vm.poiId].loaded.active == 1">

						<div>{{ 'COMMON.PUBLIC' | translate }}</div>
						<div><md-icon class="material-icons public">radio_button_checked</md-icon></div>

					</div>

					<md-tooltip md-direction="left">
						{{ 'POIS.CHANGE_STATUS_HINT' | translate }}
					</md-tooltip>

				</div>-->

			</md-nav-bar>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'content'">

				<poi-messages></poi-messages>

				<poi-content></poi-content>

			</md-content>


			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'touchpoints'">

				<div class="poi-locked-overlay" ng-if="vm.poiIsLockedByAnotherUser">{{ 'POIS.NO_EDIT_WHILE_LOCKED' | translate }}</div>

				<poi-messages></poi-messages>

				<poi-touchpoints></poi-touchpoints>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'interaction'">

				<poi-messages></poi-messages>

				<poi-interaction></poi-interaction>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'design'">

				<div class="poi-locked-overlay" ng-if="vm.poiIsLockedByAnotherUser">{{ 'POIS.NO_EDIT_WHILE_LOCKED' | translate }}</div>

				<poi-messages></poi-messages>

				<poi-design></poi-design>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'activity'">

				<div class="poi-locked-overlay" ng-if="vm.poiIsLockedByAnotherUser">{{ 'POIS.NO_EDIT_WHILE_LOCKED' | translate }}</div>

				<poi-messages></poi-messages>

				<poi-activity></poi-activity>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'settings'">

				<div class="poi-locked-overlay" ng-if="vm.poiIsLockedByAnotherUser">{{ 'POIS.NO_EDIT_WHILE_LOCKED' | translate }}</div>

				<poi-messages></poi-messages>

				<poi-settings></poi-settings>

			</md-content>

		</div>

		<spinner ng-if="!vm.poiLoaded"></spinner>

	</md-content>

</div>
