
poi-tabs {

	.poi-locked-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background: rgba(255, 255, 255, 0.73);
		font-size: 24px;
		text-align: center;
		padding: 50px;
		box-sizing: border-box;
	}

	.poi-status {

		margin: 0 20px 0 0;

		.status {

			> div {

				margin: 0 0 0 5px;
				color: rgba(0,0,0,0.54);
				text-transform: uppercase;

				.public {
					color: $green;
				}

				.draft {
					color: $orange;
				}

			}

		}

	}

	.tab-wrapper,
	.tab-content {
		background-color: #fff !important;
	}

}
