<md-content class="Page-container" id="media_page">

    <!--<media-upload is-dialog="false" dialog-selected-type="'all'"></media-upload>-->

	<div class="media-upload-wrapper sb-boxshadow">

		<media-upload></media-upload>

	</div>

	<div class="media-wrapper sb-boxshadow">

		<media is-dialog="false"></media>

	</div>

</md-content>
