<div id="micro_payments_list" flex>

	<div>

		<div class="header" layout="row">
			<div flex="75">
				<a ng-click="vm.sortBy('name')">
					<span class="column-title">{{ 'COMMON.NAME' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.MicroPaymentSort.propertyName === 'name'" ng-class="{reverse: vm.$localStorage.MicroPaymentSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>
			<div flex="10" class="type">
                <a ng-click="vm.sortBy('type')">
					<span class="column-title">{{ 'COMMON.TYPE' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.MicroPaymentSort.propertyName === 'type'" ng-class="{reverse: vm.$localStorage.MicroPaymentSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>
			<div flex="10">
				<a ng-click="vm.sortBy('date')">
					<span class="column-title">{{ 'COMMON.DATE' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.MicroPaymentSort.propertyName === 'date'" ng-class="{reverse: vm.$localStorage.MicroPaymentSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>
		</div>

		<div ng-if="vm.$localStorage['micro-paymentsList'][vm.$localStorage['micro-paymentsList'].use] && vm.$localStorage['micro-paymentsList'].refreshed">

			<div class="item" layout="row" ng-repeat="microPayment in vm.$localStorage['micro-paymentsList'][vm.$localStorage['micro-paymentsList'].use] | orderBy:vm.$localStorage.MicroPaymentSort.propertyName:vm.$localStorage.MicroPaymentSort.reverse" layout-align="center center">

				<div flex="75">
					{{microPayment.name}}
				</div>

				<div flex="10" class="type">
					{{microPayment.type}}
				</div>

				<div class="date" flex="10">
					{{microPayment.updated_at | amDateFormat:'DD.MM.YYYY'}}<br> {{microPayment.updated_at | amDateFormat:'HH:mm:ss'}}
				</div>

				<div class="actions" flex>
					<md-button href="#/micro-payments/{{microPayment.id}}" class="md-icon-button">
						<i class="material-icons">edit</i>
					</md-button>
				</div>

			</div>

		</div>

		<div class="no-data item" ng-if="(!vm.$localStorage['micro-paymentsList'][vm.$localStorage['micro-paymentsList'].use] || vm.$localStorage['micro-paymentsList'][vm.$localStorage['micro-paymentsList'].use].length == 0) && !vm.$localStorage['micro-paymentsList'].loading">

			<span ng-if="vm.$localStorage['micro-paymentsList'].use == 'data'">{{ 'MICRO_PAYMENTS.NO_PAYMENTS' | translate }}</span>
			<span ng-if="vm.$localStorage['micro-paymentsList'].use == 'searchData'">{{ 'COMMON.NO_SEARCH_RESULTS' | translate }}</span>

		</div>

		<infinite-scrolling type="'micro-payments'"></infinite-scrolling>

	</div>

	<spinner ng-if="!vm.$localStorage['micro-paymentsList'][vm.$localStorage['micro-paymentsList'].use] || vm.$localStorage['micro-paymentsList'].loading"></spinner>

</div>
