
<div>
	<md-content class="md-padding kpi-container" layout-xs="column" layout-sm="column" layout="row" ng-if="vm.displayKPI">
		<kpi-card></kpi-card>
		<!-- <kpi-card type="'accessed-channels'"></kpi-card> -->
	</md-content>
	<delivered-content ng-if="vm.displayKPI"></delivered-content>
	<poi-access></poi-access>
</div>
