@import "./angular/scss/_themes.scss";
#client_logo {

	padding: 40px 20px;

	img {
		width: 100%;
	}

}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
	min-width: 100px !important;
	width: 85vw !important;
	max-width: 200px !important;
}

md-sidenav {

	background: $backgroundDarken3;

	side-menu {

		height: 100%;

		> md-content {
			background: $backgroundDarken3;
		}

	}

}

#side_menu {
	min-height: 100%;

	md-list-item {

		margin: 0;
		color: rgba(255,255,255,.7);
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;

		&.md-focused {
			background: transparent;
		}

		md-icon {
			color: rgba(255,255,255,.5);
			-o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			transition:.5s;
		}

		&.active {

			background: $backgroundDarken4;
			//color: rgba(255,255,255,1);
			color: $accentLighten1;

			md-icon {
				color: $accentLighten1;
			}

		}

		&:hover {

			color: $accentLighten3;

			.md-button {
				background: transparent;
			}

			md-icon {
				color: $accentLighten3 !important;
			}


			&.active {

				background: $backgroundDarken4;

				md-icon {
					color: $accentLighten1;
				}

			}

		}

	}

	.submenu {

		max-height: 0;
		overflow: hidden;
		position: relative;
		z-index: 1;
		background: $backgroundDarken4;
		-webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
		-webkit-transition-property: max-height;
		-moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
		-moz-transition-property: max-height;
		transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
		transition-property: max-height;

		&.active {
			max-height: 900px;
		}

		md-list-item {

			p {
				margin: 0 0 0 56px;
			}

		}

	}

	.navigation-list {
		// space for app version, which is positioned absolut
		padding-bottom: 50px;
	}

}

#app_version {

	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	color: rgba(255,255,255,.5);
	margin-bottom: 5px;

	.version-info {
		cursor: help;
	}

}
