
<md-content id="side_menu">

	<div id="client_logo">
		<img ng-src="{{vm.$localStorage.productConfig.sidebar_product_logo}}">
	</div>

	<spinner ng-if="vm.loading"></spinner>

	<md-list class="navigation-list" ng-if="!vm.loading">

		<!--<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin']);" href="#/dashboard" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'dashboard'}">
			<md-icon class="material-icons">dashboard</md-icon>
			<p>{{ 'SIDE_MENU.DASHBOARD' | translate }}</p>
		</md-list-item>-->

		<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin'], 'poi');" href="#/pois" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'pois'}">
			<md-icon class="material-icons">location_on</md-icon>
			<p>{{ 'SIDE_MENU.POIS' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin'], 'beacon');" href="#/touchpoints" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'touchpoints'}">
			<md-icon class="material-icons">link</md-icon>
			<p>{{ 'SIDE_MENU.TOUCHPOINTS' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin'], 'media');" href="#/media" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'media'}">
			<md-icon class="material-icons">photo_library</md-icon>
			<p>{{ 'SIDE_MENU.MEDIA' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin'], 'newsletter');" href="#/newsletter-configurations" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'newsletter-configurations'}">
			<md-icon class="material-icons">speaker_notes</md-icon>
			<p>{{ 'SIDE_MENU.NEWSLETTER' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin'], 'payment');" href="#/micro-payments" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'micro-payments'}" hidden-on-live>
			<md-icon class="material-icons">payment</md-icon>
			<p>{{ 'SIDE_MENU.PAYMENTS' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin'], 'analytics');" href="#/analytics" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'analytics'}">
			<md-icon class="material-icons">assessment</md-icon>
			<p>{{ 'SIDE_MENU.ANALYTICS' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin'], 'profile');" href="#/profile" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'profile'}">
			<md-icon class="material-icons">account_circle</md-icon>
			<p>{{ 'SIDE_MENU.PROFILE' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['admin'], 'admin');" href="#/admin/settings" ng-click="vm.selectItem('admin');" ng-class="{'active' : vm.$state.current.activeMenuItem == 'admin'}">
			<md-icon class="material-icons">assignment</md-icon>
			<p>{{ 'SIDE_MENU.ADMIN' | translate }}</p>
		</md-list-item>

		<div class="submenu" ng-class="{'active' : vm.$state.current.activeMenuItem == 'admin'}">

			<md-list>

				<md-list-item href="#/admin/settings" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeSubMenuItem == 'settings'}">
					<p>{{ 'SIDE_MENU.SUB_MENU.SETTINGS' | translate }}</p>
				</md-list-item>

				<md-list-item href="#/admin/design" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeSubMenuItem == 'design'}">
					<p>{{ 'SIDE_MENU.SUB_MENU.DESIGN' | translate }}</p>
				</md-list-item>

				<md-list-item href="#/admin/apps" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeSubMenuItem == 'apps'}">
					<p>{{ 'SIDE_MENU.SUB_MENU.APPS' | translate }}</p>
				</md-list-item>

				<md-list-item href="#/admin/users" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeSubMenuItem == 'user'}">
					<p>{{ 'SIDE_MENU.SUB_MENU.USERS' | translate }}</p>
				</md-list-item>

				<md-list-item href="#/admin/billing" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeSubMenuItem == 'billing'}" ng-if="vm.billingIsVisible">
					<p>{{ 'SIDE_MENU.SUB_MENU.BILLING' | translate }}</p>
				</md-list-item>

				<md-list-item href="#/admin/subscription" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeSubMenuItem == 'subscription'}" ng-if="vm.subscriptionIsVisible">
					<p>{{ 'SUBSCRIPTION.SUBSCRIPTION' | translate }}</p>
				</md-list-item>

			</md-list>

		</div>

		<md-list-item ng-if="vm.isVisible(['subuser', 'user', 'admin'], 'help');" href="#/help" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'help'}">
			<md-icon class="material-icons">help_outline</md-icon>
			<p>{{ 'SIDE_MENU.HELP' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['reseller']);" href="#/reseller" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'reseller'}">
			<md-icon class="material-icons">help_outline</md-icon>
			<p>{{ 'SIDE_MENU.RESELLER' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['superadmin']);" href="#/superadmin-login" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'superadmin-login'}">
			<md-icon class="material-icons">transfer_within_a_station</md-icon>
			<p>{{ 'SIDE_MENU.SUPPORT' | translate }}</p>
		</md-list-item>

		<md-list-item ng-if="vm.isVisible(['superadmin', 'reseller']);" href="#/tenants" ng-click="vm.toggleSideMenu();" ng-class="{'active' : vm.$state.current.activeMenuItem == 'tenants'}">
			<md-icon class="material-icons">playlist_add</md-icon>
			<p>{{ 'SIDE_MENU.TENANTS' | translate }}</p>
		</md-list-item>

	</md-list>

	<div id="app_version">
		{{ vm.$localStorage.tenant.name }}<br>
		<span class="version-info" ng-click="vm.openChangelog()">v{{vm.version}}</span>
	</div>

</md-content>
