md-dialog {

	&.icon-module {

		.icons {

			.icon {

				margin: 4px;
				display: inline-block;
				width: 60px;
				height: 60px;
				background: #fafafa;
				text-align: center;
				line-height: 72px;
				cursor: pointer;

				&.selected {
					background: $primary;
					color: #fff;
				}

				i {
					font-size: 30px;
				}

			}

		}

	}

	.enable-overflow {
		overflow: visible !important;
	}

}
