<md-dialog class="module-dialog icon-module">

	<form ng-submit="icon_module_dialog_form.$valid && vm.save()" name="icon_module_dialog_form" id="icon_module_dialog_form">

		<md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('general')" name="general">{{ 'POIS.GENERAL' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

		<md-dialog-content>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'general'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
					<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'COMMON.LINK' | translate}}</label>
					<input ng-model="vm.module.data.link" md-maxlength="255" type="url">
				</md-input-container>

				<div class="icons">

					<div class="icon" ng-repeat="icon in vm.iconsets.fa" ng-if="vm.iconsets.fa" ng-click="vm.selectIcon('fa', icon.id);" ng-class="{'selected': vm.module.data.icon == icon.id}"><i class="fa fa-{{icon.id}}"></i></div>

				</div>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<h2>{{ 'POIS.ICON' | translate}}</h2>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'STYLES.ICON_SIZE' | translate}}</label>
					<input ng-model="vm.module.data.css.icon.fontSize" name="design_font_size" units-input>
				</md-input-container>

				<md-input-container>
					<label class="enable-overflow">{{ 'COMMON.ALIGN' | translate}}</label>
					<md-select ng-model="vm.module.data.css.icon.textAlign">
						<md-option value="left">{{ 'COMMON.LEFT' | translate}}</md-option>
						<md-option value="center">{{ 'COMMON.CENTER' | translate}}</md-option>
						<md-option value="right">{{ 'COMMON.RIGHT' | translate}}</md-option>
					</md-select>
				</md-input-container>

				<div md-color-picker ng-model="vm.module.data.css.icon.color" md-color-material-palette="false" label="{{'STYLES.ICON_COLOR' | translate}}"></div>

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<background-design ng-model="vm.module.data.css.wrapper"></background-design>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.module.data.html_id">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.module.data.html_classes">
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
	  		</md-button>
	  		<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
