
<div layout="row" layout-align="center center" ng-show="!vm.spinnerIsVisible">

	<div ng-if="vm.poiIsLockedByAnotherUser" layout="row" layout-align="center center">

		<div class="poi-locked-spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

		<div>{{ 'POIS.POI_LOCKED' | translate }}</div>

	</div>

	<md-button id="poi_update_button" ng-disabled="!vm.hasChanges" class="md-raised md-primary" ng-click="vm.updatePoi();" ng-if="!vm.poiIsLockedByAnotherUser">
		{{ 'POIS.UPDATE_BUTTON' | translate }}

		<span ng-if="vm.poiHasErrors">
			<md-icon class="material-icons" id="module_errors">error</md-icon>
			<md-tooltip md-direction="bottom">
				{{ 'POIS.POI_MODULE_ERRORS' | translate }}
			</md-tooltip>
		</span>

	</md-button>

	<div ng-if="!vm.poiIsLockedByAnotherUser">

		<md-menu class="poi-status" md-offset="0 50">

			<md-button class="md-icon-button" ng-click="vm.openStatusContextMenu($mdOpenMenu, $event)">
				<md-icon class="material-icons status-icon" ng-class="{'active':vm.$localStorage.poi[vm.poiId].loaded.active}">radio_button_checked</md-icon>
			</md-button>

			<md-menu-content width="4">

				<md-menu-item>

					<div class="hint" ng-show="vm.$localStorage.poi[vm.poiId].loaded.active">
						{{ 'POIS.PUBLISHED_HINT' | translate }}
					</div>

					<div class="hint" ng-show="!vm.$localStorage.poi[vm.poiId].loaded.active">
						{{ 'POIS.UNPUBLISHED_HINT' | translate }}
					</div>

				</md-menu-item>

				<md-menu-divider></md-menu-divider>

				<md-menu-item ng-show="vm.$localStorage.poi[vm.poiId].loaded.active">
					<md-button ng-click="vm.unpublish();">
						<md-icon class="material-icons">clear</md-icon>
						{{ 'POIS.UNPUBLISH' | translate }}
					</md-button>
				</md-menu-item>

				<md-menu-item ng-show="!vm.$localStorage.poi[vm.poiId].loaded.active">
					<md-button ng-click="vm.publish();">
						<md-icon class="material-icons">check</md-icon>
						{{ 'POIS.SAVE_AND_PUBLISH' | translate }}
					</md-button>
				</md-menu-item>

			</md-menu-content>

		</md-menu>

		<!--<md-tooltip md-direction="right">
			{{ 'POIS.CHANGE_STATUS_HINT' | translate }}
		</md-tooltip>-->

	</div>

</div>

<md-progress-circular md-mode="indeterminate" md-diameter="30" ng-show="vm.spinnerIsVisible"></md-progress-circular>
