poi {

	#module_errors {
		font-size: 20px;
	}

	#poi_update_button {

		padding: 0 10px;

		span {
			vertical-align: middle;
		}

		md-progress-circular {
			margin: 0 0 0 10px;
			display: inline-block;
			vertical-align: middle;
		}

	}

	.poi-status {

		.status-icon {

			color: $orange;
			fill: $orange;

			&.active {
				color: $green;
			}

		}

	}

	.poi-locked-spinner {

		width: 70px;
		text-align: center;

		> div {
			width: 9px;
			height: 9px;
			background-color: #333;

			border-radius: 100%;
			display: inline-block;
			-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
			animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		}

		.bounce1 {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}

		.bounce2 {
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}

	}

	@-webkit-keyframes sk-bouncedelay {
		0%, 80%, 100% { -webkit-transform: scale(0) }
		40% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bouncedelay {
		0%, 80%, 100% { 
			-webkit-transform: scale(0);
			transform: scale(0);
		} 40% { 
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
		}
	}

}