<md-button id="touchpoint_button" ng-disabled="!vm.hasChanges" class="md-raised md-primary" ng-click="vm.updateTouchpoint();" ng-show="!vm.spinnerIsVisible">{{ 'COMMON.SAVE' | translate }}</md-button>
<md-progress-circular md-mode="indeterminate" md-diameter="30" ng-show="vm.spinnerIsVisible"></md-progress-circular>