<md-dialog class="default-height-dialog" id="update_invoice_information_dialog">

	<form ng-submit="vm.save()">

		<md-toolbar>

			<div class="md-toolbar-tools">
				<h2>{{ 'SUBSCRIPTION.UPDATE_INVOICE_INFORMATION' | translate}}</h2>
			</div>

		</md-toolbar>

		<md-dialog-content class="dialog-has-no-navigation">

			<div class="md-dialog-content" layout="column">

				<div>
					{{ 'SUBSCRIPTION.UPDATE_INVOICE_INFORMATION_DESCRIPTION' | translate }}
				</div>

				<br>

				<md-input-container>
					<input ng-model="vm.invoiceInformation"></input>
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" ng-disabled="vm.loading" type="submit">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
