<div layout="row">

	<md-list layout="column" flex="65">
		<md-list-item ng-repeat="log in vm.logs" layout="column" layout-align="space-between start">
			<div class="activity-date">
				<em>{{ log.created_at | localizedDateFilter: 'LLL' }}</em>
			</div>
			<div class="activity-type-info"> 
				<md-icon ng-if="log.type == 'created'">add_circle_outline</md-icon>
				<md-icon ng-if="log.type == 'updated'">edit</md-icon>
				<md-icon ng-if="log.type == 'note'">content_paste</md-icon>
				<span ng-if="log.type == 'created'">{{ 'POIS.CREATED_BY' | translate }}</span>
				<span ng-if="log.type == 'updated'">{{ 'POIS.UPDATED_BY' | translate }}</span>
				<span ng-if="log.type == 'note'">{{ 'POIS.NOTE_BY' | translate }}</span>		
				<span ng-if="log.superadmin !== null"><strong>{{ log.superadmin.firstname + " " + log.superadmin.lastname }}</strong> {{ 'POIS.AS' | translate }} </span>
				<span><strong>{{ log.user.firstname + " " +  log.user.lastname }}</strong></span>
			</div>
			<div ng-if="log.text" class="activity-note-txt">{{ log.text }}</div>
		</md-list-item>
		<div in-view="$inview && vm.loadMoreLogs()"></div>
		<spinner ng-show="vm.poisLogList.loading"></spinner>
	</md-list>

	<div flex="5"></div>

	<form name="noteForm" ng-submit="vm.addNote()" flex="30">
		<md-input-container class="md-block">
			<label>{{ 'COMMON.NOTE' | translate }}</label>
			<textarea name="note" ng-model="vm.note" required minlength="3" md-maxlength="255"></textarea>
			<div ng-messages="noteForm.note.$error" role="alert">
				<div ng-message-exp="['required', 'minlength', 'maxlength']">
					{{ 'APPS.NAMEVALIDATION' | translate }}
				</div>
			</div>
		</md-input-container>
		<md-button class="md-primary md-raised" type="submit">{{ 'POIS.ADD_NOTE' | translate }}</md-button>
	</form>	

</div>
