poi-activity {

	md-list-item {

		padding: 20px !important;
		border-bottom: 1px solid rgba(255, 255, 255, 0.9);

		&:before {
			content: none;
		}

	}

	.activity-date {

		margin-left: 4px;

	}

	.activity-type-info {

		margin: 5px 0 10px;

	}

	.activity-note-txt {

		margin-left: 4px;
		padding: 5px 10px;
		border-left: 5px solid $primary;

	}

}
