<md-dialog>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'COMMON.QR_CODE_FOR' | translate}}<br>{{ vm.url }}</h2>
		</div>
	</md-toolbar>

	<md-dialog-content>

		<div ng-hide="vm.loading" id="qr-code" layout flex></div>
		<spinner ng-show="vm.loading"></spinner>

	</md-dialog-content>

	<md-dialog-actions>

		<md-button ng-click="vm.downloadQRCode()" ng-disabled="vm.loading">{{ 'COMMON.DOWNLOAD' | translate }}</md-button>
		<md-button ng-click="vm.printQRCode()" ng-disabled="vm.loading">{{ 'COMMON.PRINT' | translate}}</md-button>
		<md-button ng-click="vm.cancel()">{{ 'COMMON.CLOSE' | translate }}</md-button>

	</md-dialog-actions>

</md-dialog>
