<div id="newsletter_configurations_search">
	<md-input-container md-no-float class="md-icon-right md-block">
		<md-icon class="material-icons">search</md-icon>
		<input ng-model="vm.$localStorage.NewsletterConfigurationSearch.name" type="text" placeholder="{{ 'COMMON.SEARCH' | translate }}">
		<md-icon class="material-icons reset-search" ng-if="vm.$localStorage.NewsletterConfigurationSearch.name" ng-click="vm.resetSearch()">close</md-icon>
	</md-input-container>
</div>
