<md-dialog class="module-dialog">

	<form ng-submit="sweepstake_module_dialog_form.$valid && vm.save()" name="sweepstake_module_dialog_form" id="sweepstake_module_dialog_form">

		<md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('general')" name="general">{{ 'POIS.GENERAL' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

		<md-dialog-content>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'general'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
					<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
				</md-input-container>

				<h2>{{ 'POIS.FORM_FIELDS' | translate }}</h2>

				<div layout="row" layout-align="none center">

					<md-input-container class="md-block" flex>
						<label>{{ 'POIS.PLACEHOLDER_FIRSTNAME' | translate }}</label>
						<input ng-model="vm.module.data.placeholder_firstname">
					</md-input-container>

					<md-checkbox class="md-block" ng-model="vm.module.data.with_firstname" flex="20">
						<span>{{ 'POIS.FIELD_ACTIVATED' | translate }}</span>
					</md-checkbox>

					<md-checkbox class="md-block" ng-model="vm.module.data.required_firstname" flex="20">
						<span>{{ 'POIS.FIELD_REQUIRED' | translate }}</span>
					</md-checkbox>

				</div>

				<div layout="row" layout-align="none center">

					<md-input-container class="md-block" flex>
						<label>{{ 'POIS.PLACEHOLDER_LASTNAME' | translate }}</label>
						<input ng-model="vm.module.data.placeholder_lastname">
					</md-input-container>

					<md-checkbox class="md-block" ng-model="vm.module.data.with_lastname" flex="20">
						<span>{{ 'POIS.FIELD_ACTIVATED' | translate }}</span>
					</md-checkbox>

					<md-checkbox class="md-block" ng-model="vm.module.data.required_lastname" flex="20">
						<span>{{ 'POIS.FIELD_REQUIRED' | translate }}</span>
					</md-checkbox>

				</div>

				<div layout="row" layout-align="none center">

					<md-input-container class="md-block" flex>
						<label>{{ 'POIS.PLACEHOLDER_STREET' | translate }}</label>
						<input ng-model="vm.module.data.placeholder_street">
					</md-input-container>

					<md-checkbox class="md-block" ng-model="vm.module.data.with_street" flex="20">
						<span>{{ 'POIS.FIELD_ACTIVATED' | translate }}</span>
					</md-checkbox>

					<md-checkbox class="md-block" ng-model="vm.module.data.required_street" flex="20">
						<span>{{ 'POIS.FIELD_REQUIRED' | translate }}</span>
					</md-checkbox>

				</div>

				<div layout="row" layout-align="none center">

					<md-input-container class="md-block" flex>
						<label>{{ 'POIS.PLACEHOLDER_ZIP' | translate }}</label>
						<input ng-model="vm.module.data.placeholder_zip">
					</md-input-container>

					<md-checkbox class="md-block" ng-model="vm.module.data.with_zip" flex="20">
						<span>{{ 'POIS.FIELD_ACTIVATED' | translate }}</span>
					</md-checkbox>

					<md-checkbox class="md-block" ng-model="vm.module.data.required_zip" flex="20">
						<span>{{ 'POIS.FIELD_REQUIRED' | translate }}</span>
					</md-checkbox>

				</div>

				<div layout="row" layout-align="none center">

					<md-input-container class="md-block" flex>
						<label>{{ 'POIS.PLACEHOLDER_CITY' | translate }}</label>
						<input ng-model="vm.module.data.placeholder_city">
					</md-input-container>

					<md-checkbox class="md-block" ng-model="vm.module.data.with_city" flex="20">
						<span>{{ 'POIS.FIELD_ACTIVATED' | translate }}</span>
					</md-checkbox>

					<md-checkbox class="md-block" ng-model="vm.module.data.required_city" flex="20">
						<span>{{ 'POIS.FIELD_REQUIRED' | translate }}</span>
					</md-checkbox>

				</div>

				<div layout="row" layout-align="none center">

					<md-input-container class="md-block" flex>
						<label>{{ 'POIS.PLACEHOLDER_COUNTRY' | translate }}</label>
						<input ng-model="vm.module.data.placeholder_country">
					</md-input-container>

					<md-checkbox class="md-block" ng-model="vm.module.data.with_country" flex="20">
						<span>{{ 'POIS.FIELD_ACTIVATED' | translate }}</span>
					</md-checkbox>

					<md-checkbox class="md-block" ng-model="vm.module.data.required_country" flex="20">
						<span>{{ 'POIS.FIELD_REQUIRED' | translate }}</span>
					</md-checkbox>

				</div>

				<div layout="row" layout-align="none center">

					<md-input-container class="md-block" flex>
						<label>{{ 'POIS.PLACEHOLDER_EMAIL' | translate }}</label>
						<input ng-model="vm.module.data.placeholder_email">
					</md-input-container>

					<md-checkbox class="md-block" ng-disabled="true" ng-checked="true" flex="20">
						<span>{{ 'POIS.FIELD_ACTIVATED' | translate }}</span>
					</md-checkbox>

					<md-checkbox class="md-block" ng-disabled="true" ng-checked="true" flex="20">
						<span>{{ 'POIS.FIELD_REQUIRED' | translate }}</span>
					</md-checkbox>

				</div>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.BUTTON_LABEL' | translate }}</label>
					<input ng-model="vm.module.data.button_label">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.SUCCESS_LABEL' | translate }}</label>
					<input ng-model="vm.module.data.success_label" md-maxlength="4000">
				</md-input-container>


				<h2>{{ 'POIS.SWEEPSTAKE_QUESTIONANDANSWER' | translate }}</h2>

				<div>
					<md-radio-group ng-model="vm.module.data.answer">
						<md-radio-button value="none" class="md-primary">{{ 'POIS.SWEEPSTAKE_NOANSWER' | translate }}</md-radio-button>
						<md-radio-button value="text">{{ 'POIS.SWEEPSTAKE_TEXTANSWER' | translate }}</md-radio-button>
						<md-radio-button value="choice">{{ 'POIS.SWEEPSTAKE_SINGLECHOICEANSWER' | translate }}</md-radio-button>
					</md-radio-group>
				</div>

				<md-input-container class="md-block" ng-show="vm.module.data.answer == 'text' || vm.module.data.answer == 'choice'">
					<label>{{ 'POIS.SWEEPSTAKE_QUESTION' | translate }}</label>
					<input ng-model="vm.module.data.question" md-maxlength="4000"></input>
				</md-input-container>

				<md-input-container class="md-block" flex ng-show="vm.module.data.answer == 'text'">
					<label>{{ 'POIS.PLACEHOLDER_SWEEPSTAKE_ANSWER' | translate }}</label>
					<input ng-model="vm.module.data.placeholder_text" md-maxlength="4000">
				</md-input-container>

				<md-input-container class="md-block" ng-show="vm.module.data.answer == 'choice'">
					<label>{{ 'POIS.SWEEPSTAKE_PLACEHOLDER_CHOICES' | translate }}</label>
					<textarea ng-model="vm.module.data.placeholder_text" rows="2" md-select-on-focus md-maxlength="4000"></textarea>
				</md-input-container>


				<h2>{{ 'POIS.SWEEPSTAKE_TERMS_HEADLINE' | translate }}</h2>

				<md-checkbox class="md-block" ng-model="vm.module.data.with_terms">
					<span>{{ 'POIS.SWEEPSTAKE_TERMS_CHECKBOX_LABEL' | translate }}</span>
				</md-checkbox>

				<md-input-container class="md-block" flex ng-show="vm.module.data.with_terms">
					<label>{{ 'POIS.SWEEPSTAKE_TERMS_HINT' | translate }}</label>
					<input ng-model="vm.module.data.terms_hint" md-maxlength="512"></input>
				</md-input-container>

				<md-input-container class="md-block" ng-show="vm.module.data.with_terms">
					<label>{{ 'POIS.SWEEPSTAKE_TERMS_TEXT' | translate }}</label>
					<textarea ng-model="vm.module.data.terms_text" rows="2" md-select-on-focus></textarea>
				</md-input-container>


				<h2>{{ 'POIS.FORM_SETTINGS' | translate }}</h2>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.RECIPIENT' | translate }}</label>
					<input ng-model="vm.module.data.recipient" required name="data_recipient" required></input>
				</md-input-container>

				<md-checkbox class="md-block" ng-model="vm.module.data.store_participation">
					<span>{{ 'POIS.SWEEPSTAKE_STORE_PARTICIPATION' | translate }}</span>
				</md-checkbox>

				<md-switch class="md-block" ng-model="vm.module.data.with_captcha">
					<span>{{ 'MODULES.ENABLE_CAPTCHA' | translate }}</span>
				</md-switch>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<h2>{{ 'STYLES.BUTTON' | translate}}</h2>

				<button-design ng-model="vm.module.data.css" field="'button'"></button-design>

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<background-design ng-model="vm.module.data.css.wrapper"></background-design>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.module.data.html_id">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.module.data.html_classes">
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
	  		</md-button>
	  		<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
