<div id="poi_interaction" flex>

	<div ng-if="vm.$localStorage.poi[vm.poiId].loaded.has_feedback" flex>

		<h3>{{ 'COMMON.FEEDBACK' | translate }}</h3>

        <div class="list-row" layout="row">
            <div flex="20">{{ 'FEEDBACK.INITIAL_LABEL' | translate }}</div>
            <div flex="25">{{ 'FEEDBACK.POSITIVE' | translate }}</div>
            <div flex="25">{{ 'FEEDBACK.NEGATIVE' | translate }}</div>
            <div flex="30">{{ 'FEEDBACK.LANGUAGE' | translate }}</div>
        </div>

        <div class="list-row" ng-repeat="feedback in vm.feedbacks" layout="row">
            <div flex="20">{{feedback.label}}</div>
            <div flex="25">{{feedback.positive}}</div>
            <div flex="25">{{feedback.negative}}</div>
            <div flex="30">{{feedback.language}}</div>
        </div>

	</div>

    <section ng-if="vm.$localStorage.poi[vm.poiId].loaded.has_sweepstake" class="no-border">

		<h3>{{ 'COMMON.SWEEPSTAKE' | translate }}</h3>

		<div>
			{{ 'SWEEPSTAKE.PARTICIPANTS' | translate }} {{vm.participants}}
		</div>

		<div class="list-row" layout="row">
            <div flex="45">{{ 'SWEEPSTAKE.ID' | translate }}</div>
            <div flex="40">{{ 'SWEEPSTAKE.TIME' | translate }}</div>
        </div>

        <div class="list-row" ng-if="vm.participants>0" ng-repeat="sweepstake in vm.sweepstakes" layout="row">
            <div flex="45">{{sweepstake.sweepstake}}</div>
            <div flex="40">{{sweepstake.time | amDateFormat:'DD.MM.YYYY'}} {{sweepstake.time | amDateFormat:'HH:mm:ss'}}</div>
        </div>

		<div class="list-row" ng-if="vm.participants==0" ng-repeat="sweepstake in vm.sweepstakes" layout="row">
            <div flex="85">{{ 'SWEEPSTAKE.EMPTY' | translate }}</div>
        </div>

	</section>


	<section  class="no-border" ng-if="!(vm.$localStorage.poi[vm.poiId].loaded.has_sweepstake || vm.$localStorage.poi[vm.poiId].loaded.has_feedback)">
		{{ 'POIS.EMPTY_INTERACTION' | translate }}
	</section>

</div>
