
poi-interaction {

	section {

		border-top: 1px solid rgba(255, 255, 255, 0.9);

		&.no-border {
			border: none !important;
		}

	}

	.list-row {

		padding-top: 5px;
		padding-bottom: 5px;

	}

}
