.module-dialog {

	&.image-gallery-module {

		.gallery-images {

			margin: 0 auto;
			padding: 10px 20px;
			max-width: 800px;
			list-style: none;
			background: #f6f6f6;

			.no-images {
				padding: 30px;
				text-align: center;
			}

			.gallery-image {

				margin: 10px 0;
				padding: 10px;
				background: #fff;
				@include boxshadow();

				.handle {
					padding: 20px 20px 20px 10px;
					color: grey;
					cursor: move;
				}

				.preview {

					margin: 0 20px 0 0;
					width: 100px;
					height: 100px;
					background: #f6f6f6;

					img {
						width: 100px;
						height: 100px;
					}

				}

			}

			.dndPlaceholder {
				margin: 10px 0;
				height: 50px;
				background: rgba(86,171,191,.4);
			}

		}

		.setting {

			margin: 20px 0;

		}

		.info-icon {

			margin: 0 10px auto;

		}

		.type-selection {

			margin-right: 20px;

		}

		.info-text {
			margin-top: 3px;
		}

	}

}