<md-dialog class="module-dialog image-gallery-module">

	<form ng-submit="image_gallery_module_dialog_form.$valid && vm.save()" name="image_gallery_module_dialog_form" id="image_gallery_module_dialog_form">

		<md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('general')" name="general">{{ 'POIS.GENERAL' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

		<md-dialog-content>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'general'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
					<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
				</md-input-container>

				<h2>{{ 'MODULES.IMAGE_GALLERY.TYPE' | translate}}</h2>

				<div layout="row" layout-align="start start">

					<md-radio-group ng-model="vm.module.data.type" class="type-selection" layout="column">
						<md-radio-button value="slider" flex>{{ 'MODULES.IMAGE_GALLERY.SWIPER' | translate}}</md-radio-button>
						<md-radio-button value="classic" flex>{{ 'MODULES.IMAGE_GALLERY.CLASSIC' | translate}}</md-radio-button>
						<md-radio-button value="grid" flex>{{ 'MODULES.IMAGE_GALLERY.GRID' | translate}}</md-radio-button>
					</md-radio-group>

					<md-icon class="material-icons info-icon">info_outline</md-icon>

					<div flex class="info-text">
						<span ng-if="vm.module.data.type=='slider'">{{ 'MODULES.IMAGE_GALLERY.SWIPER_EXPLAINED' | translate}}</span>
						<span ng-if="vm.module.data.type=='classic'">{{ 'MODULES.IMAGE_GALLERY.CLASSIC_EXPLAINED' | translate}}</span>
						<span ng-if="vm.module.data.type=='grid'">{{ 'MODULES.IMAGE_GALLERY.GRID_EXPLAINED' | translate}}</span>
					</div>

				</div>

				<div layout="row" layout-align="center center">

					<md-button ng-click="vm.selectImages();">{{ 'COMMON.ADD_IMAGES' | translate }}</md-button>

				</div>

				<ul dnd-list="vm.module.data.images" ng-show="vm.module.data.images[0]" class="gallery-images">

					<li dnd-nodrag ng-if="!vm.module.data.images[0]" class="no-images">{{ 'COMMON.NO_IMAGES_SELECTED' | translate }}</li>

					<li dnd-nodrag ng-repeat="(index, image) in vm.module.data.images" dnd-draggable="image" dnd-moved="vm.module.data.images.splice($index, 1);" dnd-effect-allowed="move" class="gallery-image" layout="row" layout-align="start center">

						<div dnd-handle class="handle">
							<md-icon class="material-icons">menu</md-icon>
						</div>

						<image-preview class="preview" image-id="image.id"></image-preview>

						<md-input-container class="md-block" class="caption" flex>
							<label>{{ 'POIS.CAPTION' | translate}}</label>
							<input ng-model="vm.module.data.images[index].caption"></input>
						</md-input-container>

						<md-input-container class="md-block" flex>
							<label>{{ 'COMMON.ALT' | translate}}</label>
							<input ng-model="vm.module.data.images[index].alt"></input>
						</md-input-container>

						<md-button class="md-icon-button" ng-click="vm.removeImage(image);">
							<md-icon class="material-icons">close</md-icon>
						</md-button>

					</li>

				</ul>

				<div layout="row" layout-align="center center" ng-if="vm.module.data.images[0]">

					<md-button ng-click="vm.selectImages();">{{ 'COMMON.ADD_IMAGES' | translate }}</md-button>

				</div>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<div ng-if="vm.module.data.type=='classic'">

					<h2>{{ 'POIS.DESIGN' | translate }}</h2>

					<md-input-container flex>
						<label>{{ 'ADMIN.DESIGN.ALIGN' | translate}}</label>
						<md-select ng-model="vm.align" ng-change="vm.updateClassicAlign()">
							<md-option value="left">{{ 'COMMON.LEFT' | translate}}</md-option>
							<md-option value="center">{{ 'COMMON.CENTER' | translate}}</md-option>
							<md-option value="right">{{ 'COMMON.RIGHT' | translate}}</md-option>
						</md-select>
					</md-input-container>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.IMAGE_GALLERY.MAX_WIDTH' | translate }}</label>
						<input ng-model="vm.module.data.css.classic.image.maxWidth" name="design_item_max_width" units-input allowed="%,px" >
					</md-input-container>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.IMAGE_GALLERY.ENTRY_SPACING' | translate }}</label>
						<input ng-model="vm.module.data.css.classic.inner.marginBottom" name="design_spacing" units-input>
					</md-input-container>

				</div>

				<div ng-if="vm.module.data.type=='classic'">

					<h2>{{ 'COMMON.CAPTION' | translate}}</h2>

					<div md-color-picker ng-model="vm.module.data.css.classic.caption.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}"></div>

					<div layout="row">

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'STYLES.FONT_SIZE' | translate}}</label>
							<input ng-model="vm.module.data.css.classic.caption.fontSize" name="design_font_size" units-input>
						</md-input-container>

					</div>

				</div>

				<div ng-if="vm.module.data.type=='slider'">

					<h2>{{ 'MODULES.IMAGE_GALLERY.SLIDER_SETTINGS' | translate}}</h2>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'STYLES.HEIGHT' | translate}}</label>
						<input ng-model="vm.module.data.css['swiper-container'].height" units-input>
					</md-input-container>

					<div class="setting" layout="row">

						<span flex>
							{{ 'MODULES.IMAGE_GALLERY.SLIDER_PROGRESS' | translate}}
						</span>

						<md-radio-group ng-model="vm.module.data.css.swiper.pagination.display" flex layout="row">
							<md-radio-button value="inherit" flex>{{ 'MODULES.IMAGE_GALLERY.DISPLAY' | translate}}</md-radio-button>
							<md-radio-button value="none" flex>{{ 'MODULES.IMAGE_GALLERY.HIDE' | translate}}</md-radio-button>
						</md-radio-group>
					</div>

					<div class="setting" layout="row">

						<span flex>
							{{ 'MODULES.IMAGE_GALLERY.SLIDER_CONTROL' | translate}}
						</span>

						<md-radio-group ng-model="vm.module.data.css.swiper.buttons.display" flex layout="row">
							<md-radio-button value="inherit" flex>{{ 'MODULES.IMAGE_GALLERY.DISPLAY' | translate}}</md-radio-button>
							<md-radio-button value="none" flex>{{ 'MODULES.IMAGE_GALLERY.HIDE' | translate}}</md-radio-button>
						</md-radio-group>

					</div>

				</div>

				<div ng-if="vm.module.data.type=='grid'">

					<h2>{{ 'MODULES.IMAGE_GALLERY.GRID_SETTINGS' | translate}}</h2>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.IMAGE_GALLERY.GRID_COLUMNS' | translate}}</label>
						<input ng-model="vm.module.data.columns" type="number" max="5" min="2">
					</md-input-container>

					<md-checkbox class="md-block participation" ng-model="vm.module.data.show_caption">
						<span>{{ 'MODULES.IMAGE_GALLERY.GRID_SHOW_CAPTION' | translate }}</span>
					</md-checkbox>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.IMAGE_GALLERY.GRID_ELEMENT_MARGIN' | translate}}</label>
						<input ng-model="vm.module.data.css.grid.element.margin" units-input>
					</md-input-container>

				</div>

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<background-design ng-model="vm.module.data.css.wrapper"></background-design>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.module.data.html_id" maxlength="100">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.module.data.html_classes" maxlength="255">
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
	  		</md-button>
	  		<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
