
login-form {

	.warn{
		text-align: justify;
		color: red;
		font-weight: bold;
		padding: 0 5px;
	}

	.browser-notice {
		margin: 20px;
		padding: 20px;
		background: $primaryLighten2;
		text-align: center;
		color: #fff;
		font-size: 20px;
		font-weight: 500;
	}

	a {
		text-align: center;
	}

	.resend-link {
		margin-top: 6px;
	}

}
