
<div layout="column" class="public-form">

	<form ng-submit="vm.login()" ng-if="vm.isCompatible" layout="column">

		<md-input-container>
			<label>{{ 'COMMON.EMAIL' | translate }}</label>
			<input type="email" ng-model="vm.email" required ng-minlength="8">
		</md-input-container>

		<md-input-container>
			<label>{{ 'PUBLIC.LOGIN_PASSWORD' | translate }}</label>
			<input type="password" ng-model="vm.password" required>
		</md-input-container>

		<div ng-if="vm.wrongPassword || vm.lockedAccount">
			<div ng-if="vm.wrongPassword" class="warn space">{{ 'LOGIN.INVALID_PASSWORD' | translate }}</div>
			<div ng-if="vm.lockedAccount" layout="column">
				<div class="warn space">{{ 'LOGIN.UNLOCK_ACCOUNT' | translate }}</div>
				<a class="space resend-link" href="{{ vm.unlockLink }}">{{ 'LOGIN.RESEND_EMAIL' | translate }}</a>
			</div>
		</div>

		<md-button type="submit" class="md-primary md-raised" flex>{{ 'PUBLIC.LOGIN' | translate }}</md-button>

	</form>

	<div ng-if="!vm.isCompatible" class="browser-notice">
		{{ 'PUBLIC.IE_NOTICE' | translate}}
	</div>

</div>
