<div ng-cloak>

	<md-content class="sb-boxshadow wrapper">

		<div ng-if="vm.tenantLoaded">

			<md-nav-bar md-selected-nav-item="vm.currentNavItem">

				<md-nav-item md-nav-click="goto('general')" name="general">{{ 'ADMIN.SETTINGS.GENERAL' | translate }}</md-nav-item>
				<md-nav-item md-nav-click="goto('imprint')" name="imprint">{{ 'ADMIN.SETTINGS.IMPRINT' | translate }}</md-nav-item>

			</md-nav-bar>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'general'">

				<h1>{{ 'TENANTS.LOGO' | translate }}</h1>

				<div layout="row" layout-align="start center">

					<image-selection ng-model="vm.$localStorage.tenantChanges.logo_settings.id" with-preview="true" on-clear="vm.clear()" on-select="vm.settingsChanged()"></image-selection>

				</div>

				<h1>{{ 'COMMON.URL' | translate }}</h1>

				<div layout-gt-sm="row">

					<md-input-container class="md-block" flex>
						<label>{{ 'TENANTS.CSS_URL' | translate }}</label>
						<input name="css" type="text" ng-model="vm.$localStorage.tenantChanges.css" ng-change="vm.settingsChanged();">
					</md-input-container>

				</div>

				<h1>{{ 'COMMON.GOOGLE_ANALYTICS' | translate }}</h1>

				<div layout-gt-sm="row">

					<md-input-container class="md-block" flex="50">
						<label>{{ 'GOOGLE_ANALYTICS.TRACKING_ID' | translate }}</label>
						<input name="ga_tracking_id" type="text" ng-model="vm.$localStorage.tenantChanges.ga_tracking_id" ng-change="vm.settingsChanged();">
					</md-input-container>

					<md-input-container class="md-block" flex="50">
						<label>{{ 'GOOGLE_ANALYTICS.UTM_SOURCE' | translate }}</label>
						<input name="ga_utm_source" type="text" ng-model="vm.$localStorage.tenantChanges.ga_utm_source" ng-change="vm.settingsChanged();">
					</md-input-container>

				</div>

			</md-content>

			<md-content class="md-padding tab-content" ng-show="vm.currentNavItem == 'imprint'">

				<h2>{{ 'ADMIN.SETTINGS.COPYRIGHT' | translate }}</h2>

				<div layout="row">

					<md-input-container class="md-block copyright-input">
						<label>{{ 'ADMIN.SETTINGS.COPYRIGHT_LABEL' | translate }}</label>
						<input name="logo" type="text" ng-model="vm.$localStorage.tenantChanges.copyright_label" ng-change="vm.settingsChanged();">
					</md-input-container>

					<div class="copyright-preview">
						<b>{{ 'COMMON.PREVIEW' | translate }}:</b> &copy; 2017 <span ng-if="vm.$localStorage.tenantChanges.copyright_label != ''">{{vm.$localStorage.tenantChanges.copyright_label}}</span><span ng-if="vm.$localStorage.tenantChanges.copyright_label == ''">{{vm.$localStorage.tenantChanges.name}}</span>
					</div>

				</div>

				<h2>{{ 'ADMIN.SETTINGS.IMPRINT' | translate }}</h2>

				<text-angular ng-model="vm.$localStorage.tenantChanges.imprint" ta-toolbar="[['h1','h2','h3', 'p'], ['insertLink'],['bold','italics', 'underline'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['ul', 'ol'], ['redo', 'undo']]" ng-change="vm.settingsChanged();"></text-angular>

				<h2>{{ 'ADMIN.SETTINGS.PRIVACY' | translate }}</h2>

				<text-angular ng-model="vm.$localStorage.tenantChanges.privacy" ta-toolbar="[['h1','h2','h3', 'p'], ['insertLink'],['bold','italics', 'underline'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['ul', 'ol'], ['redo', 'undo']]" ng-change="vm.settingsChanged();"></text-angular>

			</md-content>

		</div>

		<spinner ng-if="!vm.tenantLoaded"></spinner>

	</md-content>

</div>