
settings {

	.wrapper {
		background: #fff;
	}

	.tab-content {
		background: #fff;
	}

	.logo-preview {
		margin: 0 20px;
		height: 70px;
	}

	.copyright-input {
		margin: 0 20px 0 0;
		width: 330px;
	}

	.copyright-preview {
		padding: 10px 0 0 0;
	}

	image-preview {

		.image-container {
			width: 100px;
			height: 100px;
		}

	}

}