
<div ng-if="vm.appLoaded">
    <apps-form app="vm.app"></apps-form>
</div>
<div ng-if="!vm.appLoaded" layout="row" layout-align="center center">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
