
@mixin boxshadow(){
	-webkit-box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
	box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
}

@mixin remove-tap-highlight(){
	outline: none;
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@mixin fade($duration: 0.1s){
	-webkit-transition: all $duration ease-in-out;
	   -moz-transition: all $duration ease-in-out;
	        transition: all $duration ease-in-out;
}

@mixin no-select {
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	   -moz-transform: $transforms;
	    -ms-transform: $transforms;
	     -o-transform: $transforms;
	        transform: $transforms;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	    -ms-transition: $transition;
	     -o-transition: $transition;
	        transition: $transition;
}

@mixin animation($animation) {
	-webkit-animation: $animation;
	   -moz-animation: $animation;
	    -ms-animation: $animation;
	     -o-animation: $animation;
	        animation: $animation;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-ms-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
