@import "./angular/scss/_themes.scss";

md-dialog {

	&.max-width-dialog {
		max-width: 450px;
	}

	&.md-dialog-fullscreen {
		width: 80%;
		max-width: 1024px !important;
	}

	md-toolbar {
		background-color: $backgroundDarken3 !important;
		color: white !important;
		md-icon {
			color: white !important;
		}
	}

	.md-toolbar-tools {

		.module-icon {
			margin: 0 10px 0 0;
		}

	}

	&.fullscreen-dialog {
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		border-radius: 0;
	}


	&.default-height-dialog {

		md-dialog-content {
			height: 50vh;
		}

		.dialog-has-no-navigation {
			height: calc(50vh + 48px);
		}

	}

	&.module-dialog {

		md-dialog-content {
			height: 50vh;
		}

		.dialog-has-no-navigation {
			height: calc(50vh + 48px);
		}

		.md-dialog-content {

			h2 {
				margin: 0 0 10px 0;
				font-weight: 500;
				font-size: 18px;
			}

			md-slider-container {

				span {
					width: 100px;
					line-height: 48px;
					font-weight: 500;
				}

				md-input-container {
					margin-right: 15px;
					width: 85px;
				}

			}

		}

	}

}