$green: #4caf50;
$orange: #ff9800;

html,
body {
	overflow: hidden !important;
	background: #f6f6f6 !important;
}

.Page-container {
	background: #f6f6f6 !important;
}

.sb-boxshadow {
	-webkit-box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
	box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
}

.default-format {
	padding: 20px;
	background-color: white;
}

.white-bkg {
	background-color: white;
}

.time-picker {
	cursor: pointer;
}

.error {
	color:$warn;
}

.success {
	color: $green;
}
