
.public-form-container {

	box-shadow: 3px 3px 15px #282828;
	background-color: #FFF;
	padding: 80px 100px;

	.md-headline {
		padding-bottom:10px;
	}

	.change-page-link {
		margin-top: 40px;
	}

	a {
		color: #282828;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}		

}

.public-form {

	width: 300px;

	md-input-container{
		margin-top: 0px;
		margin-bottom: 10px;
	}

	button.md-button {
		margin-left: 2px;
		margin-right: 2px;
	}

	.space {
		margin-bottom: 10px;
	}

}
