@import "./angular/scss/_themes.scss";

text-angular {

	.ta-toolbar {

		padding: 10px;
		background: $backgroundDarken3;
		border-radius: 5px 5px 0 0;

		.btn-group {

			padding: 0 15px 0 0;
			display: inline-block;

			button {

				margin: 0 2px;
				padding: 5px 8px;
				border: none;
				border-radius: 5px;
				background: transparent;
				color: #fff;
				cursor: pointer;

				&:hover {
					background: #1e202c;
				}

				&.active {
					background: #1e202c;
				}

			}

		}

	}

	.ta-scroll-window {
		border: 1px solid #e1e1e1;
		border-radius: 0 0 5px 5px;
	}

	&.focussed {

		.ta-scroll-window {
			box-shadow: none !important;
			border-color: #e1e1e1 !important;
		}

	}

}