image-preview {

	/*
	width: 100%;
	height: 100%;
	*/
	display: inline-block;

	.image-container {
		min-width: 50px;
		min-height: 50px;
		max-width: 200px;
		max-height: 200px;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.backend-container {
		background-size: contain;

	}

	.crop-container {
		background-size: cover;
	}

	.no-image {
		background: #f6f6f6;
	}

	spinner {
		max-width: 100%;
		max-height: 100%;
	}

}