
<div ng-style="{'background-image': 'url(\'' + vm.url + '\')'}" ng-if="vm.imageId && vm.imageLoaded && vm.alreadyResized" class="image-container backend-container"></div>

<div ng-style="{'background-image': 'url(\'' + vm.url + '\')'}" ng-if="vm.imageId && vm.imageLoaded && !vm.alreadyResized" class="image-container crop-container"></div>

<div class="image-container no-image" ng-if="!vm.imageId" layout="row" layout-align="center center">
	<md-icon class="material-icons">panorama</md-icon>
</div>

<div class="image-container" ng-if="vm.imageId && !vm.imageLoaded" layout="row" layout-align="center center">
	<spinner></spinner>
</div>