
<div id="background_design_component" layout="column" name="background-design-component-form">

	<md-toolbar layout="row" layout-align="start center">

		<div class="md-toolbar-tools">
			<h2 class="setting-headline">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.BACKGROUND' | translate }}</h2>
		</div>

	</md-toolbar>

	<md-tabs md-selected="vm.navIndex" md-strech-tabs="always" md-dynamic-height="true" md-border-bottom="true">
		<md-tab>
			<md-tab-label>
				{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.TYPE.COLOR' | translate }}
			</md-tab-label>
			<md-tab-body>
				<div layout="row" layout-align="center center" ng-show="vm.colorData.active">
					<div class="image-preview" style="{{'background:' + vm.colorStyle}}">&nbsp;</div>
				</div>

				<div layout="row">
					<md-switch ng-model="vm.colorData.active" ng-change="vm.onChange()">
						<span ng-show="vm.colorData.active">{{ 'COMMON.DEACTIVATE' | translate }}</span>
						<span ng-show="!vm.colorData.active">{{ 'COMMON.ACTIVATE' | translate }}</span>
					</md-switch>
				</div>

				<div ng-show="vm.colorData.active">
					<div class="color-picker" md-color-picker ng-model="vm.colorData.color" md-color-material-palette="false" label="{{ 'STYLES.BACKGROUND_COLOR' | translate }}" ng-change="vm.onChange()"></div>
				</div>
			</md-tab-body>
		</md-tab>

		<md-tab>
			<md-tab-label>
				{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.TYPE.IMAGE' | translate }}
			</md-tab-label>
			<md-tab-body>
				<div layout="row" layout-align="center center" ng-show="vm.imageData.active">
					<!-- no image -->
					<div class="image-preview" ng-if="!vm.imageStyle || vm.imageData.invalid" layout="row" layout-align="center center"><md-icon class="material-icons">panorama</md-icon></div>
					<!-- loading indicator -->
					<div class="image-preview" ng-if="!(!vm.imageStyle || vm.imageData.invalid) && vm.imageData.loading" layout="row" layout-align="center center"><spinner></spinner></div>
					<!-- actual image -->
					<div class="image-preview" ng-if="!(!vm.imageStyle || vm.imageData.invalid || vm.imageData.loading)" style="{{'background:' + vm.imageStyle}}">&nbsp;</div>
				</div>

				<div layout="row">
					<md-switch ng-model="vm.imageData.active" ng-change="vm.onChange()">
						<span ng-show="vm.imageData.active">{{ 'COMMON.DEACTIVATE' | translate }}</span>
						<span ng-show="!vm.imageData.active">{{ 'COMMON.ACTIVATE' | translate }}</span>
					</md-switch>
				</div>

				<div ng-show="vm.imageData.active">

					<div layout="row" layout-align="start center">

						<span class="description-label">{{ 'COMMON.IMAGE' | translate }}</span>

						<image-selection ng-model="vm.imageData.id" ng-change="vm.onChange()"></image-selection>

					</div>

					<div layout="row" layout-align="start center">

						<span class="description-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.REPEAT' | translate }}</span>

						<md-input-container flex>
							<label>{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.REPEAT_X' | translate }}</label>
							<md-select ng-model="vm.imageData.repeat1" ng-change="vm.onChange()" flex>
								<md-option ng-value="'repeat'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.REPEAT_VALUE.REPEAT' | translate }}</md-option>
								<!-- not supported by all browsers ?
								<md-option ng-value="'space'">space</md-option>
								<md-option ng-value="'round'">round</md-option>
								-->
								<md-option ng-value="'no-repeat'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.REPEAT_VALUE.NO_REPEAT' | translate }}</md-option>
							</md-select>
						</md-input-container>

						<md-input-container flex>
							<label>{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.REPEAT_Y' | translate }}</label>
							<md-select ng-model="vm.imageData.repeat2" ng-change="vm.onChange()" flex>
								<md-option ng-value="'repeat'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.REPEAT_VALUE.REPEAT' | translate }}</md-option>
								<!-- not supported by all browsers ?
								<md-option ng-value="'space'">space</md-option>
								<md-option ng-value="'round'">round</md-option>
								-->
								<md-option ng-value="'no-repeat'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.REPEAT_VALUE.NO_REPEAT' | translate }}</md-option>
							</md-select>
						</md-input-container>

					</div>

					<div layout="row" layout-align="start center">

						<span class="description-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION' | translate }}</span>

						<md-input-container flex>
							<label>{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_X' | translate }}</label>
							<md-select ng-model="vm.imageData.position1" ng-change="vm.onChange()" flex>
								<md-option ng-value="'center'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.CENTER' | translate }}</md-option>
								<md-option ng-value="'left'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.LEFT' | translate }}</md-option>
								<md-option ng-value="'right'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.RIGHT' | translate }}</md-option>
							</md-select>
						</md-input-container>

						<md-input-container flex>
							<label>{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_Y' | translate }}</label>
							<md-select ng-model="vm.imageData.position2" ng-change="vm.onChange()" flex>
								<md-option ng-value="'center'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.CENTER' | translate }}</md-option>
								<md-option ng-value="'top'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.TOP' | translate }}</md-option>
								<md-option ng-value="'bottom'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.BOTTOM' | translate }}</md-option>
							</md-select>
						</md-input-container>

					</div>

					<div layout="row" layout-align="start center">

						<span class="description-label">{{ 'COMMON.SIZE' | translate }}</span>

						<md-input-container flex>
							<label>{{ 'COMMON.SIZE' | translate }}</label>
							<md-select ng-model="vm.imageData.size" ng-change="vm.onChange()" flex>
								<md-option ng-value="'auto auto'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.SIZE_VALUE.AUTO' | translate }}</md-option>
								<md-option ng-value="'contain'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.SIZE_VALUE.CONTAIN' | translate }}</md-option>
								<md-option ng-value="'cover'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.SIZE_VALUE.COVER' | translate }}</md-option>
							</md-select>
						</md-input-container>

					</div>

				</div>
			</md-tab-body>
		</md-tab>

		<md-tab>
			<md-tab-label>
				{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.TYPE.GRADIENT' | translate }}
			</md-tab-label>
			<md-tab-body>
				<div layout="row" layout-align="center center" ng-show="vm.gradientData.active">
					<div class="image-preview" style="{{'background:' + (vm.gradientStyle ? vm.gradientStyle : '')}}">&nbsp;</div>
				</div>

				<div layout="row">
					<md-switch ng-model="vm.gradientData.active" ng-change="vm.onChange()">
						<span ng-show="vm.gradientData.active">{{ 'COMMON.DEACTIVATE' | translate }}</span>
						<span ng-show="!vm.gradientData.active">{{ 'COMMON.ACTIVATE' | translate }}</span>
					</md-switch>
				</div>

				<div ng-show="vm.gradientData.active">

					<div layout="row" layout-align="start center">

						<span class="description-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.TYPE.GRADIENT' | translate }}</span>

						<md-input-container flex>
							<label>{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.TYPE_DESCRIPTION' | translate }}</label>
							<md-select ng-model="vm.gradientData.type" ng-change="vm.onGradientTypeChange(); vm.onChange();">
								<md-option ng-value="'linear'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.TYPE.LINEAR' | translate }}</md-option>
								<md-option ng-value="'radial'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.TYPE.RADIAL' | translate }}</md-option>
							</md-select>
						</md-input-container>

					</div>

					<div layout="row" layout-align="start center">

						<span class="description-label">{{ 'ADMIN.DESIGN.COLORS' | translate }}</span>

						<div class="color-picker" md-color-picker ng-model="vm.gradientData.stop1.color" md-color-material-palette="false" label="{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.FIRST_COLOR' | translate }}" ng-change="vm.onChange()" flex></div>

						<div class="color-picker" md-color-picker ng-model="vm.gradientData.stop2.color" md-color-material-palette="false" label="{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.SECOND_COLOR' | translate }}" ng-change="vm.onChange()" flex></div>

					</div>

					<div flex layout="row" layout-align="start center" ng-show="vm.gradientData.type == 'linear'">
						<span class="description-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.ANGLE' | translate }}</span>
						<md-slider step="1" min="-180" max="180" ng-model="vm.gradientData.degree" md-discrete flex ng-change="vm.onChange()"></md-slider>
						<span class="percentage">{{ vm.gradientData.degree }} &deg;</span>
					</div>

					<div layout="row" layout-align="start center" ng-show="vm.gradientData.type == 'radial'">

						<span class="description-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION' | translate }}</span>

						<md-select ng-model="vm.gradientData.position1" ng-change="vm.onChange()" flex>
							<md-option ng-value="'center'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.CENTER' | translate }}</md-option>
							<md-option ng-value="'left'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.LEFT' | translate }}</md-option>
							<md-option ng-value="'right'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.RIGHT' | translate }}</md-option>
						</md-select>

						<md-select ng-model="vm.gradientData.position2" ng-change="vm.onChange()" flex>
							<md-option ng-value="'center'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.CENTER' | translate }}</md-option>
							<md-option ng-value="'top'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.TOP' | translate }}</md-option>
							<md-option ng-value="'bottom'">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.POSITION_VALUE.BOTTOM' | translate }}</md-option>
						</md-select>

					</div>

					<div layout="row">

						<div flex layout="row" layout-align="start center">
							<span class="description-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.START_POSITION' | translate }}</span>
							<md-slider step="1" min="0" max="{{ vm.gradientData.stop2.percentage?vm.gradientData.stop2.percentage:100}}" ng-model="vm.gradientData.stop1.percentage" md-discrete flex ng-change="vm.onChange()"></md-slider>
							<span class="percentage">{{ vm.gradientData.stop1.percentage }} %</span>
						</div>

					</div>

					<div layout="row">

						<div flex layout="row" layout-align="start center">
							<span class="description-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.END_POSITION' | translate }}</span>
							<md-slider step="1" min="{{ vm.gradientData.stop1.percentage?vm.gradientData.stop1.percentage:0}}" max="100" ng-model="vm.gradientData.stop2.percentage" md-discrete flex ng-change="vm.onChange()"></md-slider>
							<span class="percentage">{{ vm.gradientData.stop2.percentage }} %</span>
						</div>

					</div>

				</div>
			</md-tab-body>
		</md-tab>
	</md-tabs>


</div>