
background-design {

	width: 600px;
	max-width: 100%;
	display: block;

	// is artificially added by md-tabs
	md-tab-content {
		padding: 5px 20px;
	}

	#background_design_component {
		border: 1px solid rgba(0, 0, 0, 0.54);
		//padding: 20px;
	}

	.type-selection {
		margin: 35px 0;
	}

	.description-label {
		width: 150px;
	}

	.percentage {
		width: 60px;
		text-align: right;
	}

	.image-preview{
		margin: 10px;
		border: 1px solid rgba(0, 0, 0, 0.54);
		height: 100px;
		width: 100px;
	}

	.setting-headline {
		margin: 0 !important;
	}

}
