.module-dialog {

	&.video-module {

		video {
			height: 100px;
		}

		.id-text {
			margin-top: 15px;
		}

		.info {
			padding: 15px 0;
		}

		.subtype-selection {
			height: 80px;

			&.video-settings {
				height: 100px;
				margin-bottom: 20px;
			}
		}

		.warn {
			color: $warn;
			font-weight: bold;
		}

		.url-input {
			margin-right: 20px;
		}

	}

}
