<md-dialog class="module-dialog video-module">

	<form ng-submit="video_module_dialog_form.$valid && vm.save()" name="video_module_dialog_form" id="video_module_dialog_form">

		<md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('general')" name="general">{{ 'POIS.GENERAL' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

		<md-dialog-content>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'general'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
					<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
				</md-input-container>

				<md-input-container class="md-block">

					<label>{{ 'COMMON.TYPE' | translate}}</label>

					<md-select ng-model="vm.module.data.type">
						<md-option value="youtube">{{ 'MODULES.VIDEO.YOUTUBE' | translate}}</md-option>
						<md-option value="vimeo">{{ 'MODULES.VIDEO.VIMEO' | translate}}</md-option>
						<md-option value="html5">{{ 'COMMON.CUSTOM' | translate}}</md-option>
					</md-select>

				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm ng-if="vm.module.data.type == 'youtube'">
					<label>{{ 'MODULES.VIDEO.YOUTUBE_URL' | translate}}</label>
					<input ng-model="vm.module.data.url" name="data_youtube_url" required>
				</md-input-container>

				<ng-youtube-embed ng-if="vm.module.data.type == 'youtube'" video="vm.module.data.url"></ng-youtube-embed>

				<md-input-container class="md-block" flex-gt-sm ng-if="vm.module.data.type == 'vimeo'">
					<label>{{ 'MODULES.VIDEO.VIMEO_URL' | translate}}</label>
					<input ng-model="vm.module.data.url" ng-change="vm.onChange()" name="data_vimeo_url" required>
				</md-input-container>

				<div ng-if="vm.module.data.type == 'vimeo'" >
					<div class="warn" ng-if="vm.invalidVimeoURL">
						{{ 'MODULES.VIDEO.INVALID_VIMEO_URL' | translate}}
					</div>

					<vimeo ng-if="!vm.invalidVimeoURL" settings="vm.vimeoConfig"></vimeo>
				</div>

				<div class="html5-selection" ng-if="vm.module.data.type == 'html5'">

					<h2 class="info">{{ 'MODULES.VIDEO.DIFFERENT_FORMATS' | translate }}</h2>

					<div class="subtype-selection video-settings" layout="row">

						<md-radio-group ng-model="vm.module.data.webm_type" flex="20">
							<md-radio-button value="id">{{ 'MODULES.VIDEO.WEBM_ID' | translate}}</md-radio-button>
							<md-radio-button value="url">{{ 'MODULES.VIDEO.WEBM_URL' | translate}}</md-radio-button>
						</md-radio-group>

						<div ng-if="vm.module.data.webm_type == 'id'" flex layout="row">

							<div>
								<md-button ng-click="vm.selectVideo('webm')" flex-gt-sm class="md-raised" class="video-button">{{ 'MODULES.VIDEO.SELECT_VIDEO' | translate}}</md-button>
								<input type="hidden" ng-model="vm.module.data.webm_id">
							</div>

							<div flex ng-if="vm.module.data.webm_id" class="id-text">
								{{ 'MODULES.VIDEO.NAME' | translate }}&nbsp;{{ vm.videoNameWEBM }}
							</div>

							<div flex ng-if="!vm.module.data.webm_id" class="id-text">
								{{ 'MODULES.VIDEO.NO_VIDEO_CHOSEN' | translate }}
							</div>

							<div ng-if="vm.module.data.type == 'html5' && vm.module.data.webm_id != null">

								<video controls="true" >
									<source  ng-src="{{ vm.getMediaUrlById(vm.module.data.webm_id) }}" type="video/webm">
									{{ 'MODULES.VIDEO.VIDEO_NOT_SUPPORTED' | translate }}
								</video>

							</div>

						</div>

						<div ng-if="vm.module.data.webm_type == 'url'" flex layout="row">

							<md-input-container class="url-input" flex class="md-block" flex-gt-sm>
								<label>{{ 'MODULES.VIDEO.WEBM_URL' | translate}}</label>
								<input ng-model="vm.module.data.webm_url" name="data_webm_url" required>
							</md-input-container>

							<div ng-if="vm.module.data.type == 'html5' && vm.module.data.webm_id != null">

								<video controls="true" >
									<source  ng-src="{{ vm.getMediaUrlByUrl(vm.module.data.webm_url) }}" type="video/webm">
									{{ 'MODULES.VIDEO.VIDEO_NOT_SUPPORTED' | translate }}
								</video>

							</div>

						</div>

					</div>

					<div class="subtype-selection video-settings" layout="row">

						<md-radio-group ng-model="vm.module.data.mp4_type" flex="20">
							<md-radio-button value="id">{{ 'MODULES.VIDEO.MP4_ID' | translate}}</md-radio-button>
							<md-radio-button value="url">{{ 'MODULES.VIDEO.MP4_URL' | translate}}</md-radio-button>
						</md-radio-group>

						<div ng-if="vm.module.data.mp4_type == 'id'" flex layout="row">

							<div>
								<md-button ng-click="vm.selectVideo('mp4')" flex-gt-sm class="md-raised" class="video-button">{{ 'MODULES.VIDEO.SELECT_VIDEO' | translate}}</md-button>
								<input type="hidden" ng-model="vm.module.data.mp4_id">
							</div>

							<div flex ng-if="vm.module.data.mp4_id" class="id-text">
								{{ 'MODULES.VIDEO.NAME' | translate }}&nbsp;{{ vm.videoNameMP4 }}
							</div>

							<div flex ng-if="!vm.module.data.mp4_id" class="id-text">
								{{ 'MODULES.VIDEO.NO_VIDEO_CHOSEN' | translate }}
							</div>

							<div ng-if="vm.module.data.type == 'html5' && vm.module.data.mp4_id != null">

								<video controls="true" >
									<source  ng-src="{{ vm.getMediaUrlById(vm.module.data.mp4_id) }}" type="video/mp4">
									{{ 'MODULES.VIDEO.VIDEO_NOT_SUPPORTED' | translate }}
								</video>

							</div>

						</div>

						<div ng-if="vm.module.data.mp4_type == 'url'" flex layout="row">

							<md-input-container class="url-input" flex class="md-block">
								<label>{{ 'MODULES.VIDEO.MP4_URL' | translate}}</label>
								<input ng-model="vm.module.data.mp4_url" name="data_mp4_url" required>
							</md-input-container>

							<div ng-if="vm.module.data.type == 'html5' && vm.module.data.mp4_url != null">

								<video controls="true" >
									<source  ng-src="{{ vm.getMediaUrlByUrl(vm.module.data.mp4_url) }}" type="video/mp4">
									{{ 'MODULES.VIDEO.VIDEO_NOT_SUPPORTED' | translate }}
								</video>

							</div>

						</div>

					</div>

				</div>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<background-design ng-model="vm.module.data.css.wrapper"></background-design>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.module.data.html_id" maxlength="100">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.module.data.html_classes" maxlength="255">
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
	  		</md-button>
	  		<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
