<md-dialog class="module-dialog">

	<form ng-submit="divider_module_dialog_form.$valid && vm.save()" name="divider_module_dialog_form" id="divider_module_dialog_form">

		<md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

		<md-dialog-content>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
					<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
				</md-input-container>

				<h2>Divider</h2>

				<label>{{ 'POIS.LINE_VISIBILITY' | translate}}</label>
				<md-switch class="md-block" ng-model="vm.module.data.line" ng-change="vm.settingsChanged();">
					<span ng-if="!vm.module.data.line">{{ 'COMMON.INVISIBLE' | translate }}</span>
					<span ng-if="vm.module.data.line">{{ 'COMMON.VISIBLE' | translate }}</span>
				</md-switch>

				<div ng-show="vm.module.data.line">

					<div layout="row">

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'STYLES.DIVIDER_WIDTH' | translate}}</label>
							<input ng-model="vm.module.data.css.divider.width" name="design_divider_width" units-input>
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'STYLES.DIVIDER_HEIGHT' | translate}}</label>
							<input ng-model="vm.module.data.css.divider.borderWidth" name="design_border_width" units-input>
						</md-input-container>

					</div>

					<div md-color-picker ng-model="vm.module.data.css.divider.borderColor" md-color-material-palette="false" label="{{'STYLES.DIVIDER_COLOR' | translate}}"></div>

				</div>

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<background-design ng-model="vm.module.data.css.wrapper"></background-design>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.module.data.html_id" maxlength="100">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.module.data.html_classes" maxlength="255">
				</md-input-container>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
	  		</md-button>
	  		<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
