<md-content class="sb-boxshadow url-access-wrapper" layout="column">
	<div class="touchpoint-select">
		<md-input-container class="md-block" flex-gt-sm>
			<label>{{ 'COMMON.TOUCHPOINT' | translate }}</label>
			<md-select ng-model="vm.selectedTouchpoint" ng-change="vm.updateChart(vm.selectedTouchpoint)">
				<md-option ng-repeat="touchpoint in vm.touchpoints" ng-value="touchpoint">
					{{touchpoint.name}}
				</md-option>
			</md-select>
		</md-input-container>
	</div>
	<line-chart type="'seven-day-url-access'" days="7" flex="50"></line-chart>
	<line-chart type="'four-weeks-url-access'" days="28" flex="50"></line-chart>
</md-content>
