<md-dialog class="module-dialog">

	<form ng-submit="vag_module_dialog_form.$valid && vm.save()" name="vag_module_dialog_form" id="vag_module_dialog_form">

		<md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-dialog-content class="dialog-has-no-navigation">

			<div class="md-dialog-content">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
					<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
				</md-input-container>


				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'MODULES.VAG.SEARCH_STOP' | translate}}</label>
					<md-icon class="material-icons">search</md-icon>
					<input ng-model="vm.search" md-maxlength="255" name="module_label" ng-change="vm.loadStopData()" ng-model-options="{ debounce: 350 }">
				</md-input-container>

				<md-select ng-model="vm.module.data.stop_id" placeholder="{{ 'MODULES.VAG.SELECT_STOP' | translate}}" ng-change="vm.onChange()">

					<md-option ng-repeat="stop in vm.stops" ng-value="stop.VGNKennung">
						{{ stop.Haltestellenname }}
					</md-option>

				</md-select>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
	  		</md-button>
	  		<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
