<div class="sb-boxshadow white-bkg">

	<md-nav-bar md-selected-nav-item="vm.currentNavItem">
		<md-nav-item md-nav-click="goto('plans')" name="plans">{{ 'SUBSCRIPTION.SUBSCRIPTION' | translate }}</md-nav-item>
		<md-nav-item md-nav-click="goto('billing'); vm.loadInvoices();" name="billing" ng-if="vm.showBilling">{{ 'COMMON.BILLING' | translate }}</md-nav-item>
		<md-nav-item md-nav-click="goto('settings')" name="settings">{{ 'COMMON.SETTINGS' | translate }}</md-nav-item>
	</md-nav-bar>

	<md-content class="md-padding tab-content white-bkg" ng-show="vm.currentNavItem == 'plans'" layout="row" layout-align="center center">

		<spinner ng-if="vm.loading"></spinner>

		<div layout="column" class="item-container" ng-if="!vm.loading && vm.accountCanceled">

			<div class="item">

				{{ 'SUBSCRIPTION.ACCOUNT_CANCELED' | translate }}

			</div>

		</div>

		<div layout="column" class="item-container" ng-if="!vm.loading && !vm.accountCanceled">

			<div ng-repeat="subscription in vm.subscriptionArray" ng-if="!subscription.taken || subscription.id == vm.currentPlan" class="item" layout="row" layout-align="start center" ng-class="{taken: subscription.taken, 'not-taken': !subscription.taken}">

				<div flex="10">
					<md-button class="md-icon-button" ng-if="subscription.taken" disabled="true">
						<md-icon class="material-icons">check</md-icon>
					</md-button>

					<md-button ng-click="vm.subscribe(subscription.id)" class="md-primary md-raised md-icon-button" ng-if="!subscription.taken">
						<md-tooltip>{{ 'SUBSCRIPTION.UPGRADE_SUBSCRIPTION' | translate }}</md-tooltip>
						<md-icon class="material-icons">arrow_upward</md-icon>
					</md-button>
				</div>

				<div flex="40">
					{{ subscription.name }} - {{ subscription.description }}
				</div>

				<div flex="20" layout="row" layout-align="end center">
					<span>{{ subscription.price_per_month }},00 € {{ 'SUBSCRIPTION.PER_MONTH' | translate }}</span>
					<span><sup>&nbsp;*</sup></span>
				</div>

				<div flex="5">
					&nbsp;
				</div>

				<div flex="28">
					<span ng-if="vm.currentPlan == subscription.id">{{ 'SUBSCRIPTION.CURRENT_PLAN' | translate }}</span>
					<md-button class="md-primary md-raised" ng-if="!subscription.taken" ng-click="vm.subscribe(subscription.id)">
						<md-tooltip>{{ 'SUBSCRIPTION.UPGRADE_SUBSCRIPTION' | translate }}</md-tooltip>
						<md-icon class="material-icons">arrow_upward</md-icon>
						{{ 'SUBSCRIPTION.UPGRADE' | translate }}
					</md-button>
				</div>

			</div>

			<div class="disclaimer">
				* {{ 'SUBSCRIPTION.SUBSCRIPTION_DISCLAIMER' | translate }}
			</div>

		</div>

	</md-content>

	<md-content class="md-padding tab-content white-bkg" ng-show="vm.currentNavItem == 'billing'" layout="row" layout-align="center center">

		<spinner ng-if="vm.loading"></spinner>

		<div layout="column" class="item-container" ng-if="!vm.loading">

			<div class="item" ng-repeat="invoice in vm.invoices" layout="row" layout-align="start center">

				<div layout="column" flex>

					<div layout="row" layout-align="start center" class="item-row">

						<div flex="70">
							{{ 'INVOICES.INVOICE_NUMBER' | translate }} "{{ invoice.id }}"
						</div>

						<div flex="30">
							{{ invoice.period_start | amDateFormat:'DD.MM.YYYY' }} - {{ invoice.period_end | amDateFormat:'DD.MM.YYYY' }}
						</div>

					</div>

					<div layout="row" layout-align="start center" class="item-row">

						<div flex="35">
							{{ 'INVOICES.NET' | translate }} {{ invoice.subtotal | currencyDisplay }}
						</div>

						<div flex="35">
							{{ 'INVOICES.VAT' | translate }} {{ invoice.tax | currencyDisplay }}
						</div>

						<div flex="30" class="total">
							{{ 'INVOICES.TOTAL' | translate }} {{ invoice.total | currencyDisplay }}
						</div>

					</div>

				</div>

				<md-button class="md-primary md-raised" ng-click="vm.downloadInvoicePdf(invoice.id)" ng-disabled="vm.downloadPending == invoice.id">
					<md-tooltip>{{ 'INVOICES.DOWNLOAD_INVOICE' | translate }}</md-tooltip>
					<md-icon class="material-icons">file_download</md-icon>
					{{ 'INVOICES.DOWNLOAD_INVOICE' | translate }}
				</md-button>

			</div>

		</div>

	</md-content>

	<md-content class="md-padding tab-content white-bkg" ng-show="vm.currentNavItem == 'settings'" layout="colun" layout-align="center center">

		<spinner ng-if="vm.loading"></spinner>

		<div layout="column" class="item-container" ng-if="!vm.loading">

			<div class="item" ng-if="vm.accountCanceled">

				{{ 'SUBSCRIPTION.ACCOUNT_CANCELED' | translate }}

			</div>

			<div class="item" ng-if="!vm.accountCanceled">

				{{ 'SUBSCRIPTION.DOWNGRADE_SUBSCRIPTION' | translate }}&nbsp;<a href="mailto:info@proxon.com">info@proxon.com</a>

			</div>

			<div layout="row" layout-align="start center" class="item" ng-if="!vm.accountCanceled && vm.creditCardInfoAvailable">

				<md-button class="md-primary md-raised" ng-click="vm.updateCreditCard()" ng-disabled="vm.updating" flex="35">
					<md-icon class="material-icons">autorenew</md-icon>
					{{ 'SUBSCRIPTION.UPDATE_CREDIT_CARD' | translate }}
				</md-button>

				<span flex="5">&nbsp;</span>

				<table class="info-table">
					<tbody>
						<tr>
							<td>{{ 'SUBSCRIPTION.CURRENT_CARD' | translate }}:</td>
							<td>{{ vm.$localStorage.tenant.card_brand }}</td>
						<tr>
							<td>{{ 'SUBSCRIPTION.LAST_DIGITS' | translate }}:</td>
							<td>{{ vm.$localStorage.tenant.card_last_four }}</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div layout="row" layout-align="start center" class="item" ng-if="!vm.accountCanceled">

				<md-button class="md-warn md-raised" ng-click="vm.cancelSubscription()" flex="35">
					<md-icon class="material-icons">close</md-icon>
					{{ 'SUBSCRIPTION.CANCEL_SUBSCRIPTION' | translate }}
				</md-button>

				<span flex="5">&nbsp;</span>

				<span>{{ 'SUBSCRIPTION.CANCEL_WARNING' | translate }}</span>

			</div>

			<div layout="row" layout-align="start center" class="item">

				<md-button class="md-raised" ng-click="vm.updateInvoiceInformation()" flex="35">
					<md-icon class="material-icons">refresh</md-icon>
					{{ 'SUBSCRIPTION.UPDATE_INVOICE_INFORMATION' | translate }}
				</md-button>

				<span flex="5">&nbsp;</span>

				<span>{{ 'SUBSCRIPTION.UPDATE_INVOICE_INFORMATION' | translate }}</span>

			</div>

		</div>

	</md-content>

</div>
