subscription {

	.item-container {

		width: 100%;
		max-width: 1000px;
		min-width: 700px;
		overflow: auto;

		.item {

			margin: 5px;
			padding: 20px;

			border-bottom: 1px solid rgba(255, 255, 255, 0.9);
			-webkit-box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
			box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);

			button {
				margin: 0;
			}

		}

		.taken {

			color: $green;

			md-icon {
				color: $green;
			}

		}

		.total {
			font-weight: bold;
		}

	}

	.item-row {
		padding: 10px 0;
	}

	.disclaimer {
		margin: 20px 65px 4px;
	}

	.info-table {
		td {
			&:first-of-type {
				padding-right: 20px;
				text-align: right;
			}
		}
	}

}
