<md-content class="Page-container">
	
		<div class="public-form-wrapper" layout="row" layout-align="center center" ng-style="vm.backgroundImage">
	
			<div class="public-form-container" layout="column" layout-align="center center">
	
				<h1 class="md-headline">{{ 'PUBLIC.UNLOCK_ACCOUNT' | translate }}</h1>
	
				<div class="public-form">
					
					<div ng-if="!vm.isValidToken" layout="row" layout-align="center center">
						{{ 'PUBLIC.VERIFY_TOKEN' | translate }}
					</div>
				
					<div ng-if="vm.isValidToken" layout-align="center center">
				
						<div class="locked-info" ng-if="!vm.isUnlocked">
							<div class="message">{{ 'PUBLIC.UNLOCKING' | translate }}</div>
							<i class="material-icons">autorenew</i>
						</div>
				
						<div class="locked-info" ng-if="vm.isUnlocked">
							<div class="message">{{ 'PUBLIC.UNLOCKED' | translate }}</div>
							<i ng-if="vm.isUnlocked" class="material-icons">check</i>
						</div>
				
					</div>
				
				</div>
	
				<a href="#/login" class="change-page-link">{{ 'PUBLIC.BACK_TO_LOGIN' | translate }}</a>
	
			</div>
			
		</div>
		
	</md-content>