
<div id="button_design_component">

	<div class="color-picker" md-color-picker ng-model="vm.ngModel[vm.field].color" md-color-material-palette="false" label="{{ 'STYLES.FONT_COLOR' | translate }}" ng-change="vm.changed()"></div>

	<div layout="row">

		<md-input-container class="md-block">
			<label>{{ 'STYLES.FONT_SIZE' | translate}}</label>
			<input ng-model="vm.ngModel[vm.field]['font-size']" units-input name="design_button_font_size" ng-change="vm.changed()">
		</md-input-container>

	</div>

	<div layout="row">

		<span class="combo-label">{{ 'STYLES.FONT_WEIGHT' | translate }}</span>

		<md-select ng-model="vm.ngModel[vm.field]['font-weight']" ng-change="vm.changed()">
			<md-option ng-value="'normal'">{{ 'STYLES.NORMAL' | translate }}</md-option>
			<md-option ng-value="'bold'">{{ 'STYLES.BOLD' | translate }}</md-option>
		</md-select>

	</div>

	<div layout="row">

		<span class="combo-label">{{ 'STYLES.TEXT_TRANSFORM' | translate }}</span>

		<md-select ng-model="vm.ngModel[vm.field]['text-transform']" ng-change="vm.changed()">
			<md-option ng-value="'initial'">{{ 'STYLES.INITIAL' | translate }}</md-option>
			<md-option ng-value="'uppercase'">{{ 'STYLES.UPPERCASE' | translate }}</md-option>
			<md-option ng-value="'lowercase'">{{ 'STYLES.LOWERCASE' | translate }}</md-option>
		</md-select>

	</div>

	<background-design ng-model="vm.ngModel[vm.field]"></background-design>

	<!--
	<div class="color-picker" md-color-picker ng-model="vm.ngModel[vm.field]['background-color']" md-color-material-palette="false" label="{{ 'STYLES.BACKGROUND_COLOR' | translate }}" ng-change="vm.changed()"></div>
	-->

	<div class="color-picker" md-color-picker ng-model="vm.ngModel[vm.field]['border-color']" md-color-material-palette="false" label="{{ 'STYLES.BORDER_COLOR' | translate }}" ng-change="vm.changed()"></div>

	<div layout="row">

		<md-input-container class="md-block">
			<label>{{ 'STYLES.BORDER_WIDTH' | translate}}</label>
			<input ng-model="vm.ngModel[vm.field]['border-width']" units-input name="design_button_border_width" ng-change="vm.changed()">
		</md-input-container>

		<md-input-container class="md-block">
			<label>{{ 'STYLES.BORDER_RADIUS' | translate}}</label>
			<input ng-model="vm.ngModel[vm.field]['border-radius']" units-input allowed="px,%" name="design_button_border_radius" ng-change="vm.changed()">
		</md-input-container>

	</div>

	<div layout="row">

		<md-input-container class="md-block">
			<label>{{ 'STYLES.PADDING_TOP' | translate}}</label>
			<input ng-model="vm.ngModel[vm.field]['padding-top']" name="design_button_padding_top" units-input ng-change="vm.changed()">
		</md-input-container>

		<md-input-container class="md-block">
			<label>{{ 'STYLES.PADDING_RIGHT' | translate}}</label>
			<input ng-model="vm.ngModel[vm.field]['padding-right']" name="design_button_padding_right" units-input ng-change="vm.changed()">
		</md-input-container>

		<md-input-container class="md-block">
			<label>{{ 'STYLES.PADDING_BOTTOM' | translate}}</label>
			<input ng-model="vm.ngModel[vm.field]['padding-bottom']" name="design_button_padding_bottom" units-input ng-change="vm.changed()">
		</md-input-container>

		<md-input-container class="md-block">
			<label>{{ 'STYLES.PADDING_LEFT' | translate}}</label>
			<input ng-model="vm.ngModel[vm.field]['padding-left']" name="design_button_padding_left" units-input ng-change="vm.changed()">
		</md-input-container>

	</div>

</div>
