<md-dialog class="module-dialog" id="voucher_module_dialog">

    <form ng-submit="voucher_module_dialog_form.$valid && vm.save()" name="voucher_module_dialog_form" id="voucher_module_dialog_form">

        <md-toolbar layout="row" layout-align="start center">

			<div class="md-toolbar-tools">
				<module-icon icon="vm.TenantService.getModuleIcon(vm.module.type)"></module-icon>
				<h2>{{vm.module.label}}</h2>
			</div>

			<span flex></span>

			<md-button class="md-icon-button" ng-if="vm.module.data.errors">
				<md-icon class="material-icons module-error">error</md-icon>
				<md-tooltip md-direction="left">
					{{ 'POIS.MODULE_ERRORS' | translate }}
				</md-tooltip>
			</md-button>

		</md-toolbar>

		<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">

			<md-nav-item md-nav-click="goto('general')" name="general">{{ 'POIS.GENERAL' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('design')" name="design">{{ 'POIS.DESIGN' | translate }}</md-nav-item>
			<md-nav-item md-nav-click="goto('advanced');" name="advanced">{{ 'POIS.ADVANCED' | translate }}</md-nav-item>

		</md-nav-bar>

        <md-dialog-content>

            <div class="md-dialog-content" ng-show="vm.currentNavItem == 'general'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<div layout="column">

					<h2>{{ 'COMMON.GENERAL' | translate }}</h2>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'POIS.MODULE_LABEL' | translate}}</label>
						<input ng-model="vm.module.label" md-maxlength="255" name="module_label" required>
					</md-input-container>

					<md-input-container class="md-block">
						<label>{{ 'MODULES.VOUCHER.DOWNLOAD_BUTTON_TEXT' | translate }}</label>
						<input ng-model="vm.module.data.download_button_text"></input>
					</md-input-container>

					<md-checkbox class="md-block participation" ng-model="vm.module.data.store_participation">
						<span>{{ 'MODULES.VOUCHER.STORE_PARTICIPATION' | translate }}</span>
					</md-checkbox>

					<h2>{{ 'MODULELABEL.VOUCHER' | translate }}</h2>

					<div layout="row">

						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'COMMON.DESCRIPTION' | translate }}</label>
							<textarea ng-model="vm.module.data.description" ng-change="vm.updateVoucherCanvas()" ng-model-options="{ debounce: 500 }"  maxlength="4096"></textarea>
						</md-input-container>

					</div>

					<div layout="row">

						<div layout="column" flex="50">

							<h2>{{ 'MODULES.VOUCHER.VOUCHER_CODE' | translate }}</h2>

							<md-input-container class="md-block">
								<label>{{ 'MODULES.VOUCHER.DURATION' | translate }}</label>
								<input ng-model="vm.module.data.duration" type="number" ng-type="number" min="1" ng-model-options="{ debounce: 500 }" required></input>
							</md-input-container>

						</div>

					</div>

					<h3>{{ 'COMMON.IMAGE' | translate }}</h3>

					<div layout="row" class="container">

						<div flex="33">
							<md-button ng-click="vm.selectImage()" class="md-raised select-button">{{ 'MODULES.SELECT_IMAGE' | translate}}</md-button>
						</div>

						<div ng-if="vm.module.data.image_id" flex="66">
							<image-preview image-id="vm.module.data.image_id"></image-preview>
						</div>

					</div>

					<h3>{{ 'MODULES.VOUCHER.TYPE' | translate }}</h3>

					<div layout="row" class="container">

						<md-radio-group ng-model="vm.module.data.type" class="voucher-type" flex="33" ng-change="vm.updateBarcodeContentType()">
							<md-radio-button value="barcode">{{ 'MODULES.VOUCHER.BARCODE' | translate }}</md-radio-button>
							<md-radio-button value="text">{{ 'MODULES.VOUCHER.TEXT' | translate }}</md-radio-button>
						</md-radio-group>

						<div ng-if="vm.module.data.type=='barcode'" layout="row" flex="66">

							<md-input-container class="md-block" flex-gt-sm class="bc-type">
								<label>{{ 'MODULES.VOUCHER.BARCODE_TYPE' | translate }}</label>
								<md-select ng-model="vm.module.data.bc_type" class="md-no-underline" ng-change="vm.updateBarcodeContentType();">
									<md-option value="qrcode">QR Code</md-option>
									<md-option value="code128">Code128</md-option>
									<md-option value="code39">Code39</md-option>
								</md-select>
							</md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'MODULES.VOUCHER.CODE_CONTENT' | translate }}</label>
								<input ng-model="vm.module.data.bc_content" ng-model-options="{ debounce: 500 }" ng-change="vm.updateBarcodeContentType()" type="{{vm.bcContentType}}" maxlength="128"></input>
							</md-input-container>

						</div>

						<div ng-if="vm.module.data.type=='text'" flex="66">

							<md-input-container class="md-block" flex-gt-sm>
								<label>{{ 'MODULES.VOUCHER.CODE_CONTENT' | translate }}</label>
								<input ng-model="vm.module.data.text_content" ng-change="vm.updateVoucherCanvas()" ng-model-options="{ debounce: 500 }" maxlength="128" required></input>
							</md-input-container>

						</div>

					</div>

					<h3>{{ 'MODULES.VOUCHER.TERMS' | translate }}</h2>

					<md-input-container class="md-block" flex-gt-sm>
						<label>{{ 'MODULES.VOUCHER.TERMS' | translate }}</label>
						<textarea ng-model="vm.module.data.terms" ng-change="vm.updateVoucherCanvas()" ng-model-options="{ debounce: 500 }"></textarea>
					</md-input-container>


					<h3>{{ 'MODULES.VOUCHER.VOUCHER_PREVIEW' | translate }}</h2>

					<div class="voucher-div" id="voucher_canvas">
						<!-- filled by controller -->
					</div>

				</div>

            </div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'design'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<h2>{{ 'MODULELABEL.VOUCHER' | translate}}</h2>

				<div layout="row">

					<div md-color-picker ng-model="vm.module.data.voucher_font_color" md-color-alpha-channel="false" md-color-hsl="false" md-color-material-palette="false" md-color-rgb="false" label="{{'STYLES.FONT_COLOR' | translate}}" flex ng-change="vm.updateVoucherCanvas()"></div>

					<div md-color-picker ng-model="vm.module.data.voucher_background_color" md-color-alpha-channel="false" md-color-hsl="false" md-color-material-palette="false" md-color-rgb="false" label="{{'STYLES.BACKGROUND_COLOR' | translate}}" flex ng-change="vm.updateVoucherCanvas()"></div>

					<div md-color-picker ng-model="vm.module.data.voucher_code_background_color" md-color-alpha-channel="false" md-color-hsl="false" md-color-material-palette="false" md-color-rgb="false" label="{{'MODULES.VOUCHER.CODE_BACKGROUND' | translate}}" flex ng-change="vm.updateVoucherCanvas()"></div>

				</div>


				<h2>{{ 'MODULES.VOUCHER.DOWNLOAD_BUTTON' | translate}}</h2>

				<button-design ng-model="vm.module.data.css" field="'button'"></button-design>

				<h2>{{ 'STYLES.WRAPPER' | translate}}</h2>

				<design-form module="vm.module" type="'padding'"></design-form>

				<design-form module="vm.module" type="'margin'"></design-form>

				<background-design ng-model="vm.module.data.css.wrapper"></background-design>

			</div>

			<div class="md-dialog-content" ng-show="vm.currentNavItem == 'advanced'">

				<module-errors errors="vm.module.data.errors"></module-errors>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_ID' | translate}}</label>
					<input ng-model="vm.module.data.html_id" maxlength="100">
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>{{ 'POIS.CSS_CLASSES' | translate}}</label>
					<input ng-model="vm.module.data.html_classes" maxlength="255">
				</md-input-container>

			</div>

        </md-dialog-content>

		<md-dialog-actions>

			<md-button class="md-warn" ng-click="vm.delete()" ng-disabled="vm.poiIsLockedByAnotherUser">
				{{ 'COMMON.DELETE' | translate}}
	  		</md-button>
	  		<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>

			<md-button class="md-primary md-raised" type="submit" ng-click="vm.submit()" ng-disabled="vm.poiIsLockedByAnotherUser || vm.disableSave">
				<md-progress-circular style="margin:auto;" ng-if="vm.disableSave" md-diameter="15"></md-progress-circular>
				<span ng-if="!vm.disableSave">{{ 'COMMON.SAVE' | translate}}</span>
			</md-button>

		</md-dialog-actions>

    </form>

</md-dialog>
