
#voucher_module_dialog_form {

	.barcode-preview {
		width: 200px;
		height: 200px;
		margin-bottom: 35px;
	}

	.select-button {
		margin-left: 0;
	}

	.voucher-div {
		margin-bottom: 35px;
		border: 1px solid black;
		width: 440px;
	}

	.container {
		height: 94px;
	}

	.bc-type {
		margin-left: 6px;
	}

	.participation {
		padding: 2px;
		margin: 18px;
	}


	image-preview {

		.image-container {
			width: 100px;
			height: 100px;
		}

	}

}