
<form name="poiDesignForm">

	<div class="section">

		<header>
			<h1>{{ 'ADMIN.DESIGN.GENERAL' | translate }}</h1> <!--<faq-link faq-id="'design_overwrite'"></faq-link>-->
		</header>

		<div class="settings-row" layout="row">

			<font-select class="settings-input" ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.body['font-family']" ng-change="vm.designChanged()"></font-select>

		</div>

		<div class="settings-row" layout="row">

			<div class="color-picker" md-color-picker ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.body.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}" ng-change="vm.designChanged()" ></div>

			<poi-design-default-value default-value="vm.$localStorage.design.body.color" value-type="'color'"></poi-design-default-value>

		</div>

	</div>

	<div class="section">

		<header>
			<h1>{{ 'ADMIN.DESIGN.CONTENT' | translate }}</h1>
		</header>

		<div class="settings-row" layout="row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_LEFT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_app['padding-left']" ng-change="vm.designChanged()" name="generalPaddingLeft" clear-input units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_app['padding-left']"></poi-design-default-value>

		</div>
		<div class="settings-row" layout="row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_RIGHT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_app['padding-right']" ng-change="vm.designChanged()" name="generalPaddingRight" clear-input units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_app['padding-right']"></poi-design-default-value>

		</div>

		<div class="background-row" layout="row" layout-align="start start">
			<div class="label background-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.BACKGROUND' | translate }}</div>
			<background-design ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_app" ng-change="vm.designChanged()"></background-design>
		</div>

		<div ng-hide="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo == 'invisible'" layout="row" class="logo-settings poi-background">
			<span class="logo-spacer">&nbsp;</span>
			<poi-design-default-value default-value="vm.$localStorage.design.edward_app.background" value-type="'color'"></poi-design-default-value>
		</div>

	</div>
	<!--
	<div class="section">

		<header>
			<h1>Heading 1</h1>
			<span class="code">&lt;h1&gt;&lt;/h1&gt;</span>
		</header>

		<div layout="row">

			<div class="settings" layout="row">

				<div class="settings-row" layout="row">

					<md-input-container class="md-block settings-input">
						<label>{{ 'STYLES.FONT_SIZE' | translate }}</label>
						<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.h1.fontSize" ng-change="vm.designChanged()" units-input></input>
					</md-input-container>

					<poi-design-default-value default-value="vm.$localStorage.design.h1.fontSize"></poi-design-default-value>

				</div>

				<div class="settings-row" layout="row">

					<div class="color-picker" md-color-picker ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.h1.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}" ng-change="vm.designChanged()" ></div>

					<poi-design-default-value default-value="vm.$localStorage.design.h1.color" value-type="'color'"></poi-design-default-value>

				</div>

				<div class="settings-row" layout="row">

					<md-input-container class="md-block settings-input">
						<label>{{ 'STYLES.FONT_FAMILY' | translate }}</label>
						<textarea ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.h1.css" ng-change="vm.designChanged()" units-input></textarea>
					</md-input-container>

					<poi-design-default-value default-value="vm.$localStorage.design.h1.css"></poi-design-default-value>

				</div>

			</div>

			<div layout="column" class="color-preview">

				<div flex></div>

				<div class="preview">
					<span class="h1" style="color:{{vm.$localStorage.design.h1.color}};color:{{vm.$localStorage.poi[vm.poiId].changes.poi_design.h1.color}};font-size:{{vm.$localStorage.design.h1.fontSize}};font-size:{{vm.$localStorage.poi[vm.poiId].changes.poi_design.h1.fontSize}}">Lorem Ipsum Dolor</span>
				</div>

				<div flex></div>

			</div>

		</div>

	</div>
	-->

	<div class="section">

		<header>
			<h1>{{ 'ADMIN.DESIGN.HEADER' | translate }}</h1>
		</header>

		<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_visible" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
			<div class="label">{{ 'ADMIN.DESIGN.VISIBILITY' | translate }}</div>
			<md-radio-button ng-value="'visible'">{{ 'COMMON.VISIBLE' | translate }}</md-radio-button>
			<md-radio-button ng-value="'invisible'">{{ 'COMMON.INVISIBLE' | translate }}</md-radio-button>
			<md-radio-button ng-value="'default'">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.header_visible" value-type="'radio'"></poi-design-default-value></md-radio-button>
		</md-radio-group>

		<div class="sub-section" ng-hide="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_visible == 'invisible'">

			<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_fixed" layout="row" layout-align="start center" ng-change="vm.designChanged();">
				<div class="label">{{ 'ADMIN.DESIGN.BEHAVIOR' | translate }}</div>
				<md-radio-button ng-value="'fixed'">{{ 'ADMIN.DESIGN.FIXED' | translate }}</md-radio-button>
				<md-radio-button ng-value="'scrollable'">{{ 'ADMIN.DESIGN.SCROLLABLE' | translate }}</md-radio-button>
				<md-radio-button ng-value="'default'">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.header_fixed" value-type="'radio'"></poi-design-default-value></md-radio-button>
			</md-radio-group>

			<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_format" layout="row" layout-align="start center" ng-change="vm.designChanged();">
				<div class="label">{{ 'ADMIN.DESIGN.ALIGN' | translate }}</div>
				<md-radio-button ng-value="'all_left'">{{ 'ADMIN.DESIGN.ALL_LEFT' | translate }}</md-radio-button>
				<md-radio-button ng-value="'all_center'">{{ 'ADMIN.DESIGN.ALL_CENTER' | translate }}</md-radio-button>
				<md-radio-button ng-value="'all_right'">{{ 'ADMIN.DESIGN.ALL_RIGHT' | translate }}</md-radio-button>
				<md-radio-button ng-value="'default'">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.header_format" value-type="'radio'"></poi-design-default-value></md-radio-button>
			</md-radio-group>

			<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_title" layout="row" layout-align="start center" ng-change="vm.designChanged();">
				<div class="label">{{ 'ADMIN.DESIGN.PAGE_TITLE' | translate }}</div>
				<md-radio-button ng-value="'visible'">{{ 'COMMON.VISIBLE' | translate }}</md-radio-button>
				<md-radio-button ng-value="'invisible'">{{ 'COMMON.INVISIBLE' | translate }}</md-radio-button>
				<md-radio-button ng-value="'default'">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.header_title" value-type="'radio'"></poi-design-default-value></md-radio-button>
			</md-radio-group>

			<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo" layout="row" layout-align="start center" ng-change="vm.designChanged();">
				<div class="label">{{ 'ADMIN.DESIGN.LOGO' | translate }}</div>
				<md-radio-button ng-value="'visible'">{{ 'COMMON.VISIBLE' | translate }}</md-radio-button>
				<md-radio-button ng-value="'invisible'">{{ 'COMMON.INVISIBLE' | translate }}</md-radio-button>
				<md-radio-button ng-value="'default'">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.header_logo" value-type="'radio'"></poi-design-default-value></md-radio-button>
			</md-radio-group>

			<div ng-hide="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo == 'invisible'" layout="row" layout-align="start center" class="logo-settings">

				<span class="logo-spacer">&nbsp;</span>

				<image-preview ng-if="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo_settings.id" image-id="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo_settings.id"></image-preview>
				<image-preview ng-if="!vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo_settings.id" image-id="vm.$localStorage.design.header_logo_settings.id"></image-preview>

				<image-selection with-preview="false" ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo_settings.id" on-select="vm.onSelect('header_logo')"></image-selection>

				<div class="from-parent" ng-show="!vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo_settings.id && vm.$localStorage.design.header_logo_settings.id">{{ 'ADMIN.DESIGN.FROM_DEFAULT' | translate}}</div>

				<div ng-hide="!vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo_settings.id && vm.$localStorage.design.header_logo_settings.id">
					<md-button ng-click="vm.clear('header_logo')">{{ 'ADMIN.SETTINGS.REMOVE_LOGO' | translate}}</md-button>
				</div>

			</div>

			<div class="background-row" layout="row" layout-align="start start">
				<div class="label background-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.BACKGROUND' | translate }}</div>
				<background-design ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header" ng-change="vm.designChanged()"></background-design>
			</div>

			<div ng-hide="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo == 'invisible'" layout="row" class="logo-settings">
				<span class="logo-spacer">&nbsp;</span>
				<poi-design-default-value default-value="vm.$localStorage.design.header.background" value-type="'color'"></poi-design-default-value>
			</div>

		</div>

		<div class="settings-row" layout="row">

			<div class="color-picker" md-color-picker ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}" ng-change="vm.designChanged()" ></div>

			<poi-design-default-value default-value="vm.$localStorage.design.header.color" value-type="'color'"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.FONT_SIZE' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header['font-size']" ng-change="vm.designChanged()" name="headerFontSize" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.header['font-size']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.HEADER_HEIGHT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header.height" ng-change="vm.designChanged()" name="headerHeight" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.header.height"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.LOGO_HEIGHT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo_height" ng-change="vm.designChanged()" name="headerLogoHeight" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.header_logo_height"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_TOP' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header['padding-top']" ng-change="vm.designChanged()" name="headerPaddingTop" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.header['padding-top']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_RIGHT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header['padding-right']" ng-change="vm.designChanged()" name="headerPaddingRight" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.header['padding-right']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_BOTTOM' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header['padding-bottom']" ng-change="vm.designChanged()" name="headerPaddingBottom" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.header['padding-bottom']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_LEFT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.header['padding-left']" ng-change="vm.designChanged()" name="headerPaddingLeft" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.header['padding-left']"></poi-design-default-value>

		</div>

	</div>

	<div class="section">

		<header>
			<h1>{{ 'ADMIN.DESIGN.FOOTER' | translate }}</h1>
		</header>

		<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_format" layout="row" layout-align="start center" ng-change="vm.designChanged();">
			<div class="label">{{ 'ADMIN.DESIGN.ALIGN' | translate }}</div>
			<md-radio-button ng-value="'all_center'">{{ 'ADMIN.DESIGN.ALL_CENTER' | translate }}</md-radio-button>
			<md-radio-button ng-value="'logo_left_content_right'">{{ 'ADMIN.DESIGN.LOGO_LEFT_CONTENT_RIGHT' | translate }}</md-radio-button>
			<md-radio-button ng-value="'logo_right_content_left'">{{ 'ADMIN.DESIGN.LOGO_RIGHT_CONTENT_LEFT' | translate }}</md-radio-button>
			<md-radio-button ng-value="'default'">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.footer_format" value-type="'radio'"></poi-design-default-value></md-radio-button>
		</md-radio-group>

		<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo" layout="row" layout-align="start center" ng-change="vm.designChanged();">
			<div class="label">{{ 'ADMIN.DESIGN.LOGO' | translate }}</div>
			<md-radio-button ng-value="'visible'">{{ 'COMMON.VISIBLE' | translate }}</md-radio-button>
			<md-radio-button ng-value="'invisible'">{{ 'COMMON.INVISIBLE' | translate }}</md-radio-button>
			<md-radio-button ng-value="'default'">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.footer_logo" value-type="'radio'"></poi-design-default-value></md-radio-button>
		</md-radio-group>

		<div ng-hide="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo == 'invisible'" layout="row" layout-align="start center" class="logo-settings">

			<span class="logo-spacer">&nbsp;</span>

			<image-preview ng-if="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo_settings.id" image-id="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo_settings.id"></image-preview>
			<image-preview ng-if="!vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo_settings.id" image-id="vm.$localStorage.design.footer_logo_settings.id"></image-preview>

			<image-selection with-preview="false" ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo_settings.id" on-select="vm.onSelect('footer_logo')"></image-selection>

			<div class="from-parent" ng-show="!vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo_settings.id && vm.$localStorage.design.footer_logo_settings.id">{{ 'ADMIN.DESIGN.FROM_DEFAULT' | translate}}</div>

			<div ng-hide="!vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo_settings.id && vm.$localStorage.design.footer_logo_settings.id">
				<md-button ng-click="vm.clear('footer_logo')">{{ 'ADMIN.SETTINGS.REMOVE_LOGO' | translate}}</md-button>
			</div>

		</div>

		<div class="background-row" layout="row" layout-align="start start">
			<div class="label background-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.BACKGROUND' | translate }}</div>
			<background-design ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer" ng-change="vm.designChanged()"></background-design>
		</div>

		<div ng-hide="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo == 'invisible'" layout="row" class="logo-settings">
			<span class="logo-spacer">&nbsp;</span>
			<poi-design-default-value default-value="vm.$localStorage.design.footer.background" value-type="'color'"></poi-design-default-value>
		</div>

		<div class="settings-row" layout="row">

			<div class="color-picker" md-color-picker ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer.color" md-color-material-palette="false" label="{{'STYLES.FONT_COLOR' | translate}}" ng-change="vm.designChanged()" ></div>

			<poi-design-default-value default-value="vm.$localStorage.design.footer.color" value-type="'color'"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.FONT_SIZE' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer['font-size']" ng-change="vm.designChanged()" name="footerFontSize" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.footer['font-size']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.FOOTER_HEIGHT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer.height" ng-change="vm.designChanged()" name="footerHeight" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.footer.height"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.LOGO_HEIGHT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer_logo_height" ng-change="vm.designChanged()" name="footerLogoHeight" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.footer_logo_height"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_TOP' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer['padding-top']" ng-change="vm.designChanged()" name="footerPaddingTop" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.footer['padding-top']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_RIGHT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer['padding-right']" ng-change="vm.designChanged()" name="footerPaddingRight" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.footer['padding-right']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_BOTTOM' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer['padding-bottom']" ng-change="vm.designChanged()" name="footerPaddingBottom" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.footer['padding-bottom']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'ADMIN.DESIGN.PADDING_LEFT' | translate }}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.footer['padding-left']" ng-change="vm.designChanged()" name="footerPaddingLeft" units-input>
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.footer['padding-left']"></poi-design-default-value>

		</div>

	</div>

	<div class="section">

		<header>
			<h1>{{ 'STYLES.BUTTON' | translate}}</h1>
		</header>

		<div layout="row" class="settings-row">

			<div class="color-picker" md-color-picker ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button.color" md-color-material-palette="false" label="{{ 'STYLES.FONT_COLOR' | translate }}" ng-change="vm.designChanged()"></div>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button.color" value-type="'color'"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'STYLES.FONT_SIZE' | translate}}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['font-size']" units-input name="design_button_font_size" ng-change="vm.designChanged()">
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button['font-size']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['font-weight']" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
				<div class="label">{{ 'STYLES.FONT_WEIGHT' | translate }}</div>
				<md-radio-button ng-value="'normal'">{{ 'STYLES.NORMAL' | translate }}</md-radio-button>
				<md-radio-button ng-value="'bold'">{{ 'STYLES.BOLD' | translate }}</md-radio-button>
				<md-radio-button ng-value="''">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.edward_button['font-weight']" value-type="'radio'"></poi-design-default-value></md-radio-button>
			</md-radio-group>

		</div>

		<div layout="row" class="settings-row">

			<md-radio-group ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['text-transform']" layout="row" layout-align="start center" ng-change="vm.designChanged();" class="sub-section">
				<div class="label">{{ 'STYLES.TEXT_TRANSFORM' | translate }}</div>
				<md-radio-button ng-value="'initial'">{{ 'STYLES.INITIAL' | translate }}</md-radio-button>
				<md-radio-button ng-value="'uppercase'">{{ 'STYLES.UPPERCASE' | translate }}</md-radio-button>
				<md-radio-button ng-value="'lowercase'">{{ 'STYLES.LOWERCASE' | translate }}</md-radio-button>
				<md-radio-button ng-value="''">{{ 'COMMON.DEFAULT' | translate }}<poi-design-default-value default-value="vm.$localStorage.design.edward_button['text-transform']" value-type="'radio'"></poi-design-default-value></md-radio-button>
			</md-radio-group>

		</div>

		<div class="background-row" layout="row" layout-align="start start">
			<div class="label background-label">{{ 'ADMIN.DESIGN.BACKGROUND_DESIGN.BACKGROUND' | translate }}</div>
			<background-design ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button" ng-change="vm.designChanged()"></background-design>
		</div>

		<div ng-hide="vm.$localStorage.poi[vm.poiId].changes.poi_design.header_logo == 'invisible'" layout="row" class="logo-settings">
			<span class="logo-spacer">&nbsp;</span>
			<poi-design-default-value default-value="vm.$localStorage.design.edward_button.background" value-type="'color'"></poi-design-default-value>
		</div>

		<div layout="row" class="settings-row">

			<div class="color-picker" md-color-picker ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['border-color']" md-color-material-palette="false" label="{{ 'STYLES.BORDER_COLOR' | translate }}" ng-change="vm.designChanged()"></div>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button['border-color']" value-type="'color'"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'STYLES.BORDER_WIDTH' | translate}}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['border-width']" units-input name="design_button_border_width" ng-change="vm.designChanged()">
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button['border-width']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'STYLES.BORDER_RADIUS' | translate}}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['border-radius']" units-input allowed="px,%" name="design_button_border_width" ng-change="vm.designChanged()">
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button['border-radius']"></poi-design-default-value>

		</div>


		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'STYLES.PADDING_TOP' | translate}}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['padding-top']" units-input name="design_button_border_width" ng-change="vm.designChanged()">
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button['padding-top']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'STYLES.PADDING_RIGHT' | translate}}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['padding-right']" units-input name="design_button_border_width" ng-change="vm.designChanged()">
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button['padding-right']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'STYLES.PADDING_BOTTOM' | translate}}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['padding-bottom']" units-input name="design_button_border_width" ng-change="vm.designChanged()">
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button['padding-bottom']"></poi-design-default-value>

		</div>

		<div layout="row" class="settings-row">

			<md-input-container class="md-block settings-input">
				<label>{{ 'STYLES.PADDING_LEFT' | translate}}</label>
				<input ng-model="vm.$localStorage.poi[vm.poiId].changes.poi_design.edward_button['padding-left']" units-input name="design_button_border_width" ng-change="vm.designChanged()">
			</md-input-container>

			<poi-design-default-value default-value="vm.$localStorage.design.edward_button['padding-left']"></poi-design-default-value>

		</div>

	</div>

	<div class="section">

		<header>
			<h1>{{ 'POIS.RESET_DEISGN' | translate }}</h1>
		</header>

		<md-button class="md-raised md-warn" ng-click="vm.resetDesign()">{{ 'POIS.RESET_DEISGN' | translate }}</md-button>

	</div>

</form>
