
poi-design {

	.section {

		border-top: 1px solid rgba(0,0,0,0.12);

		&:first-child {
			border-top: 0px;
		}

		.sub-section {
			padding: 0 0 20px 0;
		}

		header {

			h1 {
				display: inline-block;
				vertical-align: middle;
			}

			.code {
				margin: 0 0 0 10px;
				display: inline-block;
				vertical-align: middle;
				font-family: 'Inconsolata', monospace;
				font-weight: normal;
				font-size: 14px;
			}

		}

		md-radio-group {
			padding: 10px 0;
		}

		.label {
			padding: 0 20px 0 0;
			display: inline-block;
			width: 180px;
			font-weight: 500;
		}

		.background-label {
			width: 160px;
		}

		.poi-background {
			margin-bottom: 20px;
		}

		.logo-spacer {
			width: 180px;
		}

		.logo-settings {
			margin-top: 10px;
		}

		.logo-preview {
			margin-right: 20px;
			height: 70px;
		}

		.color-picker,
		.settings-input {
			width: 200px;
		}

		.settings-row {

			poi-design-default-value {

				padding: 0 0 0 40px;

				.value-wrapper {
					margin: 27px 0 0 0;
				}

			}

		}

		.background-row {

			padding: 10px 0 0;

		}

		.settings {
			display: inline-block;
		}

		.color-preview {

			margin-left: 20px;

		}

		.preview {

			display: inline-block;

			.h1 {
				font-weight: bold;
			}

		}

		.from-parent {
			color: #989898;
			font-size: 14px;
			margin-right: 20px;
		}

		image-preview {

			.image-container {
				width: 100px;
				height: 100px;
			}

		}

	}

}