<div layout="row" layout-align="center center" ng-style="vm.backgroundImage">

	<div class="login-form-container public-form-container" layout="column" layout-align="center center">

		<!-- <a href="https://rakete7.com" target="_blank"><img class="r7-login-logo" src="img/R7.png"></a> -->

		<img class="product-login-logo" ng-src="{{vm.productLogo}}">

		<login-form></login-form>

		<div layout layout-align="space-between center" class="sub-links">
			<a class="change-page-link" ng-if="!vm.lockedAccount" href="#/forgot-password">{{ 'PUBLIC.FORGOT_PASSWORD' | translate }}</a>
			<!-- <a class="change-page-link" ng-if="!vm.lockedAccount" href="#/register">{{ 'PUBLIC.REGISTER_NOW' | translate }}</a> -->
		</div>

	</div>

</div>
