<div class="generic-search">
	<md-input-container md-no-float class="md-icon-right md-block">
		<md-icon class="material-icons">search</md-icon>
		<input ng-model="vm.$localStorage[vm.listName].search" type="text" placeholder="{{ 'COMMON.SEARCH' | translate }}" ng-change="vm.onChange()" ng-model-options="{ debounce: 300 }">
		<md-icon class="material-icons" class="reset-search" ng-if="vm.$localStorage[vm.listName].search" ng-click="vm.resetSearch()">close</md-icon>
	</md-input-container>
</div>