<md-content layout="row" layout-fill>

	<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('min-width: 333px')" md-disable-backdrop>
		<side-menu></side-menu>
	</md-sidenav>

	<md-content layout="column" layout-fill>

		<md-toolbar id="main_header">
			<app-header></app-header>
		</md-toolbar>

		<md-content id="main_content" layout="column" in-view-container flex>
			<div ui-view="main" layout-padding></div>
		</md-content>

	</md-content>

</md-content>