media-upload {

	.drop-box {

		padding: 20px;
		border: 4px dashed rgba(221, 221, 221, 0.32);
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		text-align: center;

		&.dragover {
			border: 4px dashed $primary;
		}

	}

	.upload-log {
		font-size: 12px;
	}

}