<md-content layout-padding>

	<div ngf-drop ngf-select ng-model="files" class="drop-box"
        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
        accept="{{vm.allowedTypes}}">{{ 'MEDIA.UPLOADINSTRUCTIONS' | translate }}</div>

	<div ng-if="vm.uploadLog" class="upload-log">
		{{vm.uploadLog.file_number}}/{{vm.uploadLog.total_count}}: {{vm.uploadLog.file_name}}
		<md-progress-linear md-mode="determinate" value="{{vm.uploadLog.percentage}}"></md-progress-linear>
	<div>

    <div ng-repeat="item in vm.uploader.queue">

        <md-progress-linear md-mode="determinate" value="{{vm.uploader.progress}}"></md-progress-linear>

    </div>

</md-content>
