<md-dialog class="default-dialog default-height-dialog">

	<form ng-submit="vm.save()">

		<md-toolbar>

			<div class="md-toolbar-tools">
				<h2>{{ 'MEDIA.UPLOAD' | translate}}</h2>
			</div>

		</md-toolbar>

		<md-dialog-content class="dialog-has-no-navigation">

			<div class="md-dialog-content" ng-if="!vm.customMimeType">

				<media-upload is-dialog="true" dialog-selected-type="vm.type"></media-upload>

				<media is-dialog="true" disabled-files="vm.disabledFiles" dialog-selected-type="vm.type" allow-multiple-selections="vm.allowMultipleSelections"></media>

			</div>

			<div class="md-dialog-content" ng-if="vm.customMimeType">

				<media-upload is-dialog="true" dialog-selected-type="'custom'" custom-mime-type="vm.customMimeType"></media-upload>

				<media is-dialog="true" disabled-files="vm.disabledFiles" dialog-selected-type="'custom'" custom-mime-type="vm.customMimeType" allow-multiple-selections="vm.allowMultipleSelections"></media>

			</div>

		</md-dialog-content>

		<md-dialog-actions>

			<md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CANCEL' | translate}}</md-button>
			<md-button class="md-primary md-raised" type="submit" ng-disabled="!vm.selectedFile">{{ 'COMMON.SAVE' | translate}}</md-button>

		</md-dialog-actions>

	</form>

</md-dialog>
