
<div layout="row" layout-align="start center">

	<image-preview image-id="vm.ngModel" ng-if="vm.withPreview" dont-resize="vm.dontResize"></image-preview>

	<md-button ng-click="vm.openDialog()" class="md-raised">{{ 'MODULES.SELECT_IMAGE' | translate }}</md-button>

	<md-button ng-if="vm.onClear" ng-click="vm.onClear()">{{ 'ADMIN.SETTINGS.REMOVE_LOGO' | translate }}</md-button>

</div>