superadmin-login {

	#main_header {

		.breadcrumbs {
			padding: 0 20px;
		}

	}

	.superadmin-list {

		width: 750px;
		max-width: 100%;

		.tenant {

			margin: 20px;
			padding: 20px;
			background: #fff;
			@include boxshadow();

			.tenant-name {
				padding: 0 0 12px 0;
				font-weight: 500;
				text-transform: uppercase;
				border-bottom: 1px solid #f6f6f6;
			}

		}

		.user {

			padding: 12px 0;
			border-bottom: 1px solid #f6f6f6;

			.user-name {
				font-weight: 500;
			}

		}

	}

}