<div layout="row" layout-align="center center">

	<div class="superadmin-list">

		<div ng-repeat="tenant in vm.tenants | filter:vm.$localStorage.superadminSearch" ng-if="vm.tenants" class="tenant">

			<div class="tenant-name">{{tenant.name}}</div>

			<div ng-repeat="user in tenant.users" class="user" layout="row" layout-align="center center">

				<div class="user-details">
					<div class="user-name">{{user.firstname}} {{user.lastname}}</div>
					<div>{{user.role}} | {{user.email}}</div>
				</div>

				<span flex></span>

				<md-button class="md-secondary" ng-click="vm.login(user.id);">LOGIN</md-button>

			</div>

		</div>

		<spinner ng-if="!vm.tenants"></spinner>

	</div>

</div>