<md-dialog class="fullscreen-dialog" id="poi_preview_dialog">

        <md-dialog-content>

			<div class="close">
				<md-button ng-click="vm.cancel();" class="md-icon-button">
					<i class="material-icons">close</i>
				</md-button>
			</div>

			<div layout="column" layout-align="center center" class="size-container">

				<div layout="row">

					<md-input-container class="selection">

						<label>{{ 'POIS.SELECT_SCREEN_SIZE' | translate }}</label>

						<md-select ng-model="vm.$localStorage.selectedPreviewDevice">

							<md-option ng-repeat="(name, data) in vm.devices" ng-value="name">
								{{name}} ({{data.width}} x {{data.height}})
							</md-option>

						</md-select>

					</md-input-container>


					<md-input-container class="selection" ng-if="vm.showContentSelection">

						<label>{{ 'POIS.SELECT_LANGUAGE' | translate }}</label>

						<md-select ng-model="vm.language" ng-change="vm.onLanguageChange()">

							<md-option ng-repeat="content in vm.poi.poi_contents" ng-value="content.language">
								{{ vm.LanguageNamesService.getLanguage(content.language).nativeName }}
							</md-option>

						</md-select>

					</md-input-container>

				</div>

				<div class="forward-hint" ng-if="vm.showUrlModeHint">
					{{ vm.urlModeHint }}
				</div>

				<div class="forward-hint" ng-if="vm.showTimeHint">
					{{ 'POIS.TIME_HINT' | translate }}
				</div>

				<div layout="column" layout-gt-sm="row" layout-align="center center" ng-if="vm.showTimeHint">

						<span class="show-poi-at">{{ 'POIS.SHOW_POI_AT' | translate }}</span>

						<md-input-container class="selection">

							<label>{{ 'POIS.SELECT_TIMED_GROUP' | translate }}</label>

							<md-select ng-model="vm.previewTime" ng-change="vm.onTimeChange()">

								<md-option ng-value="'now'">{{ 'COMMON.NOW' | translate }}</md-option>

								<md-option ng-repeat="timeOption in vm.times" ng-value="timeOption.time">
									{{timeOption.group.label}}
									<span class="actual-date">({{timeOption.displayTime}})</span>
								</md-option>

							</md-select>

						</md-input-container>

				</div>

				<md-switch ng-if="vm.hiddenElements" class="md-primary" ng-model="vm.hiddenElementsVisible" ng-change="vm.updatePreview()" aria-label="elements hidden">
					{{ 'POIS.SHOW_HIDDEN_ELEMENTS' | translate }}
				</md-switch>

				<div class="device">
					<iframe id="preview_frame" ng-src="{{vm.previewUrl}}" width="{{vm.devices[vm.$localStorage.selectedPreviewDevice].width}}" height="{{vm.devices[vm.$localStorage.selectedPreviewDevice].height}}"></iframe>
				</div>

			</div>

        </md-dialog-content>

</md-dialog>
