
#poi_preview_dialog {

	max-width: 100% !important;

	md-dialog-content {

		text-align: center;

		.close {
			position: absolute;
			top: 10px;
			right: 10px;
		}

		.size-container {
			margin-top: 10px;
		}

		.selection {
			margin: 30px 10px;
			text-align: left;
			min-width: 150px;
		}

		.device {

			margin: 0 0 20px 0;
			padding: 75px 30px;
			display: inline-block;
			background: #212121;
			border-radius: 55px;

			iframe {
				border: 0;
			}

		}

		.forward-hint {
			width: 70%;
			margin: 0 auto;
			font-size: 20px;
			font-weight: bold;
		}

		.actual-date {
			color: rgba(0,0,0,0.54)
		}

		.show-poi-at {
			margin: 15px 0;
		}

	}

}