<div id="newsletter_configurations_list" flex>

	<div>

		<div class="header" layout="row">
			<div flex="75">
				<a ng-click="vm.sortBy('name')">
					<span class="column-title">{{ 'COMMON.NAME' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.NewsletterConfigurationSort.propertyName === 'name'" ng-class="{reverse: vm.$localStorage.NewsletterConfigurationSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>
			<div flex="10" class="type">
                <a ng-click="vm.sortBy('type')">
					<span class="column-title">{{ 'COMMON.TYPE' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.NewsletterConfigurationSort.propertyName === 'type'" ng-class="{reverse: vm.$localStorage.NewsletterConfigurationSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>
			<div flex="10">
				<a ng-click="vm.sortBy('date')">
					<span class="column-title">{{ 'TOUCHPOINTS.UPDATED_AT' | translate }}</span>
					<md-icon class="material-icons" ng-show="vm.$localStorage.NewsletterConfigurationSort.propertyName === 'date'" ng-class="{reverse: vm.$localStorage.NewsletterConfigurationSort.reverse}">arrow_drop_down</md-icon>
				</a>
			</div>
		</div>

		<div ng-if="vm.$localStorage['newsletter-configurationsList'][vm.$localStorage['newsletter-configurationsList'].use] && vm.$localStorage['newsletter-configurationsList'].refreshed">

			<div class="item" layout="row" ng-repeat="newsletterConfiguration in vm.$localStorage['newsletter-configurationsList'][vm.$localStorage['newsletter-configurationsList'].use] | orderBy:vm.$localStorage.NewsletterConfigurationSort.propertyName:vm.$localStorage.NewsletterConfigurationSort.reverse" layout-align="center center">

				<div flex="75">
					{{newsletterConfiguration.name}}
				</div>

				<div flex="10" class="type">
					{{newsletterConfiguration.type}}
				</div>

				<div class="date" flex="10">
					{{newsletterConfiguration.updated_at | amDateFormat:'DD.MM.YYYY'}}<br> {{newsletterConfiguration.updated_at | amDateFormat:'HH:mm:ss'}}
				</div>

				<div class="actions" flex>
					<md-button href="#/newsletter-configurations/{{newsletterConfiguration.id}}" class="md-icon-button">
						<i class="material-icons">edit</i>
					</md-button>
				</div>

			</div>

		</div>

		<div class="no-data item" ng-if="(!vm.$localStorage['newsletter-configurationsList'][vm.$localStorage['newsletter-configurationsList'].use] || vm.$localStorage['newsletter-configurationsList'][vm.$localStorage['newsletter-configurationsList'].use].length == 0) && !vm.$localStorage['newsletter-configurationsList'].loading">

			<span ng-if="vm.$localStorage['newsletter-configurationsList'].use == 'data'">{{ 'NEWSLETTER_CONFIGURATIONS.NO_CONFIGURATIONS' | translate }}</span>
			<span ng-if="vm.$localStorage['newsletter-configurationsList'].use == 'searchData'">{{ 'COMMON.NO_SEARCH_RESULTS' | translate }}</span>

		</div>

	</div>

	<infinite-scrolling type="'newsletter-configurations'"></infinite-scrolling>

	<spinner ng-if="!vm.$localStorage['newsletter-configurationsList'][vm.$localStorage['newsletter-configurationsList'].use] || vm.$localStorage['newsletter-configurationsList'].loading"></spinner>

</div>
