
#newsletter_configurations_list {

	background: #fff;
	-webkit-box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);
	box-shadow: 0 0 1px 0.5px rgba(224,224,224,1);

	.header {

		margin: 0 20px;
		padding: 15px 0 10px 0;
		border-bottom: 2px solid #f4f4f4;
		color: rgba(35,35,45,1);
		font-weight: 500;

		.column-title {
			vertical-align: middle;
		}

		a {
			cursor: pointer;
		}

		.type {
			text-align: center;
		}

		.languages {
			text-align: center;
		}

		.reverse {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}

	}

	.item {

		margin: 0 20px;
		padding: 10px 0;
		border-bottom: 1px solid #f4f4f4;
		color: rgba(35,35,45,.7);

		-o-transition:.2s;
		-ms-transition:.2s;
		-moz-transition:.2s;
		-webkit-transition:.2s;
		transition:.2s;

		> div {
			vertical-align: middle;
		}

		.type {
			text-align: center;
		}

		.languages {
			text-align: center;
		}

		.poi-language {

			text-transform: uppercase;

			&.default-language {
				font-weight: bold;
			}

		}

		.date {
			font-size: 14px;
		}

		.status {

			text-align: center;

			.public {
				color: $green;
			}

			.draft {
				color: $orange;
			}

		}

		.actions {

			text-align: left;

			a {
				margin: 0 0 0 5px;
				cursor: pointer;
				text-decoration: none;
			}

			.material-icons {
				width: 20px;
				height: 20px;
				-o-transition:.2s;
				-ms-transition:.2s;
				-moz-transition:.2s;
				-webkit-transition:.2s;
				transition:.2s;
				color: rgba(35,35,45,.7);

			}

		}

		&:hover {

			color: rgba(35,35,45,1);

			.material-icons {
				color: rgba(35,35,45,1);
			}

			.public {
				color: $green;
			}

			.draft {
				color: $orange;
			}

		}

	}

	.no-data {
		padding: 20px;
		text-align: center;
	}

}
