<md-dialog>

    <form ng-submit="vm.save()">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'MICRO_PAYMENTS.SHOW_TRANSACTIONS' | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div ng-if="vm.micropaymentTransactionsLoaded" class="md-dialog-content">

                <md-list flex>
                    <md-subheader class="md-no-sticky">

                        {{ 'MICRO_PAYMENTS.LATEST_TRANSACTIONS' | translate}}
                        <span ng-if="vm.microPaymentTransactions.length == 0">{{ 'MICRO_PAYMENTS.NO_TRANSACTIONS' | translate}}</span>

                    </md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="mpt in vm.microPaymentTransactions" ng-click="null">
                        <md-icon class="material-icons">credit_card</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ mpt.transaction.created_at }}</h3>
                            <h4>{{ mpt.transaction.amount/100 }} {{mpt.transaction.currency}}</h4>
                            <p>
                                <span ng-if="mpt.charge.paid">{{ 'MICRO_PAYMENTS.CHARGE_PAID' | translate}}</span>
                                <span ng-if="!mpt.charge.paid">{{ 'MICRO_PAYMENTS.CHARGE_NOT_PAID' | translate}}</span>
                                <span>Substance ID: {{mpt.transaction.id}}</span>
                                <span>Stripe ID: {{mpt.transaction.stripe_id}}</span>
                            </p>
                        </div>
                    </md-list-item>
                </md-list>

            </div>

            <div ng-if="!vm.micropaymentTransactionsLoaded" class="md-dialog-content">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>


        </md-dialog-content>

        <md-dialog-actions>

            <md-button ng-if="vm.skip > 0" ng-click="vm.loadMoreMicroPaymentTransactions('before')">{{ 'MICRO_PAYMENTS.PAGE_PREV' | translate }}</md-button>
            <md-button ng-if="vm.microPaymentTransactions.length == 10" ng-click="vm.loadMoreMicroPaymentTransactions('after')">{{ 'MICRO_PAYMENTS.PAGE_NEXT' | translate }}</md-button>

            <md-button type="button" ng-click="vm.cancel()">{{ 'COMMON.CLOSE' | translate}}</md-button>

        </md-dialog-actions>


</md-dialog>
